﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="bar.aspx.cs" Inherits="memov5entity.bar" %>

<html>
<head>
<title></title>
</head>
<body style="margin:0px;">
    <asp:Literal ID="Literal1" runat="server" ></asp:Literal>
</body>
</html>