﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="general_marquee.aspx.cs" Inherits="memov5entity.general_marquee" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<div dir="rtl" style="background-color:Red; float:right; color:Yellow; width:100%;">1- لإختيار شريط الأخبار من نماذج جاهزة</div>
<table>
<tr><td>
    <textarea id="TextArea1" rows="3" cols="30" rows="2" readonly="readonly"><iframe scrolling="no" src='http://islammemo.cc/general_marquees.aspx?type=1'></iframe></textarea></td><td><iframe scrolling="no" height="20px" src='/general_marquees.aspx?type=1'></iframe></td><td>نموذج اول</td></tr>
<tr><td><textarea id="TextArea2" rows="3" cols="30" rows="2" readonly="readonly"><iframe scrolling="no" src='http://islammemo.cc/general_marquees.aspx?type=2'></iframe></textarea></td><td><iframe scrolling="no" src='/general_marquees.aspx?type=2'></iframe></td><td>نموذج ثاتى</td></tr>
<tr><td><textarea id="TextArea3" rows="3" cols="30" rows="2"  readonly="readonly"><iframe scrolling="no" src='http://islammemo.cc/general_marquees.aspx?type=3'></iframe></textarea></td><td><iframe scrolling="no" src='/general_marquees.aspx?type=3'></iframe></td><td>نموذج ثالث</td></tr>
</table>
<div dir="rtl" style="background-color:Red; float:right; color:Yellow; float:right; width:100%">2- للتحكم في كيفية عرض شريط الأخبار بما يناسب موقعك <a href="/shreetlogin.aspx" style="font-size:16px; font-weight:bold; color:Yellow;">إضغط هنا </a> </div>
   </asp:Content>
   
   <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <title>شريط أخبار مفكرة الإسلام</title>
  
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
شريط أخبار مفكرة الإسلام
</asp:Content>