﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="mailing_list_remove_email.aspx.cs" Inherits="memov5entity.mailing_list_remove_email" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style=" background-color:Red; color:Yellow; font-size:xx-large; font-weight:bolder;">
    تم الغاء اشتراكك  من القائمة البريدية لموقع مفكرة ال÷سلام
    </div>
    </form>
</body>
</html>
