﻿<table bgcolor="#FFFFFF" height="209" width="100%">
  <tr>
    <td valign="top">
      <table border="0" cellspacing="8" cellpadding="0" width="100%" align="center" nowrap="">
        <tr>
          <td>

            <div dir="rtl">
              السلام عليكم ورحمة الله وبركاته %name_to%<br>
                يود صديقك %name_from% إطلاعك على هذه المقالة/الخبر من موقع مفكرة الإسلام
                <br/>
                لقراءة المقالة/الخبر <a href="%article_link%">
                  إضغط هنا
                </a><br/>
                أو انسخ الرابط التالي في برنامج التصفح مباشرة
                <br/>
                %article_link%
                <br/>
                مفكرة الإسلام ... اقصد البحر وخل القنوات <br/>
                <a href="http://www.islammemo.cc/">http://www.islammemo.cc/</a>
                <br/>


              </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<hr />
<div align='center'>
  <a href='http://www.mutawef.com/' target='_blank'> <img style='margin:20px;' src='http://islammemo.cc/images/flash/mutawef.gif'  width='240' height='60' border='0'/>  </a>
  <a href='http://www.almosaly.com/' target='_blank'><img src='http://islammemo.cc/images/flash/musally.gif'  style='margin:20px;' border='0'/> </a>
</div>
<hr />