﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testlazyloading.aspx.cs" Inherits="memov5entity.testlazyloading" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <img src="img/loading.gif"  data-original="http://38.121.76.242/memoadmin/media//version4_%D9%85%D8%B4%D8%B1%D9%88%D8%A8%D8%A7%D8%AA%20%D8%AF%D8%A7%D9%8A%D8%AA.jpg" width="640" height="480" />
        <br />
        <img src="img/loading.gif" data-original="http://38.121.76.242/memoadmin/media//version4_%D9%85%D9%82%D8%A7%D8%AA%D9%84%D9%88%20%D8%AD%D8%B2%D8%A8%20%D8%A7%D9%84%D9%84%D9%87.jpg" width="640" height="480" />
        <br />
         <img src="img/loading.gif" data-original="http://38.121.76.242/memoadmin/media/Saudi/version4_3748_wezara.jpg" width="640" height="480" />
        <br />
         <img src="img/loading.gif" data-original="http://38.121.76.242/memoadmin/media//version4_book.jpg" width="640" height="480" />
        <br />
         <img src="img/loading.gif" data-original="http://38.121.76.242/memoadmin/media//version4_%D9%85%D9%82%D8%A7%D8%AA%D9%84%D9%88%20%D8%AD%D8%B2%D8%A8%20%D8%A7%D9%84%D9%84%D9%87.jpg" width="640" height="480" />
        <br />
    </div>
    </form>
</body>
</html>

<script src="Scripts/jquery-1.7.1.min.js"></script>
<script src="js/lazylooding.js"></script>
<script>
    $("img").lazyload();
</script>
