
/* Start Navbar  */
body{
	direction:rtl;
	text-align:right;
	}

.nav-bg{
	height:30px;
	background-color: #4f4d4d;
	width:100%;
	padding:0 !important;
	}
	
.navbar{
	position:absolute !important;
	}
	
.nav {
	top:-3px;
	}
	
.fix-p {
	position:relative;
	}
	
.fix-p .des{
	position: absolute;
	bottom: 0px;
	font-weight: bold;
	color: #fff;
	font-size: 140%;
	background-image: url(../img/transparent_area.png);
	background-repeat:repeat;
	width: 100%;
	height: 27%;
	line-height: 139% !important;
	border-bottom: 5px solid #cc3e1a;
	overflow:hidden !important;
	
	}
	
.fix-p .des a{
	color:#fff;
	text-decoration:none;
	padding-right:1%;
}
	
/* End Navbar  */

/**logo start*/
.logo{
	
		width:36.6% !important;
		height:184.6% !important;
		background-image:url(../../islammemo_mobile14-5-2013/img/logo.png) !important;
		background-repeat:no-repeat !important;
		background-position: top right !important;
		background-color: transparent;
        border: medium none;
		padding: 14px 0px !important;
		margin-top:0 !important;
		margin-right:-1.5% !important;
		height:20px !important;
		
		}
		
.vertical_ads, .vertical_ads img{
	width:93.75% !important;
	margin-right:3.1%;
	margin-top:.5%;
	}
	
.today_news_header{
	width:100% !important;
	background-color:#e4e4e4;
	color:#737373;
	}
	
.today_news_header p{
	padding-top: .5%;
	padding-right: 1%;
	font-size: 120%;
	font-weight: bold;
	float:right;
	}
	
.today_news_header a{
	color:#c14016;
	font-size: 120%;
	font-weight: bold;
	padding-top: .5%;
	padding-left: 1%;
	float:left;
	}
	
.latest_update{height:20px !important}
.latest_update p{
	float: left;
	margin-left: 10%;
	margin-top: .5%;
	color: #6c6c6c;
	font-size: 80%;}
	
.news_first {width: 87.5% !important;
			margin-right: auto !important;
			margin-left: auto !important;
			margin-top:2% !important ;
			height:10.7%;}
			

.news_time img{
	width:10% !important;
	height:10% !important;}
			
.news_first img {width:46.25%;
				 float:right;
				 margin-bottom:1%
				 
			}
.news_first div{
	margin-right:1%;
	height:60px;
	overflow:hidden;}
	
.news_first a{ color:#232323;
				font-weight: bold;
				font-size: 115%;
				position: relative;
				right: 2%;}
				
.news_first a:hover{
	text-decoration:none;}
	
.border_bottom{
				border-bottom:1px solid #e6e6e6;

	}
.news_time{
			height:22px !important;
			background-image:url(../../islammemo_mobile14-5-2013/img/clock.png);
			background-position: center right;
			background-repeat:no-repeat;
			width: 50.8%;
			float: left;
			margin-top: 1%;
			padding-right: 1%;
	}
.news_time p{
		font-size:80%;
		margin-right:7%
	}	
	/***second news**/
	.news_sec {width: 87.5% !important;
			margin-right: auto !important;
			margin-left: auto !important;
			margin-top:2% !important ;
			height:10.7%;}
			

.news_time img{
	width:10% !important;
	height:10% !important;}
			
.news_sec img {width:46.25%;
				 float:left;
				 margin-bottom:1%
				 
			}
.news_sec div{
	margin-left:1%;
	height:78.9%;}
	
.news_sec a{ color:#232323;
				font-weight: bold;
				font-size: 115%;
				position: relative;
				left: 2%;}
				
.news_sec a:hover{
	text-decoration:none;}
	
.border_bottom{
				border-bottom:1px solid #e6e6e6;

	}
	
	
	
/* start main menu */
#swipemenu {
	position: absolute;
	width: 100%;
	top: -40px;
	left: 0px;
	z-index: 2147483647;
	background-color:#4a4848;
}

.swipemenu-rested {
	/*background-color: #4f4d4d;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(97, 99, 98, .8);
	box-shadow: 0px 2px 4px 0px rgba(97, 99, 98, .8);*/
}

.swipemenu-pulled {
	background-color: none;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

#swipemenu nav {
	background-color: #FFF;
	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	top: -332px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(97, 99, 98, .8);
	box-shadow: 0px 2px 4px 0px rgba(97, 99, 98, .8);
	height: 355px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 100;
}

#swipemenu nav h3 {
	position: relative;
	/*float: left;*/
	clear: both;
	background-color: #cc3e1a;
	width: 100%;
	height: 23px;
	line-height: 23px;
	text-align: right;
	color: #FFF;
	font-size: 110%;
	margin: 0px;
}

#swipemenu nav h3 del {
	display: block;
	position: relative;
	float: right;
	width: 10px;
	height: 23px;
}

#swipemenu nav ul {
	padding:0px;
	margin: 0px;
	list-style-type: none;
	position: relative;
/*	float: left;*/
	clear: both;
	width: 100%;
}

#swipemenu nav ul li {
	position: relative;
	float: left;
	clear: both;
	width: 97%;
	height: 39px;
	line-height: 39px;
	list-style-type: square;

}

#swipemenu nav ul li a {
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	font-size: 100%;
/*	font-style: italic;*/
	color: #363939;
	text-decoration: none;
	width: 100%;
	height: 39px;
	display: block;
	border-bottom: 1px solid #EDEDED;
	text-indent: 30px;
}

#swipemenu nav ul li a:active {
	background-color: #D8D9D9;
}

#swipemenu nav ul li:last-child a{
	border: none;
}

.star {
	background: url(../../islammemo_mobile14-5-2013/img/star.png) no-repeat;
	background-position: 6px 10px;
}

.puller-rested {
	top: 26px;
}

.puller-dragged {
	bottom: 0px;
}

#puller {
	position: relative;
	left: 5px;
	width: 36.56%;
	height: 26.66%;
	z-index: 9999999;
}
  
#puller del {
	display: block;
	height: 2px;
	background-color: #ACADAE;
	-webkit-border-radius: 2px;
    border-radius: 2px;
}



#puller section img {
	position: relative;
	float: left;
	clear: both;
	margin-top: 14px;
	margin-bottom: 4px;
	width:100%
}

#puller section del {
	position: relative;
	float: left;
	clear: both;
	width: 21px;
	height: 3px;
	margin-left: 22px;
	background: rgb(151,0,0);
	background: -moz-linear-gradient(top,  rgba(151,0,0,1) 0%, rgba(116,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,0,0,1)), color-stop(100%,rgba(116,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(151,0,0,1) 0%,rgba(116,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(151,0,0,1) 0%,rgba(116,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(151,0,0,1) 0%,rgba(116,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(151,0,0,1) 0%,rgba(116,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970000', endColorstr='#740000',GradientType=0 );
	margin-bottom: 3px;
}

#swipemenu aside {
	margin-top: -29px;
	margin-left: 6px;
	position: relative;
	float: left;
	height: 26px;
	width: 200px;
	overflow:hidden;
}

#swipemenu aside a {
	display: block;
	position: relative;
	float: left;
	margin-right: 20px;
	margin-top: 4%;
}

#content-scroller {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	width:100%;
	height:200px;
	position: absolute;
	top: 45px;
	left:0px;
	z-index: 1;
}

article h2 {
	background-color: #D8D8CA;
	width: 100%;
	height: 22px;
	line-height: 22px;
	margin-left:0px;
	margin-right:0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #333636;
	font-size: 11px;
	font-weight: bold;
	text-indent: 6px;
	padding: 0px;
	display: block;
}

article p {
	margin-top: 10px;
	padding-top: 0px;
	padding-left: 6px;
	padding-right: 6px;
	color: #030303;
	font-weight: 500;
}

img {
	max-width: 100%;
	height: auto;
}

cite {
	font-size:12px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif img if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

/* end main menu */

/*****************menu style************************/
	.no_list_style{ list-style:none !important;
					list-style-type:none !important;}
	.menu_home {
		background-image: url(../img/home.png);
		background-position: center right;
		background-repeat: no-repeat;
		margin-right: 2%;
		width: 80% !important;
		padding-right:7%;
		font-size:115%;
		}
		
	.menu_search {
		background-image: url(../img/search_menu.png);
		background-position: center right;
		background-repeat: no-repeat;
		margin-right: 2%;
		width: 80% !important;
		padding-right:7%;
		}
		.menu_fav {
		background-image: url(../img/favourit.png);
		background-position: center right;
		background-repeat: no-repeat;
		margin-right: 2%;
		width: 80% !important;
		padding-right:7%;
		}
		.menu_support {
		background-image: url(../img/support.png);
		background-position: center right;
		background-repeat: no-repeat;
		margin-right: 2%;
		width: 80% !important;
		padding-right:7%;
		}
		.menu_contact {
		background-image: url(../img/contact.png);
		background-position: center right;
		background-repeat: no-repeat;
		margin-right: 2%;
		width: 80% !important;
		padding-right:7%;
		}
		
		
		/*********************************************/	  /* inner menu start here*/
	  .basictab ul{
		  margin-left: 0;
		/*  border-bottom: 1px solid gray;*/
		  list-style-type: none;
		  text-align: left;
		  direction:rtl;/*set to left, center, or right to align the menu as desired*/
		  font-family: Arial, Helvetica, sans-serif;
		  font-size: 12px;
		  font-weight: bold;
		  background:#4a4848;
		  background-repeat: repeat-x;
		  height:50%;
		  margin-bottom:0%;
  }
  
	  .basictab li{
		  display: inline;
		  margin: 0;
		  height:28px;
		/*  line-height: 200%;*/
			  }
  
	  .basictab li a{
	  color:#FFFFFF;
	  text-decoration:none;
	  font-size: 15px;
	  font-weight: bold;
	    padding-right: 2%;
		padding-left: 2%;
	  }
  
	  /*.basictab li a:hover, .basictab li  a.current{
	  color: #FFF;
	  background-image: url(img/slice2_menu.jpg);
	  background-repeat: repeat-x;
	  height: 28px;
	  font-weight: bold;}*/
	  
  
	  .basictab li a:active{
		  color: #FFF;
		  /*background-image: url(img/slice2_menu.jpg);
		  background-repeat: repeat-x;*/
	  }
	  
	  .tabcontainer{
	  clear: both;
	  /*background-image: url(img/slice3_menu.jpg);
	  background-repeat: repeat-x;*/
	  height:25px;
	  /*padding-right:55px;*/
	  }
	  
	  .tabcontent{
	  display:none;
	  }
	  /****sub dropdown list *****/
	  .sub_dropdown_list{
		  font-weight: bold;
		  font-size: 14px;
	  }
	  
	  
	  .sub_dropdown_list ul{
	  margin: 0;
	  text-align: right; 
	  }
	  
	  .sub_dropdown_list ul li{
	  display: inline;
	  float:right;
	  margin-top:1px;
	  }
	  
	  .sub_dropdown_list ul li a{
	  color: #FFF;
	  margin-right: 14px;
	  text-decoration: none;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  
	  }
	  
	  .sub_dropdown_list ul li a:hover, .sub_dropdown_list ul li a.selected{
	  border-bottom-color: black;
	  }
	  .background1{
		  background:#dedede;
		  /* height:25px;
		 padding-right:55px;*/
		  position: relative;
 		  top: 0px;
		  height:84%;}
	  
	   .basictab li   a.current{
		  color: #FFF;
		  height: 28px;
		  font-weight: bold;
	  }
	  .basictab li a:hover {color: #FFF;
	/*	  border-bottom: 3px solid #D33E15;*/
		  background-repeat: repeat-x;
		  height: 28px;
		  font-weight: bold;}
		  
	  
		  
		  .sd { background: url(../../islammemo_mobile14-5-2013/img/home_hover.jpg) no-repeat;
				  width: 60px;
				  height: 48px;
				  float: right;
				  position: relative;
				  top: -4px;
				  z-index: 100;
				  display: inline-block;}
				  
				  
		.give_menu_pos{
			width: 65.6%;
			position: fixed;
			top: 0%;
			left: 0%;
			height:21%}
		  /****menu***/
		  
		  /***********************inner page*****************************/
		  
		  .inner_header{
			  margin-top:17%; padding-right:2%}
			  
		   .inner_header p{
			   float:right;
			   color:#787878;
			   font-size:110%;}
			   
		.inner_news{}
		.inner_news img{
			width:100%}
			
	    .inner_news h4{
			color:#787878;}
			
	    .inner_news p{
			color:#252525;
			font-size: 110%;
            line-height: 145%;
			margin-right:1%
			}
			
			
		.related_news_header{
			background-color:#e2e2e2;
			border-bottom:3px solid #f25d3c;}
			
		.related_news_header h3{
			background-color: #fff;
			line-height: 100%;
			width: 30%;
			position: relative;
			top: 8px;
			padding-right: 2%;
			padding-top: 1%;}
			
		.related_news{}
		.related_news .span4{ float:right;
							margin-top:2%;
							margin-right:1.5% !important;}
		.related_news .span4 a{ color:#3d67a2;
								font-size:88%;
								line-height:140%;
								font-weight:bold;
								}
		.related_news img{
			width:100%;
			}
			
			
	/************comment start***********/		
  .user_comments{ background-color: #efeeed;
                  margin-top: 1%;}
				   
  .user_comments img{ float: right;
					  margin-right: -252px;
					  margin-top: 10px;
					  margin-left: 12px;}
  
  .user_comments textarea{width: 97%;
						margin-top: 1%;
						height: 44px;
						margin-right: .5%;
						  height: 36px;
						 }
						  
  .user_comments button	{float: left;
						  font-weight: bold;
						  font-size: 14px;
						  margin-top: 5px;}
						  
						  
						   .comment_header{
		  background: #f7f7f7;
		  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f7f7f7), to(#dbdbdb));
		  background: -webkit-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -moz-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -ms-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -o-linear-gradient(#f7f7f7, #dbdbdb);
		  background: linear-gradient(#f7f7f7, #dbdbdb);
		  width:50%;
		  color: #555555;
		  margin-top: 30px;
		  margin-right: 50px;
		  padding-top: 0px;
		  border: 1px solid #dbdbdb;
		  border-radius: 5px;
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;}
		  
	 .form {
  padding:20px 0 10px 0;
  }
  .form p{
  margin-top : 10px;
  }
  .form input, textarea , select  { 
	  padding: 5px 4px 4px;
	  border: solid 1px #E5E5E5;
	  outline: 0;
	  font: normal 13px/100% Verdana, Tahoma, sans-serif;
	  width: 94%;
	 
	  background: #FFFFFF url('../../islammemo_mobile14-5-2013/css/bg_form.png') left top repeat-x;
	  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  /*    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  */    box-shadow: inset 3px 3px 3px #cfcece;
	  -moz-box-shadow: inset 3px 3px 3px #cfcece;
	  -webkit-box-shadow:inset 3px 3px 3px #cfcece;  
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  height:30px;
	  margin-left:auto;
	  margin-right:auto;}
  .form textarea { 
	  width: 97%;
	 
	  height: 150px;
	  line-height: 150%;  }
  
  input:hover, textarea:hover, select:hover, option:hover
  input:focus, textarea:focus { 
	  border-color: #C9C9C9; 
	  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;}
  
  .form label { 
	  /*color: #999999;*/
	  display: block;
	  float: right;
	  font-size: 13px;
	  font-weight: bold;
	  margin-left: 10px;
	  min-width: 100px;
	  padding:0 10px 0 0
	  }
  .submit input {
	  width: auto;
	  padding: 9px 15px;
	  border: 0;
	  font-size: 14px;
	  color: #FFFFFF;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  margin:0 120px 0 0  ;
	  font-family:Arial; font-weight:bold;
	  cursor:pointer;
	  background: #333333;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FAFAF9), to(#111410));
  background: -webkit-linear-gradient(#FAFAF9, #111410);
  background: -moz-linear-gradient(#FAFAF9, #111410);
  background: -ms-linear-gradient(#FAFAF9, #111410);
  background: -o-linear-gradient(#FAFAF9, #111410);
  background: linear-gradient(#FAFAF9, #111410);
  -pie-background: linear-gradient(#FAFAF9, #111410);}
  .submit input:hover {
	  width: auto;
	  padding: 9px 15px;
	  border: 0;
	  font-size: 14px;
	  color: #333;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  margin:0 120px 0 0;
	  font-family:Arial;
	  font-weight:bold;
	  cursor:pointer;
	  background: #333333;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#111410), to(#FAFAF9));
  background: -webkit-linear-gradient(#111410, #FAFAF9);
  background: -moz-linear-gradient(#111410, #FAFAF9);
  background: -ms-linear-gradient(#111410, #FAFAF9);
  background: -o-linear-gradient(#111410, #FAFAF9);
  background: linear-gradient(#111410, #FAFAF9);
  -pie-background: linear-gradient(#111410, #FAFAF9);}
  
  /****************video page****************/
  .video_des img{
	 width:100%
	  }
  .video_des{
	 
	  }
	  
  .video_des h4{
	  color:#fff;
	  background-color:#706c6d;
	  margin-top:0%;
	  padding:1%;
	  }
	  
	  /************gallery page***************/
	  .webwidget_slideshow_dot{
    padding: 0px;
    margin: 0px;
    position: relative;
    font-family: Arial,Sans-Serif;
    font-size: 13px;
	/*width: 100% !important;*/
	margin-bottom:2%;
	margin-right: auto;
    margin-left: auto;
}
.webwidget_slideshow_dot a{
    text-decoration: none;
}
.webwidget_slideshow_dot a:hover{
    text-decoration: underline;
}
.webwidget_slideshow_dot .slides_box{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: absolute;
	
}
.webwidget_slideshow_dot .title_thumb_box{
    width: 100%;
    position: absolute;
    bottom: 0px;
	background-color:#6f6c6c !important;
	border-bottom: 5px solid #000;
	height: 15%;
	
}
.webwidget_slideshow_dot .title_thumb_box .title_box{
    padding: 5px;
	padding-top: 0px;
padding-bottom: 0px;
height: 41px;
overflow: hidden;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box{
    text-align: center;
    height: 25px;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box span{
    margin-right: 5px;
    margin-left: 5px;
	position: relative;
	top: -2px;
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box span img{
    cursor: pointer;
}
.webwidget_slideshow_dot img{
    padding: 0px;
    margin: 0px;
    border: none;
}
.webwidget_slideshow_dot ul{
    padding: 0px;
    margin: 0px;
    position: absolute;
    list-style: none;
}
.webwidget_slideshow_dot ul li{
    padding: 0px;
    margin: 0px;
    float: left;
}
.webwidget_slideshow_dot ul li a{
    display: block;
}

/*******************reports page********************/
.news_reports{
	width: 60% !important;
	float: left;
	position: absolute;
	top: 4%;
	right: 38%;
	}
	
.categories_row{ position:relative;
				top:40px;}
.categories_row .span4{
	float: right !important;
	margin-top:9%;
	margin-right: 1.5% !important;
	background-color:#4a4849;
	position:relative;}
	
.categories_row .span4 img{ width:100%;}
	
.categories_row .span4:hover{background-color:#7a7a7a;}
	
.categories_row .span4 a{ color:#fff;}

.categories_row .span4 a:hover{ text-decoration:none !important;}

.cat_title{
	height: 62px;
	overflow: hidden;
	width: 90%;
	margin-right: auto;
	margin-left: auto;}

.cat_date{
	background-color: #c94723 !important;
	color: #fff;
	font-weight: bold;
	font-size: 75%;
	position: absolute;
	top: 132px;
	width: 100%;
	height: 13%;
	}
.cat_date p{ margin-right:2%;}

/*****************************poll page************************/

.poll{
	position:relative;
	top:50px;
	}
	
.poll .span10{
	margin-left:auto !important;
	margin-right:auto;
	}
	
.poll_header{
	background-color:#dddddd;}
	
.poll_header h4{
	margin-right:5%;
	padding-top:.5%;
	padding-bottom:.5%;
	margin-bottom:0%; }
	
.poll_questions, .support_us{
	border:3px solid #c93900;
	
	}
	
.poll_questions b, .support_us b{ margin-right:3%;}
	
.poll_questions .radio input[type="radio"]{
	float:none !important;
	margin-right:20px;
	margin-left:0px;
	}
	
.poll_questions .btn{
	border:none;
	background:#ddd;
	color:#262626;
	font-weight:bold;
	margin-top:20px;
	margin-right:2%}
.poll_questions .btn:hover{
	background-color:#c93900;
	color:#fff;}
	
	
.progress_bars{}
.progress_bars .span10{ margin-right:auto; margin-left:auto !important;}

.progress_bars{
	position:relative;
	top:60px;}
	
.progress_bars	.progress .bar{
	float:right;}
	
	
.progress_bars .progress-striped .bar{
background-color: #ce5e2c;
background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
-webkit-background-size: 18px 18px;
-moz-background-size: 18px 18px;
-o-background-size: 18px 18px;
background-size: 18px 18x;
	
	}
	
.progress_bars .progress {
height: 20px;
margin-bottom: 20px;
overflow: hidden;
background-color: #0d0d0d;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
border: 3px solid #212121;
background-image:none !important
}

.progress_bars .span9{
	float:right;
	
	}
	
.progress_bars .span1 .progress, .progress_bars .span9 p{ margin-bottom:0px !important; position: relative;
top: 6px;
left: 2%;}
 .progress_bars .span9 p{ left:-2%;}

/*****************************/

.support_us input{
	margin-top:2%;
	background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));
	box-shadow: inset 3px 3px 3px #CFCECE;
	-moz-box-shadow: inset 3px 3px 3px #cfcece;
	-webkit-box-shadow: inset 3px 3px 3px #CFCECE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px}
	
.support_us .controls{
	margin-left: auto;
	margin-right: auto;
	width: 94%;}


.support_us .controls .btn, .support_us .controls .btn:hover{
	background-position:0 0;
	background-image:url(../img/send.jpg);
	width:39%;
	background-repeat:no-repeat;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	left:13%;
	height: 33px;}
	
.support_us textarea{height: 80px;
		margin-bottom: 2%;
		width: 94%;
		margin-right: 1%;}
		/*******************search page************************/
	
	.search_arr{
		background-image: url(../img/arrow.png);
		background-repeat: no-repeat;
		background-position: 52px 0px;
		position: relative;
		top: 15px;
		margin-top: 7%;}
		
	.search_arr .span12 {
		width: 97% !important;
		margin-right: auto;
		margin-left: auto !important;
		}

		
	.search_container{
		background-color:#ce4e2b;
		width: 97% !important;
		margin-right: auto;
		margin-left: auto !important;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;}
		
		.search_container .btn{font-weight:bold}
		
	.search_container .input-xlarge{
		width:79% !important;
		margin-right:2%;
		margin-top: 1%;
		margin-bottom: 1%;}
		
		
	.serch_results{}
    .serch_results li{
		background-image: url(../img/li.png);
		background-repeat: no-repeat;
		background-position: top right;
		line-height: 130%;
		padding-right: 5%;
		background-position-y: 18%;
		border-bottom: 1px solid #ddd;
		padding-bottom: 30%;
		height: 80px;
		overflow: hidden;
		padding-top:3%;}
		
    .serch_results li a:hover, .serch_results li a{ text-decoration:none; color:#054f80; font-size:105%; font-weight:bold;}
	.serch_results .span12{
		width: 97% !important;
		margin-right: auto;
		margin-left: auto !important;}
		
   .serch_results .span12 .span10{ float:right;}
   
   .serch_results .span12 .span1{position: absolute;
  					 width:5.982905982905983% !important;
					left: 2%;
					margin-top: 4%;}
					
					/************************************/
					
					
.dim{
	background-image:url(../img/transparent_area.png);
	 background-repeat:repeat;
	 position:fixed;
	 top:0px;
	 width:100%;
	 height:100%;
	 display:none;
	 z-index:110}
	 
	 /***************************new menu***********************/
	 h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#css3-animated-example .content {
  padding: 10px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #aaffff;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

/* Responsive design
--- */
@media screen and (max-width: 1056px) {
 
  .c2 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media
only screen and (max-width: 704px),
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
 /* body {
    width: 320px;
  }*/
  .c1 {
    margin-right: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 28px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  
}
/****************************************************/
/******************new header*****************/
.new_header{
	background-color:#4a4848;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 100;
	height:5.5%;
	}
	
.new_header aside{
	float:left;
	width:40%;}
.new_header aside img{
	margin-left:4%; margin-top:3%; margin-bottom:1%;}
	
.logo_puller{
	position:fixed;
	top:0%;
	z-index:111;
	opacity:none;
	width:35.8%}
	
.logo_puller img{
	width:100%;}
.logo_puller .close, .logo_puller .open{opacity:1 !important;
					filter: alpha(opacity=100);
					margin-top:0%;
					width:100%
}

.dropped{
	background-color: rgb(255, 255, 255);
	width: 303%;
	position: absolute;
	top: 0;
	height:280px;
	overflow-y:scroll;}
	
.dropped div{
	border-bottom:1px solid #E4E4E4;
	height:11%;
	line-height: 240%;}

.dropped a, .dropped a:hover{text-decoration:none; color:#747474;}

.dropped h5{
	background-color:#c9421e;
	color:#fff;
	padding-right:3%;
	margin-top:0px;}
	
.square_anc{
	background-image:url(../img/menu_square.jpg);
	background-repeat:no-repeat;
	padding-right:7%;
	background-position:center right;
	margin-right:2%}
	
	
.move-down{
	position:relative !important;
	top:280px !important;
	z-index:1 !important;
	}
	
	/******************new gallery**************/
	        #wrapper
        {            
            overflow:hidden;
            background-color:#fff;
			direction:ltr;
			margin-right: auto;
			margin-left: auto;
			           
        }
        
        #wrapper ul
        {
            list-style:none;
            margin:0;
            padding:0; 
            -webkit-transition: -webkit-transform 0.3s linear;                               
        }
        
        #wrapper ul li
        {
           float:left;  
		   width:304px;
		                        
        }
        #wrapper ul li img{ 
			  width:304px !important;
			  height:171px !important;
			  position: relative;
			top: -30px;
			left: 0px;}  
              
		 .gallery_des{
				position: relative;
				top: -30px;
				width: 304px;
				padding-right: 1%;
				background-color:#6f6c6c;
				border-bottom:4px solid #000;
				height:49px;
				}
				
		.gallery_des p{
			margin-right:2%;}
		 #wrapper ul li a, #wrapper ul li a:hover{
			 color:#fff;
			 text-decoration:none;}
			 
		.pagination{
			width: 300px;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			top: -34px;
			z-index: 50;
			text-align: center;}
       