﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
  
}

 <div class="contact_bg">
            <div class="contact_header">
              <h2>لديك حساب دخول</h2>
              <img src="~/Images/contact.png"/>
            </div>
              <form class="form" method="post">

			<p>
				<input type="text" id="SEmail" name="SEmail" placeholder="رجاء كتابة بريدك الإلكترونى" />
                <span id="v_email"></span>                
			</p>
                 
			
            <br />
			<p class="submit" style="float:right;"><input type="submit" name="submitbutton" value="اشتراك" id="submit" onclick="return validate();" />
			
			</p>
            <p class="submit"><input type="submit" name="submitbutton" value="إلغاء اشتراك"    id="submit" onclick="return validate();" />
			
			</p>
                 
                  <div><ul class="form_warn" id="sum_valid">    
                                    </ul></div>
                                    @ViewData["validMessage"]
			</form>
   
           
            </div>
 

    <script src="http://38.121.76.242/memoadmin/prototype.js" type="text/javascript"></script>
 <script type="text/javascript" language="javascript">

     function validate() {
         document.getElementById('sum_valid').innerHTML = '';
         if (document.getElementById('SEmail').value == "رجاء كتابة بريدك الإلكترونى" || document.getElementById('SEmail').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }

         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

         if (document.getElementById('SEmail').value != "" && document.getElementById('SEmail').value != "رجاء كتابة بريدك الإلكترونى" && filter.test(document.getElementById('SEmail').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         //alert(document.getElementById('Body').value);
         if (document.getElementById('SEmail').value == "")
             return false;

         if (document.getElementById('SEmail').value != "" && filter.test(document.getElementById('SEmail').value) == false)
             return false;

         return true;
     }
        
                
                </script>
