﻿@{
    Layout = null;
   
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneralMarquees</title>
</head>
<body>
    @{
        string val = ViewData["Request_type"].ToString();
    }

   @if(val==null){
         <marquee  direction="right" behavior="scroll" loop="0" scrolldelay="6" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">@Html.Raw(@ViewData["general_marquee"]); </marquee>
   }   
   else if (val=="1")
    { 
    <marquee  direction="right" behavior="scroll" loop="0" scrolldelay="6" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">@Html.Raw(@ViewData["general_marquee"]); </marquee>
    }

   else if (val=="2")
    { 
    <marquee style="text-align:center;" direction="down" behavior="scroll" loop="0" scrolldelay="6" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">@Html.Raw(@ViewData["general_marquee"]);</marquee>
     }
   else if (val=="3")
     {
    <marquee style="text-align:center;" direction="up" behavior="scroll" loop="0" scrolldelay="6" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">@Html.Raw(@ViewData["general_marquee"]); </marquee>
     }
    else { 
    <marquee direction="right" behavior="scroll" loop="0" scrolldelay="6" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">@Html.Raw(@ViewData["general_marquee"]); </marquee>  
   }

</body>
</html>
