﻿@{
    ViewBag.Title = "الشريط الشخصى";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
  
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#gen_marq').hide();
        });
        function show() {
            $('#gen_marq').show();
        }
</script>
 <div class="contact_bg">
            <div class="contact_header">
              <h2>لديك حساب دخول</h2>
              <img src="/images/contact.png"/>
            </div>
              <form class="form" method="post">
			<p>
				<input type="text" id="logname" name="logname" placeholder="الاسم" /><span id="v_logname"></span>
			</p>
			<p>
				<input type="password" id="logpass" name="logpass" placeholder="الرقم السرى" /><span id="v_logpass"></span>
			</p>
            <br />
                  @ViewData["errorMessage"]
			<p class="submit"><input type="submit" name="submit" value="دخول" id="submit" onclick="return validate();"/>
			
			</p>
                 
                  <div><ul class="form_warn" id="sum_valid">    
                                    </ul></div>
                                    
			</form>
            <div class="clear"></div>
             <div class="contact_header">
             <center> <h2>سجل حساب جديد مجانا</h2></center>
             
            </div>
              <form class="form" method="post">
			<p>
				<input type="text" id="name2" name="name2" placeholder="الاسم" /><span id="v_name"></span>
			</p>
			<p>
				<input type="password" id="pass2" name="pass2" placeholder="الرقم السرى" /><span id="v_pass"></span>
			</p>
            <p>
				<input type="password" id="repass" name="repass" placeholder="اعد كتابة الرقم السرى" /> <span id="v_repass"></span>
			</p>
             
            <p>
				<input type="text" id="email2" name="email2" placeholder="اكتب بريدك الإلكترونى" /> <span id="v_email"></span>
			</p>
             <p>
				<input type="text" id="domain" name="domain" placeholder="موقعك تأكد من ادخال عنوان صحيح مثلا: www.yourdomain.com" /> <span id="v_domain"></span>
			</p>
            <br />
			<p class="submit"><input type="submit" name="submit2" value="تسجيل" id="submit2" onclick="return validate2();" />
			
			</p>
                   @ViewData["errorMessage2"]
			</form>
        <a href="javascript:void" onclick="show();"><p style="font-size: 16px;margin-bottom: 10px;font-weight: bold;">يمكنك عرض شريط الاخبار فى موقعكم بدون الاشتراك عن طريق هذا الرابط واختيار الكود الخاص بالنموذج المناسب لكم</p></a>
     <div id="gen_marq">
     <div dir="rtl" style="background-color:Red; float:right; color:Yellow; width:100%;">1- لإختيار شريط الأخبار من نماذج جاهزة</div>
<table>
<tr><td>نموذج اول</td><td><textarea id="TextArea1" rows="3" cols="30"  readonly="readonly" style="width:292px;height:50px;text-align: left;"><iframe scrolling="no" src='http://www.saeem.com/general_marquees.aspx?type=1'></iframe></textarea></td><td><iframe scrolling="no"  src='/general_marquees.aspx?type=1'  height="30px" width="270px"></iframe></td></tr>
<tr><td>نموذج ثاتى</td><td><textarea id="TextArea2" rows="3" cols="30"  readonly="readonly" style="width:292px;height:50px;text-align: left;"><iframe scrolling="no" src='http://www.saeem.com/general_marquees.aspx?type=2' ></iframe></textarea></td><td><iframe scrolling="no" src='/general_marquees.aspx?type=2' width="270px"></iframe></td></tr>
<tr><td>نموذج ثالث</td><td><textarea id="TextArea3" rows="3" cols="30"   readonly="readonly" style="width:292px;height:50px;text-align: left;"><iframe scrolling="no" src='http://www.saeem.com/general_marquees.aspx?type=3'></iframe></textarea></td><td><iframe scrolling="no" src='/general_marquees.aspx?type=3' width="270px"></iframe></td></tr>
</table>
       
</div>
            </div>
  <div><ul class="form_warn" id="sum_valid2">    
                                    </ul></div>

  
 <script type="text/javascript" language="javascript">

     function validate() {

         document.getElementById('sum_valid').innerHTML = '';

         if (document.getElementById('logname').value == "") {
             document.getElementById('v_logname').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_logname').innerHTML = '';
             //$('name_li').remove();
         }

         if (document.getElementById('logpass').value == "") {
             document.getElementById('v_logpass').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الرقم السرى ";
             newLI.id = "pass_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_logpass').innerHTML = '';
             //$('name_li').remove();
         }

         if (document.getElementById('logname').value == "" || document.getElementById('logpass').value == "")
             return false;
         return true;
     }

     //////////////////////////////////////////////////////////////////////////////////////////////////////////
     function validate2() {

         document.getElementById('sum_valid2').innerHTML = '';

         if (document.getElementById('name2').value == "") {
             document.getElementById('v_name').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_name').innerHTML = '';
             //$('name_li').remove();
         }



         if (document.getElementById('email2').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         if (document.getElementById('email2').value != "" && document.getElementById('email2').value != "اكتب بريدك الإلكترونى" && filter.test(document.getElementById('email2').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         if (document.getElementById('pass2').value == "") {
             document.getElementById('v_pass').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك الرقم السري ";
             newLI.id = "pass_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_pass').innerHTML = '';
             //$('name_li').remove();
         }
         if (document.getElementById('repass').value == "") {
             document.getElementById('v_repass').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = " من فضلك قم بإدخال التأكد من الرقم السرى  ";
             newLI.id = "repass_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_repass').innerHTML = '';
             //$('name_li').remove();
         }

         if (document.getElementById('domain').value == "") {
             document.getElementById('v_domain').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = " من فضلك قم بإدخال الموقع الإلكترونى  ";
             newLI.id = "repass_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_domain').innerHTML = '';
             //$('name_li').remove();
         }
         var pass2 = $('#pass2').val();
         var repass = $('#repass').val();
         if (pass2 != repass) {
             document.getElementById('v_repass').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = " من فضلك قم بالتأكد من إدخال الرقم السرى بصورة صحيحة  ";
             newLI.id = "repass2_li";
             var gl = document.getElementById("sum_valid2");
             gl.appendChild(newLI)
             $('#repass').val('');

         }
         else {
             document.getElementById('v_repass').innerHTML = '';
         }






         //alert(document.getElementById('Body').value);
         if (document.getElementById('name2').value == "" || document.getElementById('pass2').value == "" || document.getElementById('repass').value == "" || document.getElementById('domain').value == "" || pass2 != repass)
             return false;

         if (document.getElementById('email2').value != "" && filter.test(document.getElementById('email2').value) == false)
             return false;

         return true;
     }
                </script>