﻿@using memov5entity.Models
@{
    ViewBag.Title =images_server.mytitle+"الشريط الشخصى";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
   
}

<div class="guest_bg">
   <div class="contact_header">
              <h2> تسجيل</h2>
              <img src="/images/support.png"/>
            </div>
  <iframe src="~/shreet2.aspx"  runat="server" width="630" height="750" frameborder="0" scrolling="no"></iframe>

    </div>
