﻿@model memov5entity.Models.imageviwmodel
@using memov5entity.Models
@{
    byte state =Convert.ToByte(Model.A.stat);
    if(state !=8)
    {
        Response.Redirect("/");
    }
    int id = Model.Id;
    string cap = ViewData["captcha"].ToString();
    string title = Model.A.Title;
    string titleforsocial = title.Replace("\"", " ").Replace("'", "").Trim();
    string url = Model.A.url;
    List<comment> comments = Model.getcomments();
    ViewBag.Title =@images_server.mytitle+@title;
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";
}

          @section myhead
          {
          <!--sidebar gallery-->
	<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/js/jquery.elastislide.js"></script>
	<script type="text/javascript" src="/js/gallery.js"></script>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
   
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
         <script>             (function (d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en-US/all.js#xfbml=1&appId=148708292956";
                 fjs.parentNode.insertBefore(js, fjs);
             } (document, 'script', 'facebook-jssdk'));</script>



          }
        
   <div class="contact_bg">
         <div class="contact_header">
         <h2>@title
                </h2>
           <img src="/images/one_pic.png" width="49" height="67" />
         <h2 class="date_no">@Convert.ToDateTime(Model.A.Date).Day</h2>
           <small>@Convert.ToDateTime(Model.A.Date).ToString("MMM")</small>
           </div>
         <div class="inner_social">
                    
           <div class="fb-like" data-href="http://islammemo.cc/@(url)" data-send="true" style="float:right;width:250px" data-width="250px" data-show-faces="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
    
         <button onclick="window.open('/sendto.aspx?id=@Html.Encode(Model.Id)', 'sendart', 'width=400,height=400,toolbar=0,location=0,directories=0,status=yes,menubar=0,scrollbars=0,copyhistory=0,resizable=yes')" class="share"></button>
                    </div>   
        <center>
           @{
            string stylegallery = "";
            if(Request.Browser.Browser=="IE")
            {
                stylegallery = "rg-gallery2";
            }else{

                stylegallery = "rg-gallery";
                
            }
            
        }
         <div id="rg-gallery" class="@stylegallery">
     
                  <div class="rg-thumbs">
                                    <!-- Elastislide Carousel Thumbnail Viewer -->
				<div class="es-carousel-wrapper">
                                        <div class="es-nav">
                                            <span class="es-nav-prev">Previous</span>
                                            <span class="es-nav-next">Next</span>
                                        </div>
                                        <div class="es-carousel">
                                            <ul>
                                            @{
                                                var arts = Model.A.images_cat_images.Where(p => p.allow == true).ToList();
                                                for (int b = 0; b < arts.Count; b++)
                                                {

                                                    //images_cat_images a = arts[b];
                                                    //string a_title = a.title;
                                                    //  a.imgurl = images_server.updateimg(a.imgurl, "_390_310_");
                                                  @*  <p>@a_title</p>*@
                                                <li><a href="javascript:void"><img src="@images_server.updateimg(arts[b].imgurl, "_390_310_")" data-large="@images_server.updateimg(arts[b].imgurl, "_390_310_")" alt="@arts[b].title" data-description="@arts[b].title"  /> /></a></li>
                                             
                                                }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- rg-thumbs -->
                </div></center>
         </div> <!--first gallery eng-->
         
            <div class="sec_inner_right">
          <!--first tab start-->
          <div class="syria_reports">
             <div class="right_tabs_style liteTabs">
           
		
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
       
    <br />
   
                  <div class="clear"></div>
                <!--add comment-->
                
          <!--add comments-->
         <div class="comments clearfix">
           <div class="comments_header"><h2>التعليقات</h2><a href="javascript:;">@comments.Count تعليق <img src="/images/white_more.png" /></a></div>
           <div class="clear"></div>
         
           <div class="comments_tabs">
           <div class="right_tabs_style liteTabs">
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">facebook</a></li>
			  <li><a href="#2" class="">مفكرة الإسلام</a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
        <script src="http://connect.facebook.net/ar_AR/all.js#xfbml=1"></script><fb:comments href="islammemo.cc/@(url)" num_posts="6" width="650"></fb:comments>
              <div class="clear"></div>
         
                   
        		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           
       
    <div id="comments">
    </div>
	
           <form name="#2" class="form" method="post">
                
                <center><div class="comment_header"><h2>أضف تعليق</h2></div>
				<p>
				<input type="text" id="SName" name="SName" placeholder="الاسم" value="" /><span id="v_name"></span>
			</p>
           	<p>
				<input type="text" id="SEmail" name="SEmail" placeholder="البريد الالكتروني"  value="" /><span id="v_email"></span>
			</p>
			 <p>
				<input type="text" id="Title" name="Title" placeholder="عنوان التعليق" value="" /><span id="v_title"></span>
			</p>
            <p>
			
			</p><p>
				<textarea name="Body" id="Body" placeholder="موضوع التعليق"></textarea><span id="v_body"></span>
			</p>
            <p> <input type="hidden" id="article_id" name="article_id" value="@Model.Id" /></p>
             <p class="confirm_img">
				<input type="text" id="image_writing" name="image_writing" placeholder="التحقق من الصورة" value="" /><span id="v_image"></span>
                @{ Random r = new Random();
                   int aynon = r.Next(0, 2000);
                    }
                
                <img src="/confirm_img.jpg?id=@aynon" width="81" height="28" />
			</p> 
			<div class="clear"></div>
			<br> 
			  @if (ViewData["end"] == "1")
     { 
            <font style="color:Red;"><p><h3>تم استقبال تعليقك بنجاح وسيتم مراجعته من قبل الادارة والسماح له</h3></p></font>
                                            
     }
     else
     {
			<p class="submit"><input type="submit" name="sendMSG" value="اضافة تعليق" onclick="return validate();" id="submit">
			
			</p>
     }
           </center>
			</form>
              <div><ul class="form_warn" id="sum_valid">    
                                    </ul></div>
	    </div>
			
	  </div>
     </div>
    </div>
         <!--add comments end-->
                
                <!--add comment end-->
		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
			
	  </div>
          </div>  
          <div class="clear"></div>
 
          
         </div>
      
 <script type="text/javascript" language="javascript">
     function validate() {
         document.getElementById('sum_valid').innerHTML = '';

         if (document.getElementById('SName').value == "") {
             document.getElementById('v_name').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_name').innerHTML = '';
             //$('name_li').remove();
         }



         if (document.getElementById('SEmail').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         if (document.getElementById('SEmail').value != "" && document.getElementById('SEmail').value != "البريد الالكتروني" && filter.test(document.getElementById('SEmail').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }



         if (document.getElementById('Title').value == "") {
             document.getElementById('v_title').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل عنوان الرسالة';
             newLI.id = "title_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_title').innerHTML = '';
         }

         if (document.getElementById('Body').value == "") {
             document.getElementById('v_body').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الرسالة';
             newLI.id = "body_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_body').innerHTML = '';
         }

         if (document.getElementById('image_writing').value != '@cap') {
             document.getElementById('v_image').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الصورة';
             newLI.id = "image_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_image').innerHTML = '';
         }


         //alert(document.getElementById('Body').value);
         if (document.getElementById('SName').value == "" || document.getElementById('SEmail').value == "" || document.getElementById('Title').value == "" || document.getElementById('Body').value == "" || document.getElementById('image_writing').value != '@cap')
             return false;

         if (document.getElementById('SEmail').value != "" && filter.test(document.getElementById('SEmail').value) == false)
             return false;

         return true;

     }
                
                
                </script>
         <script type="text/javascript">
         $(document).ready(function()
         {
         $('#comments').load('/khabar/comments/'+'@(Model.Id)');
         });
  
         </script>

                  