﻿@model memov5entity.Models.imageviwmodel

@{
    ViewBag.Title = "imgcattest.Phone";
    Layout = "~/Views/Shared/SiteMaster.Phone.cshtml";
}

<center><img src="/images/gallerymobil.png" /></center>
