﻿@model memov5entity.Models.partialsviewmodel
@using memov5entity.Models;
@{
    List<temp_art> tkareer = Model.get_syria_tkarer(3);

    List<temp_art> important_tkareer = Model.get_important_tkarer(3);
  
}
      <!--first tab start-->
     <div class="syria_reports">
             <div class="right_tabs_style liteTabs">
   
            <a href="#" class="orange_more"><img src="/images/inner-a`7bar-syria_03.png"></a>
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">آخر تقارير سوريا</a></li>
			  <li><a href="#2" class="">أهم تقارير سوريا</a></li>
			</ul>
       <div  name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
       @for(int i=0;i<tkareer.Count;i++){
            <!--large div start-->
           <div class="latest_syria_news">
              <a href="@tkareer[i].url"> <h3>@tkareer[i].title</h3></a>
             <p>@(tkareer[i].apprev.Length>65?tkareer[i].apprev.Substring(0,65)+"...":tkareer[i].apprev)</p>
             <div class="footnotes">
               <div class="comments_no"><center><small>@tkareer[i].readers</small></center></div>
               <small>@Convert.ToDateTime( tkareer[i].date).ToString("dd MMMM yyyy")</small>
             </div>
           </div>
        <!--large div end-->
        }

		</div>
      
  <div name="#2"  class="local_content" style="height: auto; position: absolute; left: -9999px;">
            @for(int i=0;i<important_tkareer.Count;i++){
            <!--large div start-->
           <div class="latest_syria_news">
             <a href="#"> <h3>@important_tkareer[i].title</h3></a>
             <p>@(important_tkareer[i].apprev.Length>65?important_tkareer[i].apprev.Substring(0,65)+"...":important_tkareer[i].apprev)</p>
             <div class="footnotes">
               <div class="comments_no"><center><small>@Convert.ToInt32(important_tkareer[i].readers)</small></center></div>
               <small>@Convert.ToDateTime( important_tkareer[i].date).ToString("dd MMMM yyyy")</small>
             </div>
           </div>
        <!--large div end-->
        }	   
	    </div>
      </div>
    </div>

	
         <script>
     $('.right_tabs_style').liteTabs({ fadeIn: false, selectedTab: 1, right_tabs_style: true });
          </script>