﻿@model memov5entity.Models.syria_thawraviewmodel
@using memov5entity.Models;
@{
    int count_slide = 0;
    ViewBag.Title = "سوريا الثورة";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
     partialsviewmodel partialview = new partialsviewmodel();
     List<temp_art> akhbar = Model.get_syria_akhbar(9);
     temp_art[] top_commented_articles = Model.get_top_comments(4);
    
}
@section service
{

//خدمات
  $('#slides3').slides({
          preload: true,
          preloadImage: 'img/loading.gif',
          generatePagination: true,
          play: 5000000,
          pause: 2500,
          hoverPause: true,
          // Get the starting slide
          start: startSlide,
          animationComplete: function (current) {
              // Set the slide number as a hash
              window.location.hash = '#' + current;
          }
      });
  }

   <!--right column start here-->
         <div class="right">
         <div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> >> </p>
                 <a href="/syria_thawra">سوريا الثورة</a>
                 </div>
           <!--main gallery start-->
           <div class="">
               @if (akhbar.Count > 0)
               {
            <div id="feature_list">
			<ul id="output">

                 @{
                   int count = akhbar.Count;
                   if (count > 5)
                   {
                       count_slide = 5;
                   }
                   else
                   {
                       count_slide = count;
                   }
                   for (int b = 0; b < count_slide; b++)
                   {
                       string listitem = "none";
                       if (b == 0) { listitem = "list-item"; }
				<li style="display: @listitem;">
					<a href="#"><img src="@images_server.updateimg(@akhbar[b].img, "_340_309_")" width="376" height="268" alt="1.jpg" id="li"></a>
                    <div class="tab_brief">
                    
                    <span>
                    <a href="@akhbar[b].url"><h3>@akhbar[b].title</h3></a>@akhbar[b].apprev                    <a href="@akhbar[b].url"><img src="images/more.png" class="gallery_more"></a>
</span>
                    </div>
					
				</li>
                   }
               }
                </ul>
			<div class="output_scroll">
                <ul id="tabs">
                  @for (int b = 0; b < count_slide; b++)
                  {
                    string listitem = "";
                    if (b == 0) { listitem = "class='current'"; }
				<li>
					<a href="javascript:;"  @listitem>                    	
                        <h3>@akhbar[b].title</h3>
                        <img src="@images_server.updateimg(akhbar[b].img, "_340_309_") " width="82" height="56">
					</a>
				</li>
                  }	</ul></div>
		</div>
               }
           </div>
               
           <!--main gallery end-->
           <div class="clear"></div>
           
       <!--second right section-->
       <div class="sec_inner_right">
          <!--first tab start-->
           <div id="import" class="">
            
        <center style=" margin-top:30px;margin-bottom:20px;"> <img src="/images/loading25.gif" /> </center>
    </div>

          <div class="clear"></div>
           <!--first tab end-->
         <div class="inner_ads"><!--ads start--> 
          

<script type="text/javascript"><!--

google_ad_client = "ca-pub-4264562862176288";

/* Wide skyscraper */

google_ad_slot = "7548465854";

google_ad_width = 160;

google_ad_height = 600;

//-->

</script>

<script type="text/javascript"

src="http://pagead2.googlesyndication.com/pagead/show_ads.js">

</script>

         </div><!--ads end-->
          
          <div class="right_tabs_style">
            <a href="#" class="orange_more"  style="top:20px;"><img src="images/more.png" style="margin-top:-15px" /></a>
			<ul class="tab_nav1">
				<li><a href="#1">اخر اخبار سوريا</a></li>
			  <li><a href="#2">الأكثر تعليقا</a></li>
			</ul>
		<div name="#1" class="local_content">
            @if(akhbar.Count>5){
                for(int i=5;i<akhbar.Count;i++){
				 string latest_news = "";
                    if (i % 2 == 0) { latest_news = "id='latest_news'"; }
                    string titleforsocial = akhbar[i].title.Replace("\"", " ").Replace("'", "").Trim();
       <div class="latest_news" @latest_news ><!--large div-->
             <a href="@akhbar[i].url"><img src="@images_server.updateimg(akhbar[i].img, "_340_309_")" width="155" height="113" /></a>
             <div>
               <a href="@akhbar[i].url" style="color:black;"><h2>@akhbar[i].title</h2></a>
               <p>@(akhbar[i].apprev.Length>95?akhbar[i].apprev.Substring(0,95)+"...":akhbar[i].apprev)</p>
             </div>
             
             <div class="footnotes">
               <div class="comments_no"><center><small>@Convert.ToInt32(akhbar[i].readers)</small></center></div>
               <small>@Convert.ToDateTime( akhbar[i].date).ToString("dd MMMM yyyy")</small>
               <a href='http://twitter.com/home?status=@(titleforsocial+"http://islammemo.cc"+akhbar[i].url )'><img src="images/tweets_news.jpg" /></a>
               <a href='http://www.facebook.com/share.php?u=http://islammrmo.cc@(akhbar[i].url)&t=@titleforsocial'><img src="images/news_like.jpg" /></a>
             </div>
             
           </div><!--large div end-->
            }
            }
          
           <div class="clear"></div>
          
		</div>
		<div name="#2" class="local_content">
             @if(akhbar.Count>5){
                foreach(temp_art art in top_commented_articles){
                    string titleforsocial = art.title.Replace("\"", " ").Replace("'", "").Trim();
          <div class="latest_news"><!--large div-->
             <a href="@art.url"><img src="@images_server.updateimg(art.img, "_340_309_")" width="155" height="113" /></a>
             <div>
               <h2>@art.title</h2>
               <p>@art.apprev</p>
             </div>
             
             <div class="footnotes">
               <div class="comments_no"><center><small>@art.readers</small></center></div>
               <small>@Convert.ToDateTime( art.date).ToString("dd MMMM yyyy")</small>
               <a href='http://twitter.com/home?status=@(titleforsocial+"http://islammemo.cc"+art.url )'><img src="images/tweets_news.jpg" /></a>
               <a href='http://www.facebook.com/share.php?u=http://islammrmo.cc@(art.url)&t=@titleforsocial'><img src="images/news_like.jpg" /></a>
             </div>
             
           </div>
             }
             }	   
	    </div>
			
	  </div>
         </div>
      
       <!--second right section end-->
           
         </div> <!--right colmn end-->
         
         <!--left column start-->
         <div class="left">
             
          @{Html.RenderPartial("reports_search_socialicons", partialview);}
             <!--search and icon end-->
          <div class="clear"></div>
       
           @{Html.RenderPartial("top_articles_inner",partialview);}
             <!--first section end-->
           
            <!--second left block-->
             <div class="inne_left_ads">
             <script type="text/javascript"><!--
    google_ad_client = "ca-pub-4264562862176288";
    /* islammemo_mediumRec */
    google_ad_slot = "8818291245";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
             </div>
            <!--second section end-->
            
            <div class="clear"></div>
            <!--third section start-->
       @{Html.RenderPartial("services2");}
            <!--third section end-->
            
            <!--forth section-->
              <div class="third_inner_section">
               <a href="javascript:void"><img src="images/left_ad.jpg" width="275" height="260" /></a>
              
              </div>
            <!--forth section end-->
         </div>
         <!--left column end-->
		   <script>
       $("#import").load("/syria_thawra/imptkareer");
  </script>
         
