﻿@model memov5entity.Models.hadathviewmodel
@using  System.Collections
@{
    ViewBag.Title = "أرشيف حدث الساعة";
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";
}
@section myhead
{
<meta  name="keywords" content="أرشيف حدث الساعة" />
  <meta  name="description" content="أرشيف حدث الساعة" />

}
@{
    int page_no = Convert.ToInt32(ViewData["page"]);
   ArrayList arr = Model.gettopevents(12, page_no);
   ArrayList arr_id = (ArrayList)arr[0];
    ArrayList arr_names = (ArrayList)arr[1];
   ArrayList arr_images = (ArrayList)arr[2];
   ArrayList arr_titles = (ArrayList)arr[3];
}
  <div class="sec_inner_right">
          <!--first tab start-->
          <div class="syria_reports">
              <ul class="cat ">
              @{
                  for (int i = 0; i < 12; i++)
                  {
                      string style = "cat_border";
                      if (i == 2 || i == 5 || i == 8 || i == 11)
                      {
                          style = "";
                      }

              
    <li class="@style">
    <center><a href="/hadath-el-saa/@arr_names[i]" rel="0"><img height="131" width="196" src="@arr_images[i]"></a></center>
	<div class="pic_breif"><a href="/hadath-el-saa/@arr_names[i]">@arr_titles[i] </a></div>
<div class="clock">
        
          </div>    </li>
                  }
                  }

    <div class="cat_border2"></div>  
    </ul>
    <br />
        
    <div class="green-black">
                   @{ int pages_count = Model.getcategoriescount();
  string c_url = "/hadath-el-saa/archive";  
                        	 ArrayList viewdata_arr=new ArrayList();
                             viewdata_arr.Add(pages_count);
                             viewdata_arr.Add(c_url);
                             ViewData["model"] = viewdata_arr;}
                             @Html.Partial("pagination", ViewData["model"])  			
                </div>       
                <div class="clear"></div>
               
                
                                                                                                              
          </div>            
         </div>
