﻿@model memov5entity.Models.hadathviewmodel
@using memov5entity.Models
@using System.Collections
@{
    List<Article> main_event_articles = Model.get_main_event_articles();
    int count_event_articles = main_event_articles.Count;
    string[] maineventurlsarray = Model.get_main_event_url().Split('*');
    int count_slide=0;
    string updatedimageurl = "";
    ViewBag.Title = "حدث الساعة";
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";
}

@section myhead
{
<meta  name="keywords" content="حدث الساعة" />
<meta  name="description" content="حدث الساعة" /> 
}
  <div class="news_nw_bg">
       
         <div class="inner_social">
         
          
           
          
         </div>
        <!--main gallery start-->
           <div class="corner_div">
          @if (count_event_articles > 0)
          {
            <div id="feature_list">
			<ul id="output">

            @{
               
             
           
         
              if (count_event_articles > 5)
              {
                  count_slide = 5;
              }
              else
              {
                  count_slide = count_event_articles;
              }
              for (int i = 0; i < count_slide; i++)
              {
                  updatedimageurl = Model.updateimageurl(main_event_articles[i].image_url, "_373_147_");
                     
				<li style="display: list-item;">
					<a href="@Model.rewrite_url(main_event_articles[i].url, main_event_articles[i].cat_id)"><img src="@Model.get_images_sever_name()@(updatedimageurl)" width="376" height="268" alt="1.jpg" id="li"></a>
                    <div class="tab_brief">
                    
                    <span>
                    <a href="@Model.rewrite_url(main_event_articles[i].url, main_event_articles[i].cat_id)"><h3>@main_event_articles[i].Title</h3></a>@main_event_articles[i].Apprev
                    <a href="@Model.rewrite_url(main_event_articles[i].url, main_event_articles[i].cat_id)"><img src="/images/more.png" class="gallery_more" ></a>
</span>
                    </div>
					
				</li>
			
              }
             }
             
              
                 
					
              
                </ul>
			<div class="output_scroll"><ul id="tabs">
            @for (int i = 0; i < count_slide; i++)
            {
                string listitem = "";
             
				<li>
					<a href="javascript:;"  @listitem>                 	
                        <h3>@main_event_articles[i].Title</h3>
                     <img src="@images_server.updateimg(main_event_articles[i].image_url, "_340_309_") " width="82" height="56">
					</a>
				</li>
            }
				
			
				</ul></div>
		</div>
          }
           </div>
            
           <!--main gallery end-->
           
         </div> <!--first gallery eng-->
            <div class="sec_inner_right">
          <!--first tab start-->
          <div class="syria_reports">
              <ul class="cat ">
@{
    
    for (int a = 5; a < count_event_articles; a++)
    {
        updatedimageurl = Model.updateimageurl(main_event_articles[a].image_url, "_373_147_");
        string style = "cat_border";
        if (a == 7 || a == 10 || a == 13 || a == 16)
        {
            style="";
        }
            	<li class="@style">
    <center><a href="@Model.rewrite_url(main_event_articles[a].url, main_event_articles[a].cat_id)" rel="0"><img height="131" width="196" src="@Model.get_images_sever_name()@(updatedimageurl)"></a></center>
	<div class="pic_breif"><a href="@Model.rewrite_url(main_event_articles[a].url, main_event_articles[a].cat_id)" rel="0">@main_event_articles[a].Title 
</a></div>
<div class="clock">
            <p>@Convert.ToDateTime(main_event_articles[a].Date).ToString("d MMMM yyyy , H:m")</p>
          </div>    </li>
    }
       
    }
   
   
          
     
	
   

  

   
    <div class="cat_border2"></div>  
    </ul>
    <br />
    @{
     
        List<Article> tkarer_articles = Model.get_tkarer_articles();
        int tkarer_count = tkarer_articles.Count;
        if (tkarer_count > 0)
        {
     <div class="article"></div>
        }
     }
    <div class="align_ul">
  
  <ul class="article_point linkred" "=""> 
   
     
         @for (int a = 0; a < tkarer_count; a++)
         {
             <li><a href="@tkarer_articles[a].url ">@tkarer_articles[a].Title</a></li>
         }
       
     

   
                                  
	</ul>
</div>

  
                <div class="clear"></div>
                <div style="float:left; margin-top:20px;">
                    <a href="/hadath-el-saa/archive">
                    <img src="/images/hour_event_archive.jpg" border="0"></a>
                    </div>
                      <div style="float:right; margin-top:36px;">
                    <a href="/hadath-el-saa/@(maineventurlsarray[0])">
                    <img src="/images/hour_event_more.jpg" border="0"></a>
                    </div>
                
                                                                                                              
          </div>            
         </div>
