﻿@model memov5entity.Models.hadath_cats
@using memov5entity.Models
@using  System.Collections
@{
    ViewBag.Title = images_server.mytitle+Model.Cat_name;
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";
    List<Article> cat_arts = Model.get_top33_articles();
    int articles_count = cat_arts.Count;
   
}

  <div class="news_nw_bg">
       
         <div class="inner_social">
          
         </div>
        <!--main gallery start-->
      @if (articles_count > 0)
      {
           <div class="corner_div">
            <div id="feature_list">
			<ul id="output">

           
            @{
                
          int count = 0;
          for (int i = 0; i < articles_count; i++)
          {
              if (count == 5)
              {
                  break;
              }
              count++;
            
				<li style="display: list-item;">
					<a href="@cat_arts[i].url"><img src="@images_server.updateimg(cat_arts[i].image_url, "_172_107_")" width="376" height="268" alt="1.jpg" id="li"></a>
                    <div class="tab_brief">
                    
                    <span>
                    <a href="@cat_arts[i].url"><h3>@cat_arts[i].Title</h3></a>@cat_arts[i].Apprev
                    <a href="@cat_arts[i].url"><img src="/images/more.png" class="gallery_more"></a>
</span>
                    </div>
					
				</li>
          }}
              
			
                </ul>
            
               
			<div class="output_scroll"><ul id="tabs">
            @{
          int num = 0;
          for (int a = 0; a < articles_count; a++)
          {
              string listitem = "";
             
              if (num == 5)
              {
                  break;
              }
              num++;
				<li>
				<a href="javascript:;"  @listitem>                      	
                        <h3>@cat_arts[a].Title</h3>
                        <img src="@images_server.updateimg(cat_arts[a].image_url, "_340_309_")" width="82" height="56">
					</a>
				</li>
          }}
			
				</ul></div>
		</div>
           </div>
      }
           <!--main gallery end-->
           
         </div> <!--first gallery eng-->
            <div class="sec_inner_right">
          <!--first tab start-->
          <div class="syria_reports">
              <ul class="cat ">

              @{
                  
               if(articles_count>5)
               {
         for (int a =5; a < articles_count; a++)
                  {
                      string style = "cat_border";
                      if (a == 7 || a == 10 || a == 13 || a == 16)
                      {
                            style="";
                      }
             	<li class="@style">
    <center><a href="@cat_arts[a].url" rel="0"><img height="131" width="196" src="@images_server.updateimg(cat_arts[a].image_url, "_172_107_")"></a></center>
	<div class="pic_breif"><a href="@Model.rewrite_url(@cat_arts[a].url)" rel="0"> @cat_arts[a].Title 
</a></div>
<div class="clock">
            <p>@Convert.ToDateTime(cat_arts[a].Date).ToString("d MMMM yyyy , H:m")</p>
          </div>    </li>
                     
        
                  }
                 
                      }
                  }
                  
       
  <div class="cat_border2"></div>  
    </ul>
    <br />
    @{
        string align = "align_ul";
     List<Article> tkarer_articles = Model.get_tkarer_articles();
     int tkarer_count = tkarer_articles.Count;
     if (tkarer_count > 0)
     {
     <div class="article"></div>
       
     }else{
         align = "";
     }
     }
 
   <div class="@align">
  <ul class="article_point linkred" "=""> 
   
     
         @for (int a = 0; a < tkarer_count; a++)
         {
             <li><a href="@tkarer_articles[a].url ">@tkarer_articles[a].Title</a></li>
         }
       
     

   
                                  
	</ul>
</div>
@{
    if(articles_count>0)
    {
    <div class="green-black">
                  
                  @{
                      int pages_count = 0;
                      pages_count = Model.get_pages_count();
                          string cat_url = Model.C_url;
                         ArrayList viewdata_array = new ArrayList();
                          viewdata_array.Add(pages_count);
                          viewdata_array.Add(cat_url);
                          ViewData["model"] = viewdata_array; }
                        @Html.Partial("pagination", ViewData["model"])
                       
                </div>  
    }     
           }     <div class="clear"></div>
              
                                                                                                              
          </div>            
         </div>
