

  @charset "utf-8";
  /* CSS Document */
  
  body {
	  
	  font-size:14px;
	  line-height:17px;
	  color:#000;
	  direction:rtl;
	  padding: 0px;
	  margin: 0px;
	  background: url(../images/pattern3.jpg) repeat scroll 0 0;
	  font-family: Arial, Helvetica, sans-serif;
	  }
	  ol, ul {	list-style: none; padding:0; margin:0}
	  blockquote, q {	quotes: none;}
	  table {	border-collapse: collapse;	border-spacing: 0;}
	  h1,h2,h3,h4,h5,h6{ margin:0; padding:0}
  
	  a:link,a:visited,a:active {
	 
	  text-decoration:none;   }
	  a:hover{	color:#09C}
	  .clear {clear: both;}
	  textarea,input, select , option {color:#666}
	  strong { font-weight:bold;}
	  
	  p img {padding: 0;max-width: 100%;}
	  p  { margin:0}
	  img { border:none}
  
	  .clearfix:after {
	  content: ".";
	  display: block;
	  clear: both;
	  visibility: hidden;
	  line-height: 0;
	  height: 0;  }
	   
	  .clearfix {     display: inline-block;  }
	  html[xmlns] .clearfix {     display: block; }
	  * html .clearfix {      height: 1%; }
	  
	  
		iframe {
		height: 360px;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		width: 620px;
		}
	  /**********************************************************************************/
	  
	  /**********all pages*************/
	  .container{
		  /*width:1158px;*/
		  border-top:11px solid #000;
		  margin-right:auto;
		  margin-left:auto;
		  position:relative;
		  
		  }
		  
	   .wrapper{
		   background:#ffffff;
		   -webkit-box-shadow: #adadad 0px 0px 5px;
		   -moz-box-shadow: #adadad 0px 0px 5px;
			box-shadow: #adadad 0px 0px 5px;
			margin-right:auto; margin-left:auto;
			width:988px;
		   }
		   
	   .wrap{
			 margin-left:13px;
			 margin-right:13px;
			 margin-top:1px;
			 margin-bottom:0px;
				
		   
		   }
		   
		.upper_section{width:100%;
					   height:auto;}
					   
		 .header{ background:url(../images/header_bg.jpg) no-repeat;
				  width:100%;
				  height:130px;}
				  
		 .upper_menu{
			   width:607px;
			   height:25px;
			   background:#ffffff;
			   border-bottom:1px solid #767676;
			   float:left;
			   margin-top:3px;
			 }
			 
		  .upper_menu a{
			  color:#656565;
			  font-weight:bold;
			  font-size:15px;
			  float:right;
			  margin-right:8px;
			  margin-left:7px;
			  margin-top:5px;
			  line-height:21px;
			  }
			  
		  .upper_menu a:active, .upper_menu a:hover, .selected{
				border-bottom:3px solid #f84d00;}
				
		  .ads_header img{ border:1px solid #000;
						   margin-top:6px;
						   float:left;}
						   
		  /****menu****/
		  /*.drop_list_menu{height:50px;}*/
	  .ads_header1{
		  margin-left:25px;
		  padding-top:19px;
		  height: 60px;
		  width: 235px;
		  float:left;
	  }
	  .ads_header2{
		  margin-left:20px;
		  padding-top:19px;
		  height: 60px;
		  width: 235px;
		  float:left;
	  }
	  /*menu start here*/
	  .basictab ul{
		  margin-left: 0;
		  border-bottom: 1px solid gray;
		  list-style-type: none;
		  text-align: right;
		  direction:rtl;/*set to left, center, or right to align the menu as desired*/
		  font-family: Arial, Helvetica, sans-serif;
		  font-size: 12px;
		  font-weight: bold;
		  background:#2d2d2d;
		  background-repeat: repeat-x;
		  height:43px;
  }
  
	  .basictab li{
		  display: inline;
		  margin: 0;
		  height:28px;
		  line-height:45px;
			  }
  
	  .basictab li a{
	  color:#FFFFFF;
	  text-decoration:none;
	  font-size: 15px;
	  font-weight: bold;
	  padding-top: 3px;
	  padding-bottom: 13px;
	  padding-right: 15px;
	  padding-left: 15px;
	  }
  
	  /*.basictab li a:hover, .basictab li  a.current{
	  color: #FFF;
	  background-image: url(images/slice2_menu.jpg);
	  background-repeat: repeat-x;
	  height: 28px;
	  font-weight: bold;}*/
	  
  
	  .basictab li a:active{
		  color: #FFF;
		  /*background-image: url(images/slice2_menu.jpg);
		  background-repeat: repeat-x;*/
	  }
	  
	  .tabcontainer{
	  clear: both;
	  /*background-image: url(images/slice3_menu.jpg);
	  background-repeat: repeat-x;*/
	  height:25px;
	  /*padding-right:55px;*/
	  }
	  
	  .tabcontent{
	  display:none;
	  }
	  /****sub dropdown list *****/
	  .sub_dropdown_list{
		  font-weight: bold;
		  font-size: 14px;
	  }
	  
	  
	  .sub_dropdown_list ul{
	  margin: 0;
	  text-align: right; 
	  }
	  
	  .sub_dropdown_list ul li{
	  display: inline;
	  float:right;
	  margin-top:5px;
	  }
	  
	  .sub_dropdown_list ul li a{
	  color: #FFF;
	  margin-right: 20px;
	  text-decoration: none;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  }
	  
	  .sub_dropdown_list ul li a:hover, .sub_dropdown_list ul li a.selected{
	  border-bottom-color: black;
	  }
	  .background1{
		  background:#d33e15;
		  height:25px;
		  padding-right:55px;
		  position: relative;
  top: -4px;}
	  
	   .basictab li   a.current{
		  color: #FFF;
		  height: 28px;
		  font-weight: bold;
	  }
	  .basictab li a:hover {color: #FFF;
		  border-bottom: 3px solid #D33E15;
		  background-repeat: repeat-x;
		  height: 28px;
		  font-weight: bold;}
		  
	  
		  
		  .sd { background: url(../images/home_hover.jpg) no-repeat;
				  width: 60px;
				  height: 48px;
				  float: right;
				  position: relative;
				  top: -4px;
				  z-index: 100;
				  display: inline-block;}
		  /****menu***/
		  
		  
		  /*ticker start here*/
	  .news_title{ width:105px;
				   height:27px;
				   background-color:#949494;
				   float:right;}	
				   
	  .news_title center{
		  color:#fff;
		  font-size:18px;
		  font-weight:bold;
		  
		  }
	  
	  .news_ticker {
	  background-position:99% center;
	  height: 30px;
	  border-bottom: 1px solid #CFCFCF;
	  line-height:30px;
	  overflow:hidden;
	  margin-bottom: 10px;	
	  /*overflow: hidden;
	  margin-top:10px;*/
	  }
	  .previous {
	  background-image: url(../images/prev.png);
	  background-repeat: no-repeat;
	  height: 17px;
	  width: 15px;
	  text-indent:100px;
	  overflow:hidden;
	  float: left;
  }
  .next{
	  background-image: url(../images/next.png);
	  background-repeat: no-repeat;
	  height: 17px;
	  width: 15px;
	  text-indent:100px;
	  overflow:hidden;
	  float: left;}
	  
  .resume{
	  background-image: url(../images/play.jpg);
	  background-repeat: no-repeat;
	  height: 17px;
	  width: 15px;
	  text-indent:100px;
	  overflow:hidden;
	  float: right;
  
	  }
  .stop{
	  background-image: url(../images/pause.png);
	  background-repeat: no-repeat;
	  height: 17px;
	  width: 15px;
	  text-indent:100px;
	  overflow:hidden;
	  float: right;
  }
  .news {
	  float:right;
	  list-style-type: none;
	  direction:rtl;
	  margin-right:20px;
  }
  .news li  a{
	  text-decoration: none;
	  color: #c22a00;
	  font-weight: bold;
	  list-style-type: none;
	  font-size:16px;
  }
  .news ul li  {
	  display: inline;
  }
  .news ul li a{
	  color: #504949;
	  margin-right: 20px; 
	  text-decoration: none;
	  text-shadow:1px 1px 1px #ececec;
	  }
  
  .ticker-controls  {	
	  float:left;
	  margin-left:8px;
	  margin-top:6px;
	  margin-right:10px;
  }
  .news_last_update {
	  font-weight: bold;
	  color: #7a7979;
	  font-size: 12px;
	  float: left;
	  direction:rtl
	  
  }
  /*ticker end here*/
  
  /***right column and left colmun start here*/
	.right{
		float:right;
		width:659px;
		}
  
	 .left{
		 float:left;
		 width:289px;
		 }
  /***right and left column end here**/
  
  
  /********************************************************************************/
  /********home page*******/
  /*main_slideshow*/
  
  div#feature_list {
			  width: 650px;
			  height: 343px;
			  position: relative;
			  top: 4px;
			  right: 6px;
			  
		  }
  
		  div#feature_list ul {
			  position: absolute;
			  top: 0;
			  list-style: none;	
			  padding: 0;
			  margin: 0;
	  
		  }
  
	  ul#tabs {
			  left: -2px;
			  z-index: 2;
			  width: 276px;
			  /*background-image:url(../images/output_normal.png);
			  background-repeat:repeat-y ;
			  background-size: 268px 80px;
			  -moz-background-size: 268px 80px;	*/	
		  }
  
		  ul#tabs li {
			  font-size: 12px;
			  font-family: Arial;
			  width: 272px;
			  height: 66px;
			  background: #E5E4E4;
			  border: 1px solid lightGrey;
			  margin-bottom: 1px;
	  
		  }		
  
		  ul#tabs li a {
			  color: #222;
			  text-decoration: none;	
			  display: block;
			  padding: 10px;
			  height: 59px;
			  outline: none;
			  width:252px;
		  
		  }
  
		  ul#tabs li a:hover {
			  text-decoration: underline;
		  }
  
		  ul#tabs li a.current {
		  background: #C63B15;
		  color: white;
		  display: block;
		  outline: none;
		  height: 46px;
		  }
  
		  ul#tabs li h3{ margin-right:95px;
						font-size: 17px;
						font-weight: bold;
						line-height: 18px;
						float:right;
						height:40px;
						color:#393939;}
		  ul#tabs li a.current h3{
			  color:#ffffff;
		  }
		  ul#tabs li img {
			  border: none;
			  float: right;
			 margin: -47px -5px 0 0;
			 border:2px solid #898989;
		  }
		  ul#tabs li a.current img {
			  border:2px solid #ffffff;
		  }
		  ul#tabs li a.current:hover {
			  text-decoration: none;
			  cursor: default;
		  }
		  ul#output {
			  right: 0;
			  width:376px;
			  height: 316px;
			  position: relative;
		  }
  
		  ul#output li {
			  position: absolute;
			  width: 376px;
			  height: 316px;
		  }
  
		  ul#output li span {
			  position: absolute;
			  bottom: -28px;
			  right: 0px;
			  text-decoration: none;
			  font-size: 14px;
			  font-weight: bold;
			  color: white;
			  background: black;
			  width: 368px;
			  padding-left: 4px;
			  padding-right: 4px;
  
			  height:85px;
			  
		  
		  }
		  
		  ul#output li a:hover {
			  /*background: #D33431;*/			
		  }
		  
		  
		  .right_gallery{width: 670px;
				  height: 312px;
				  border: 1px solid #666;
				  margin-top: 5px;
				  float:right;}
				  
		  .tab_brief h6{ font-size:20px;
					  color:#000000;position: relative;
					  top: -284px;
					  width: 373px;}
   .tab_brief h3{color:#ff6600; margin-top:13px;}
  
  .corner_div{ background:url(../images/corners.png) no-repeat;
				height:353px;
				width:660px;
				margin-top:6px; }
				
				
  .gallery_more{
	  float: left;
	  position: absolute;
	  bottom: 11.5px;
	  left: 8px;
	  }
	  
  .output_scroll{ height:344px; overflow:hidden;}
  /*.output_scroll ul{ overflow-y:scroll;  }*/
		  /******************/
		  
  /*****************tabs start****************/
  
  #tab_more{position: relative;
  right: 615px;
  top: 18px;}
  .right_tabs_style {  
	  margin: 0;
	  padding: 0;
	  position: relative;
	  width: 656px    !important;
	  overflow:hidden;
	  margin-top:-12px;
	  height:442px;
  }
  .tab_nav1 {
	  border-bottom:3px solid #D33E15;
	  color: #FFFFFF;
	  height: 26px;
	  line-height: 37px;
	  padding: 0 2px  0 0;
  }
  .tab_nav1 li {
	  display: block;
	  float: right;
	  height: 30px;
	  margin: 0px;
	  padding: 0;
	  text-align: center;
	  width: 152px;
	  margin-right:-22px;
  }
  .tab_nav1 li a { 	
	   background-image: url(../images/tab_normal.png);
	  background-repeat: no-repeat; 
	  color: #000;
	  display: block;
	  font-size: 18px;
	  line-height: 30px;
	  outline: 0 none;
	  text-decoration: none;}
  .right_tabs_style a:hover {
	  color:#000
  }
  .tab_nav1 a.selected, .right_tabs_style a.selected:hover {
	  color: #fff !important;
	  height: 30px;
	  width: 152px;
	  border:none !important;
  }
  .right_tabs_style .local_content {
	  width: 651px  !important;
	  
	  height:383px !important;
	  position:relative;
	  border:1px solid #c3c3c3;
	  -webkit-box-shadow: #d4d4d4 0px 0px 10px;
	  -moz-box-shadow: #d4d4d4 0px 0px 10px;
	  box-shadow: #d4d4d4 0px 0px 10px;
	  margin-right:2px;
	  
  }
  .right_tabs_style .local_content.selected { position: static !important }
  
  .right_tabs_style .local_content ul{ font-size:16px; float:right;}
  .right_tabs_style .local_content li{
	  background-position: right 1px;
	  padding:0 15px 9px 0;
	   font-family: Times New Roman;
	  font-weight: bold; 
  }
  .right_tabs_style .local_content li a{ color:#272727}
  .tab_pic{ left: 14px;    position: absolute;    top: 46px;}
  /**/
  .send_quiz{
	  height: 23px;
	  left: 370px;
	  position: absolute;
	  top: 179px;
	  width: 93px;
	  background-image: url(../images/send_quiz_pink.jpg);
	  background-repeat: no-repeat;
  }
  .tab_more{  
		height: 23px;
	  left: 265px;
	  position: absolute;
	  top: 179px;
	  width: 79px;}
  /****************/
  .inner_tabs_style {  
	  font: 12px/14px Arial,sans-serif;
	  margin: 0;
	  overflow: hidden;
	  padding: 0;
	  position: relative;
	  width: 653px    !important;}
  .inner_tabs_style a:hover {
	  color:#000
  }
  .tab_nav1 a.selected, .inner_tabs_style a.selected:hover {
	  background-image: url(../images/tab_hover.png);
	  background-repeat: no-repeat;
	  color: #fff !important;
	  height: 30px;
	  width: 152px;
  }
  .inner_tabs_style .local_content {
	  width: 653px  !important;
	  position:relative;
	  border-top-width: 2px;
	  border-top-style: solid;
	  border-top-color: #e5e5e5;
  }
  .inner_tabs_style .local_content.selected { position: static !important }
  
  .inner_tabs_style .local_content ul{ padding:10px 10px 0 0; font-size:16px; float:right; width:420px;  }
  .inner_tabs_style .local_content li{
	  background-image: url(../images/tab_hover.png);
	  background-repeat: no-repeat;
	  background-position: right 1px;
	  padding:0 15px 10px 0;
	   font-family: Times New Roman;
	  font-size: 14px;
	  font-weight: bold; 
  }
  .inner_tabs_style .local_content li a{ color:#272727}
  
  .inner_tabs_style .tab_nav1 li a {
  
	  font-size: 14px !important ; font-weight:bold
  }
  
  .column1{ width:324px;
			float: right;
			border-left:1px dashed #cfcfcf;
			margin-top:15px;}
  
  .column1 a{ color:#000}
  #column_title{font-size: 19px;
				  line-height: 20px;
				  margin-right: 17px;
				  margin-top: 15px;}
				  
  .column1 p{font-size: 14px;
			  line-height: 16px;
			  margin-right: 17px;}
			  
  .column2{width: 310px;
		  float: right;
		  word-wrap: break-word;
		  height:310px;
		  overflow:hidden;}
  .column2 a{color: #1E4167 !important;}
		  
  .column2 ul{ 
			   color: #1E4167;
			  list-style-image: url(../images/circle_bullet.png);
			  margin-right: 22px;
			  margin-top: 18px;
			  font-size: 16px !important;
			  line-height: 17px;
			  
			   }
  /**********tabs end**************/
  
  /*************middle gallery*********/
  .slides_control{ height:170px !important;}
  /*gallery home*/
  .gallery_title a{
	  color:#004575;
	  font-size:19px;
	  font-weight:bold;
	  }
	  
  #slides {
	  direction: ltr;
	  z-index: 100;
	  width:937px;
	  height:197px;
	  margin-top:0px;
	  text-align:right;
	  overflow:hidden;
  
  }
  .slides_container {
	  width:896px;
	  height:164px;
	  overflow:hidden;
	  position:relative;
	  display:none;
	  margin-top:5px;
	  margin-left:21px;
	  
	  
  }
  #slides .slide {
	  padding:5px;
	  width:896px;
	  height:230px;
	  display:block;
  }
  #slides .prev {
	  top: -159px;
  position: relative;
	  display:block;
	  z-index:101;
	  width:29px;
	  right:3px;
  }
  #slides .next_gal {
	  position: relative;
	  top: -267px;
	  right: 0px;
  }
  
  .pagination {	
	  position: relative;
	  top: -400px;
	  width: 100px;
	  left: 796px;}
  .pagination li {	float:left;	margin:0 1px;	list-style:none;}
  .pagination li a {
	  display:block;
	  width:12px;
	  height:0;
	  padding-top:12px;
	  background-image:url(../images/normal_square.jpg);
	  background-position:0 0;
	  float:left;
	  overflow:hidden;
  }
  .pagination li.current a {	background-image:url(../images/hover_square.jpg);}
  
  .slide_img{ width:146px; float:left; margin-right:2px; position:relative}
  .slide_img img{
	  background-color: #FFF;
	  border: 1px solid #d0d0d0;
  }
  .slide_img p{
	  text-align:center;
	  font-weight:bold;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  color:#012c5a;
	  /*background-image: url(../images/gallery_title.png);
	  background-repeat: no-repeat;*/
	  height: 20px;
	  width: 127px;
	  position:absolute;
	  top:108px;
	  right:0px;
	  z-index: -1;
	  padding-top: 14px;
	   }
	   
	   
  /*content_video*/
  .content_video{
	  height:206px ; width:440px;
	  border: 1px solid #767676;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  float:right;
	  margin:0 0 0 5px;
	  background-color:#f8f8f8}	
	  
	  
	  
  #gallery_more{position: relative;
  right: 209px;
  top: 5px;}
  /**/
  
  /*************************first left column***********************/
   .wrong_ad{ color:#999; margin-top:0px; font-size:17px;}
   .wrong_ad a{ color:#d33e15;}
   
   .search_box{width: 178px;
			  height: 27px;
			  float: right
			  }
   .search_box input{
	   font-size:16px;
	   color:#b6b6b6;
	   font-size: 16px;
	  color: #B6B6B6;
	  padding-right: 20px;
	  width: 135px;
	  padding-left: 20px;
	   float:right
	   }
	.search_icons{width:105px; float:left}	 
   .search_btn{cursor: pointer;
			  background: transparent;
			  border: none;
			  position: relative;
			  top: -26px;
			  right: 142px;}
			  
	 @-moz-document url-prefix() {
			  .search_btn{cursor: pointer;
			  background: transparent;
			  border: none;
			  position: relative;
			  top: -20px;
			  right: 142px;
					  }
					  }
  
			  /*This will work for IE*/
  .ie9 .search_btn{cursor: pointer;
			  background: transparent;
			  border: none;
			  position: relative;
			  top: -20px;
			  right: 142px;
					  }
	  
  
  .ie8 .search_btn{cursor: pointer;
			  background: transparent;
			  border: none;
			  position: relative;
			  top: -20px;
			  right: 142px;
					  }
  .sec_left{ height:560px;}			
  .left_tab_header{
			 height:31px;
			 width:290px;
			 background:#2d2d2d;
			 color:#ffffff;
			 margin-top:5px
	  }			
  .left_tab_header h2{padding-top:8px;
					   margin-right:8px;}
					   
  .left .right_tabs_style{ width:290px !important; height:541px !important; top:-8px}
  .left .right_tabs_style .local_content.selected{ width:290px !important; height:541px !important; border:none; box-shadow:none;}
  .left .tab_nav1{ background:#dddcdc; border-bottom:none; height:30px;width: 289px;margin-right: 1px;}
  .left .tab_nav1 a.selected, .inner_tabs_style a.selected:hover{background:#ffffff; border:1px solid #c3c2c2; color:#2d2d2d !important;
																  width:144px;
																  height:26px;
																  border-bottom:3px solid #c93900 !important;}
																  
  .left .tab_nav1 a{ border-bottom:3px solid #7a7a7a;line-height: 26px;}
																  
  .left .tab_nav1 li{margin-right:0px !important; width:144px;height: 27px;margin-top: 4px;}
  .left .tab_nav1 li a{background:none; color:#2d2d2d !important}
  
  .large_div{ padding-right:10px; padding-left:10px; border-bottom:1px solid #e1e1e1; margin-top:5px; color:#4f4f4f; font-size:14px!important; padding-bottom:7px;}
  .large_div img{
	  border:2px solid #fff;
	  -webkit-box-shadow: #666 0px 0px 5px;
	  -moz-box-shadow: #666 0px 0px 5px;
	  box-shadow: #666 0px 0px 5px;
	  float:right;
	  margin-top:5px;}
	  
  .large_div div{ width:162px; float:left; margin-right:5px;}
  
  .large_div div h3{ color:#2f5c9b; margin-right:2px;}
  
  #left_news{ list-style-image:url(../images/li.jpg); margin-right:25px}
  /********first left column end************/
  
  /*********second right column***********/
  #ads{ margin-top:10px;}
  
  .tabs_container{}
  .tabs_container .right_tabs_style{ width:327px !important; height:489px !important; float:right;}
  .tabs_container .right_tabs_style .local_content.selected{ width:322px !important; height:462px !important; overflow:hidden}
  .tabs_container .tab_nav1 a{background:#ffffff; color:#000000 !important;
																  width:194px;
																  height:24px;
																  border-bottom:3px solid #f26c4f !important;}
  .tabs_container .right_tabs_style{height:535px !important; margin-left:2px}
  .tabs_container .tab_nav1{ border-bottom:none;}
  .tabs_container .tab_nav1 a.selected, .inner_tabs_style a.selected:hover{background:#dedede; border:1px solid #c3c2c2; color:#8b8b8b !important;
																  width:194px;
																  height:28px;
																  border-bottom:none !important;
																  }
																  
																  
  .tabs_container .tab_nav1 li{ width:174px;}
  
  
  .orange_more{position: relative;
			  top: 487px;
			  right: 288px;
			  font-size: 19px;
			  text-decoration: underline !important;
			   color:#ff6600;}
  
			  
			  /**************/
  .collection{width: 295px;
			  margin-right: auto;
			  margin-left: auto;
			  margin-top: 10px;}
			  
  .collection p{color:#222222;
				color: #222;
				font-size: 16px;
				margin-top: 6px;}
  .collection ul{  list-style-image:url(../images/circle_bullet.png); border-top:1px solid #cfcecf; margin-top:10px;}	
  .collection ul li{color:#004575 !important; border-bottom:1px solid #cfcecf; line-height:20px; margin-right:10px; height: 44px; overflow:hidden;}
  .collection ul li a{color:#004575 !important;}
  .collection h3{ font-size:18px; margin-top:10px;height: 34px;overflow: hidden;}
  .collection a{ color:#000;}
  .collection img{ border:4px solid #343434;}
  
  /*****************second left section*************************/
  .f_s_left{ width:290px; height:275px; border:3px solid #cccccc; overflow:hidden; margin-top:10px}
  #most_read{}
  #most_read a{ font-size: 16px;
			  font-weight: bold;
			  height: 17px;
			  overflow: hidden;
			  line-height: 16px;}
  #most_read ul{ list-style-image:url(../images/circle_bullet.png); margin-right:20px; margin-top:10px;}
  
   .f_s_left .tab_nav1 li{ width:86px; height:20px; margin-top:3px;margin-right: 7px !important}
   
   .f_s_left .tab_nav1 a.selected, .inner_tabs_style a.selected:hover{width:86px !important; height:21px !important;}
   
   .f_s_left .tab_nav1{ background:none; border-bottom:2px solid #ff8400}
   
   .f_s_left .tab_nav1 a.selected, .inner_tabs_style a.selected:hover{ background:#c8461b; border-bottom:none; color:#ffffff !important;}
   
   .f_s_left .tab_nav1 a{ border:2px solid #c5c5c5; color:#5a5a5a !important; height:20px}
   
   /*****************third part**********************/
   .freinds_fav{
				width:289px;
				height:291px;
				border:2px solid #aeaeae;
				border-top:2px solid #3a629d;
				overflow:hidden;
				margin-top:7px;
	   }
	   
  .freinds_header{height:38px; background-color:#eeeff4; border-bottom:2px solid #7894bb;}
  
  .freinds_header h2{ padding-right:10px; padding-top:10px;}
  .blog{ margin-top:10px; margin-right:10px}
  .freinds_footer{height:22px; margin-left:7px; margin-right:7px; border-top:2px solid #dedede; position:relative; bottom:0px;}
  .freinds_footer img{ float:right; margin-top:3px; margin-left:10px;}
  .freinds_footer p{ margin-top:3px;}
  
  .currency{ width:289px; height:191px; border:2px solid #d2d2d2; margin-top:7px;}
  .currency_header{ width:289px; height:31px; background:#000000; }
  .currency_header h2{ padding-right:10px; padding-top:10px; color:#ffffff;}
  
  .weather{ width:289px; height:219px; border:2px solid #d2d2d2; margin-top:7px;}
  .weather_header{ width:289px; height:32px; background:#c4320a; }
  .weather_header h2{ padding-right:10px; padding-top:10px; color:#ffffff;}
  
  .vote{ width:289px; height:219px; border:2px solid #d2d2d2; margin-top:7px;}
  .vote_header{ width:289px; height:32px; background:#c4320a; }
  .vote_header h2{ padding-right:10px; padding-top:10px; color:#ffffff;}
  
  .poll_space {
  
  margin: 8px;
  height: 151px;
  direction: rtl;
  text-align: right;
  padding: 5px;
  line-height: 19px;}
  
  .poll_space input{
					 background-color:#b7b7b7;
					 color:#000000;
					 border:none;
					 font-size:16px;
					 font-weight:bold;
					 padding:3px; padding-left:7px;
					 cursor:pointer;}
  .poll_space  center{				   
					 position: relative;
					 bottom: -40px;}
					 
  .poll_space input:hover{ background-color:#c93900; color:#fff;}
  
  
  /**************************************************/
  
  .last_middle_sec{ border-top:10px solid #000;  margin-top:10px;}
  .last_middle_sec .gallery_title{position: relative;
								  top: -27px;
								  right: 27px;}
  /*************middle gallery*********/
  .last_middle_sec .slides_control{ height:170px !important;}
  /*gallery home*/
  .last_middle_sec .gallery_title a{
	  color:#004575;
	  font-size:19px;
	  font-weight:bold;
	  }
	  
  .last_middle_sec #slides2 {
							 direction: ltr;
							  z-index: 100;
							  width: 960px;
							  height: 190px;
							  margin-top: -29px;
							  text-align: right;
							  overflow: hidden;
							  border-top: 2px solid #DA5538 !important;
							  border:1px solid #8f8f8f;
  }
  .last_middle_sec .slides_container {
	  width:896px;
	  height:180px;
	  overflow:hidden;
	  position:relative;
	  display:none;
	  margin-top:5px;
	  margin-left:32px;
	  
	  
  }
  .last_middle_sec #slides2 .slide {
	  padding:5px;
	  width:896px;
	  height:230px;
	  display:block;
  }
  .last_middle_sec #slides2 .prev {
	  top: -129px;
  position: relative;
	  display:block;
	  z-index:101;
	  width:29px;
	  right:9px;
  }
  .last_middle_sec #slides2 .next_gal {
	  position: relative;
	  top: -169px;
	  right: 7px;
  }
  
  /*.last_middle_sec .pagination {	
	  position: relative;
	  top: -400px;
	  width: 100px;
	  left: 796px;}
  .last_middle_sec .pagination li {	float:left;	margin:0 1px;	list-style:none;}
  .last_middle_sec .pagination li a {
	  display:block;
	  width:12px;
	  height:0;
	  padding-top:12px;
	  background-image:url(../images/normal_square.jpg);
	  background-position:0 0;
	  float:left;
	  overflow:hidden;
  }
  .last_middle_sec .pagination li.current a {	background-image:url(../images/hover_square.jpg);}*/
  
  .last_middle_sec .slide_img{ width:70px; float:left; margin-right:6px; position:relative; margin-left:4px;}
  .last_middle_sec .slide_img img{
	  -webkit-box-shadow: #666 0px 0px 5px;
	  -moz-box-shadow: #666 0px 0px 5px;
	  box-shadow: #666 0px 0px 5px;
	  border: 2px solid #ffffff;
  }
  .last_middle_sec .slide_img p{
	  text-align:center;
	  font-weight:bold;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  color:#012c5a;
	  background-image: url(../images/gallery_title.png);
	  background-repeat: no-repeat;
	  height: 20px;
	  width: 127px;
	  position:absolute;
	  top:108px;
	  right:0px;
	  z-index: -1;
	  padding-top: 14px;
	   }
  /*content_video*/
  .last_middle_sec .content_video{
	  height:206px ; width:440px;
	  border: 1px solid #767676;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  float:right;
	  margin:0 0 0 5px;
	  background-color:#f8f8f8}	
	  
	  
	  
  .last_middle_sec #gallery_more{position: relative;
  right: 209px;
  top: 5px;}
  /**/
  /****************footer*****************/
  .footer{ margin-top:10px;}
  .footer_menu1{margin-right:auto; margin-left:auto; width:675px}
  .footer_menu1 a{ float:right; color:#000000; font-size:18px; font-weight:bold; margin-left:48px }
  
  .footer_menu2{ height:88px;
				  border-top:3px solid #c93900;
				  background-color:#dedede;
				  margin-top:10px; margin-bottom:20px;
				  }
  .menu_container{
	  width:850px; margin-left:auto; margin-right:auto; margin-top:10px;height: 27px;
	  border-bottom: 1px solid #605f5e;
	  }			
		  
  .footer_menu2 a{float:right; color:#605f5e; font-size:18px; font-weight:bold; margin-left:20px }
  
  #site{ color:#c93900; font-size:15px; font-weight:bold;}
  /*************************/
  #goto_top{position: relative;
  float: left;
  bottom: 63px;
  left: 233px;
  
			  }
  #goto_top img{border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px}			
  #social_bar{ width:73px;
			   border:1px solid #b9b9b9;
			   height:304px;
			   background:#fff;
			   -webkit-border-radius: 8px;
			  -moz-border-radius: 8px;
			  border-radius: 8px;
			  -webkit-box-shadow: #666 0px 0px 5px;
			  -moz-box-shadow: #666 0px 0px 5px;
			  box-shadow: #666 0px 0px 5px;
		  position: fixed;
  bottom: 14%;
  right: 92%;
			  z-index:100;}
  
  #social_bar img{
  margin-top: 8px;}
  /****************************************************inner pages**************************************************************************/
										 
										 
													   /**************news today page************/
  
  .inner_ads{ float: right; width:160px;}
  
  .sec_inner_right{ margin-top:10px}
  
  .sec_inner_right .right_tabs_style{ width:490px !important; height:auto; float:right;}
  .sec_inner_right .right_tabs_style .local_content.selected{ width:490px !important; height:auto !important; box-shadow:none !important; overflow:hidden; border:none !important;}
  .sec_inner_right .tab_nav1 a{background:#ffffff; color:#000000 !important;
																  width:194px;
																  height:24px;
																  border-bottom:3px solid #f26c4f !important;}
  .sec_inner_right .right_tabs_style{ margin-left:2px; 
  margin-right:2px;
  margin-top: 0px;}
  .sec_inner_right .tab_nav1{ border-bottom:none;}
  .sec_inner_right .tab_nav1 a.selected, .inner_tabs_style a.selected:hover{background:#dedede; border:1px solid #c3c2c2; color:#8b8b8b !important;
																  width:194px;
																  height:28px;
																  border-bottom:none !important;
																  }
																  
																  
  .sec_inner_right .tab_nav1 li{ width:174px;}
  
  
  /******************************/
  #latest_news{ background:#ebebeb;} 
  .latest_news{ height:131px; margin-top:15px; margin-right:10px;}
  .latest_news img{ float:right;}
  .latest_news div{/*width: 320px;*/
				  margin-right: 162px;
				  line-height: 20px;
				  height:100px;}
				  
  .comments_no{ background-image:url(../images/comments.png);
				background-repeat:no-repeat;
				width:22px !important;
				height:21px !important;
				color:#fff;
				float:right;
				margin-right:10px !important;
				margin-left:10px;}
				
  .footnotes{ height:22px !important;}
  
  .footnotes img{ float:left;float: left;margin-left: 5px;}
  
  
  /********************* Paging Style *****************************/
  div.green-black {
	  padding:3px;
	  margin:3px auto;
	  text-align:center;
	  float:right;
	  width: 580px;
	  background-color:#efece5;
	  margin-right: 9px;
	  height:20px;
	  margin-top: 11px;
	  padding-top:10px
  }
  
  div.green-black a {
	  padding: 2px 5px 2px 12px;
	  margin-right: 6px;
	  text-decoration: none;
	  color: #606060;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  background:#e5e1d6;
  }
  
  div.green-black a:hover, div.green-black a:active {
	  padding: 2px 5px 2px 12px;
	  margin-right: 6px;
	  color: #fff;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  background-color:#c93a00;
  }
  
  div.green-black .current {
	  padding: 2px 5px 2px 12px;
	  margin-right: 6px;
	  font-weight: bold;
	  color: #fff;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  background-color:#c93a00;
  }
  
  div.green-black span.disabled {
	  padding: 2px 5px 2px 5px;
	  margin-right: 2px;
	  border: 1px solid #f3f3f3;
	  color: #ccc;
  }
  /********************* End Paging Style *****************************/
  .inne_left_ads{ margin-top: 10px;}
  .inne_left_ads img{ border: 2px solid #f6ab4a;
					   border-radius: 5px;
					   -moz-border-radius:5px;
					   -webkit-border-radius:5px;}
					   
					   
  .services{ width:290px;
			 height:155px;
			 border:2px solid #909090;
			 margin-top:10px;
			 background:#f6f6f6}
			 
  .services_header{ height:20px; background-color:#4e4e4e; color:#fff; border-bottom:3px solid #da5538; font-size:18px; font-weight:bold;
					 padding-top:13px; padding-right:13px;}
					 
					 /*********************/
  .services #slides3 {
	  direction: ltr;
	  z-index: 100;
	  width:292px;
	  height:155px;
	  margin-top:0px;
	  text-align:right;
	  overflow:hidden;
  
  }
  .services .slides_container {
	  width:290px;
	  height:105px;
	  overflow:hidden;
	  position:relative;
	  display:none;
	  margin-top:5px;
	  margin-left:0px;
	  
	  
  }
  .services #slides3 .slide {
	  padding:5px;
	  width:290px;
	  height:155px;
	  display:block;
  }
  .services #slides3 .prev {
	  top: -117px;
	  position: relative;
	  display: block;
	  z-index: 101;
	  width: 29px;
	  right: -3px;
  }
  .services #slides3 .next_gal {
	  position: relative;
	  top: -78px;
	  right: 7px;
	  z-index:100;
  }
  
  
  
  .services .slide_img{ width: 123px;
						  float: left;
						  margin-right: 2px;
						  position: relative;
					  }
  .services .slide_img img{
	  background:none; border:none;
  }
  .services .slide_img p{
	  text-align: right;
	  font-weight: bold;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  color: #012c5a;
	  height: 20px;
	  width: 127px;
	  position: absolute;
	  top: 68px;
	  right: 0px;
	  z-index: -1;
	  padding-top: 14px;
	  font-size: 17px;
	   }
	   
	   /*content_video*/
  .services .content_video{
	  height:206px ; width:440px;
	  border: 1px solid #767676;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	  float:right;
	  margin:0 0 0 5px;
	  background-color:#f8f8f8}
	  
	  
	  
	  /****************/
	  
  .third_inner_section{ width:275px; 
						 height:260px;
						 border:8px solid #484848;
						 margin-top:10px;
						 }
						 
  .video_follow{position: relative;
		  bottom: 46px;
		  float: left;
		  left: 1px;}
		  
		  
  .fb_fav{ border:1px solid #c5c5c5;
		   width:288px;
		   height:263px;
		   margin-top:25px;}
		   
		   
  /****************************************************syria news page*************************************************************/
  .syria_reports{ margin-top:10px;
				  width:651px;
				  height:186px;}
				  
  .sec_inner_right .syria_reports .right_tabs_style{ width: 651px !important;
													  float: right;}
  .sec_inner_right .syria_reports .right_tabs_style .local_content.selected{ width:651px !important; height:auto !important; box-shadow:none !important; overflow:hidden; border:none !important;}
  .sec_inner_right .syria_reports .tab_nav1 a{background:none; color:#2d2d2d !important;
																  width:194px;
																  height:24px;
																  border-bottom:none !important;}
  .sec_inner_right .syria_reports .right_tabs_style{ margin-left:2px; 
  margin-top:20px; margin-bottom:20px;}
  .sec_inner_right .syria_reports .tab_nav1{ border-bottom:none; background: #cecece;}
  .sec_inner_right .syria_reports .tab_nav1 a.selected, .syria_reports .inner_tabs_style a.selected:hover{background: #ffffff;
  color: #000000 !important;
  width: 194px;
  height: 24px;
  border-bottom: 3px solid #f26c4f !important;
																  }
																  
																  
  .sec_inner_right .syria_reports .tab_nav1 li{ width:174px;}
  
  
  /***********************/
  .latest_syria_news{
	  
	  padding-right:10px;
	  width:204px;
	  height:130px;
	  float:right;
	  border-left:2px dashed #969696;
	  margin-top:15px;
	  
	  }
	  .latest_syria_news a{ color:#000}
  .latest_syria_news p{ font-size:16px; margin-top:10px;}
  
  .latest_syria_news .footnotes {position: absolute;
  top: 164px;}
  
  .sec_inner_right .syria_reports .orange_more {
  position: relative;
  top: 24px;
  right: 615px;}
  
  .where{ color:#606060; margin-right:10px; margin-bottom:5px; margin-top:10px;border-bottom: 1px solid #ddd; height: 20px;}
  .where a{ float:right; color:#606060; margin-right:10px;}
  .where p{ float:right; margin-right:10px;}
  .where b{ float:right; margin-right:10px;}
  
  .inner_archive{width: 633px !important;}
  
  
 /* .inner_large_div{width: 475px !important;}*/
  
  .mosaly_ads{width: 276px;
			  height: 247px;
			  border: 8px solid #484848;
			  margin-top: 10px;}
			  
  /****************************contact us page**********************************/
  .contact_bg{ width:630px;
				height:725px;
				background-color:#e3e3e3;
				border:3px solid #b7b7b7;
				margin-right:22px;
				margin-top:20px}
				
				
  /*.contact_bg input{ box-shadow:inset 1px 3px 3px;}*/
  
  /************************ Contact  Page ******************************/
  .form {
  padding:20px 0 10px 0;
  }
  .form p{
  margin-top : 10px;
  }
  .form input, textarea , select  { 
	  padding: 5px 4px 4px;
	  border: solid 1px #E5E5E5;
	  outline: 0;
	  font: normal 13px/100% Verdana, Tahoma, sans-serif;
	  width: 540px;
	  background: #FFFFFF url('bg_form.png') left top repeat-x;
	  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  /*    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  */    box-shadow: inset 3px 3px 3px #cfcece;
	  -moz-box-shadow: inset 3px 3px 3px #cfcece;
	  -webkit-box-shadow:inset 3px 3px 3px #cfcece;  
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  margin-right:23px;
	  height:30px}
  .form textarea { 
	  width: 540px;
	  max-width: 540px;
	  height: 150px;
	  line-height: 150%;  }
  
  input:hover, textarea:hover, select:hover, option:hover
  input:focus, textarea:focus { 
	  border-color: #C9C9C9; 
	  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;}
  
  .form label { 
	  /*color: #999999;*/
	  display: block;
	  float: right;
	  font-size: 13px;
	  font-weight: bold;
	  margin-left: 10px;
	  min-width: 100px;
	  padding:0 10px 0 0
	  }
  .submit input {
	  width: auto;
	  padding: 9px 15px;
	  border: 0;
	  font-size: 14px;
	  color: #FFFFFF;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  margin:0 120px 0 0  ;
	  font-family:Arial; font-weight:bold;
	  cursor:pointer;
	  background: #333333;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FAFAF9), to(#111410));
  background: -webkit-linear-gradient(#FAFAF9, #111410);
  background: -moz-linear-gradient(#FAFAF9, #111410);
  background: -ms-linear-gradient(#FAFAF9, #111410);
  background: -o-linear-gradient(#FAFAF9, #111410);
  background: linear-gradient(#FAFAF9, #111410);
  -pie-background: linear-gradient(#FAFAF9, #111410);}
  .submit input:hover {
	  width: auto;
	  padding: 9px 15px;
	  border: 0;
	  font-size: 14px;
	  color: #333;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  margin:0 120px 0 0;
	  font-family:Arial;
	  font-weight:bold;
	  cursor:pointer;
	  background: #333333;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#111410), to(#FAFAF9));
  background: -webkit-linear-gradient(#111410, #FAFAF9);
  background: -moz-linear-gradient(#111410, #FAFAF9);
  background: -ms-linear-gradient(#111410, #FAFAF9);
  background: -o-linear-gradient(#111410, #FAFAF9);
  background: linear-gradient(#111410, #FAFAF9);
  -pie-background: linear-gradient(#111410, #FAFAF9);}
  
  /*****************/
  .contact_header{ background: #f7f7f7;
				  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f7f7f7), to(#dbdbdb));
				  background: -webkit-linear-gradient(#f7f7f7, #dbdbdb);
				  background: -moz-linear-gradient(#f7f7f7, #dbdbdb);
				  background: -ms-linear-gradient(#f7f7f7, #dbdbdb);
				  background: -o-linear-gradient(#f7f7f7, #dbdbdb);
				  background: linear-gradient(#f7f7f7, #dbdbdb);
				  width:524px; height:51px;
				  color:#555555;
				  margin-top:30px;
				  margin-right:50px;}
				  
  .contact_header h2{ padding-top:15px; margin-right:20px;}
  
  
  .confirm_img{}
  .confirm_img input{ width:450px}
  .confirm_img img{position: relative;
				  top: 9px;
				  right: 3px;
				  border: 1px solid #ccc;}
				  
  #submit{ background-image:url(../images/send_pattern.jpg); background-repeat:repeat;
		   width:154px;
		   height:54px;
		   color:#e3654c;
		   margin-right: 25px;
  margin-top: -12px;}
  
  #send_cv{color: #a8a8a9;
  font-weight: bold;
  margin-right: 22px;}
  
  /************/
  .large_contact{ padding-right:10px; padding-left:10px; border-bottom:1px solid #e1e1e1; margin-top:5px; color:#4f4f4f; font-size:14px!important; padding-bottom:7px;
  height:78px;
  overflow:hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;}
  .large_contact img{
	  border:2px solid #fff;
	  float:right;
  }
	  
  .large_contact div{
					width:162px;
					float:left;
					margin-right:5px;
					height: 68px;
					overflow: hidden;
					line-height: 17px;}
  
  .large_contact div h3{ color:#2f5c9b; margin-right:2px;}
  
  .clock{font-size: 11px;
  color: #999;
  }
  .clock p{border-bottom:none !important;}
  .tab_stye{ margin-top:-20px;}
  /************************ End Contact  Page ******************************/
  
  /****************innet pic page*************************/
  .cat{padding: 0 15px;}
  .cat li {
	  display: inline;
	  float: right;
	  height: 240px;
	  position: relative;
	  width: 206px;
	  padding-right:0px !important; 
	  padding-bottom: 15px;
  }
  .cat_border{
	  
	  }
  *|html .cat_border2{
	  
	  clear:both;
	  }	
	  
  .cat span{ display:block;padding:0 25px 0 5px ;height:44px;}
  .cat span a{	color:#009de5;	font-weight:bold;}
  .cat p{ padding:10px 10px 10px 5px; border-bottom:1px dashed #ccc; margin-left:10px; height:59px; overflow:hidden; font-weight:bold;}
  
  /* Elastislide Style */
  .es-carousel-wrapper{
	  background: #e4e4e4;
	  padding:10px 29px;
	  position:relative;
	  position:relative;
	  
  }
  .es-carousel{	overflow:hidden;}
  .es-carousel ul{
	  display:none; padding:0
  }
  .es-carousel ul li{
	  float:left;
	  display:block;height:72px !important;
	  width:91px !important;
  }
  .es-carousel ul li a{
	  display:block;
	  border-style:solid;
	  border-color:#222;
	  opacity:0.8;
	  -webkit-touch-callout:none;
	  /* option */
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  -ms-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	  width:91px;
  }
  .es-carousel ul li.selected a{
	  border-color:#fff;
	  opacity:1.0;
  }
  .es-carousel ul li a img{
	  display:block;
	  border:none;
	  width:91px; height:72px
	  
  }
  .es-nav span{
	  position:absolute;
	  top: -336%;
	  left: 4px;
	  width:24px;
	  height:314px;
	  margin-top:-13px;
	  text-indent:-9000px;
	  cursor:pointer;
	  opacity:0.8;
	  background-image: url(../images/one_pic_left.png);
	  background-color:#434343;
	  background-repeat: no-repeat;
	  overflow: hidden;
	  z-index:100;
	  background-position:center;
  }
  .es-nav span.es-nav-next{
	  right:17px;
	  left:auto;
	  background-image: url(../images/one_pic_right.png);
	  background-repeat: no-repeat;
	  background-position: center;
  }
  .es-nav span:hover{
	  opacity:1.0;
  }
  
  .rg-gallery{ width:308px; position:relative; direction:ltr}
  .rg-image img { padding: 0 0 0 7px;    width: 499px; height:313px;}
  .rg-thumbs{ position:absolute; top:390px; width:568px; right:-135px;}
  .rg-image-wrapper{ position: absolute;
					  top: 58px;
					  right: -94px;}
  .rg-caption{ direction:rtl}
  .rg-caption p{ padding:10px; font-size:14px}
  .rg-image-nav{ display: none}
  
  
  /********************
  image gallery
  **********************/
  .right_sections .rg-gallery {
	  direction: ltr;
	  position: relative;
	  width: 536px;
  }
  
  .right_sections .rg-thumbs {
	  position: absolute;
	  top: 353px;
	  width: 536px;
  }
  .right_sections  .rg-image img {
	  height: 280px;
	  padding: 0 0 0 0;
	  width: 536px;
  }
  
  /**************************/
  .onepic_bg{width: 630px;
			  height: 615px;
			  background-color: #e3e3e3;
			  border: 3px solid #b7b7b7;
			  margin-right: 22px;
			  margin-top: 20px;}
			  
  .contact_header img{position: relative;
  top: -32px;
  right: -63px;}
  
  .inner_social{margin-top: 15px;
			   margin-right: 47px;
			   height:20px}
  
  .inner_social img{ float:right;
					 margin-left:10px;}
					 
  .share{ background:url(../images/inner_share.jpg) no-repeat;
		   cursor:pointer;
		   width:49px;
		   height:20px;
		   border: none;
		  float: left;
		  margin-left: 61px;}
		  
		  
  /************************Guest Page **************/
  
  .comment strong{ color:#2C97B6;}
  .comment,
  #addCommentContainer{
	  padding:12px;
	  width:580px;
	  position:relative;
	  background-color:WhiteSmoke;
	  border:1px solid white;
	  color:#888;
	  margin-bottom:25px;
	  -moz-border-radius:10px;
	  -webkit-border-radius:10px;
	  border-radius:10px;
	  -moz-box-shadow:2px 2px 0 #c2c2c2;
	  -webkipx;t-box-shadow:2px 2px 0 #c2c2c2;
	  box-shadow:2px 2px 0 #c2c2c2;
	  margin-right:12px;
	  margin-top:20px;
	  height:auto;
	  overflow:hidden;
	  
  }
  
  .comment p{color:#b8573a}
  
  .comment .avatar{
	  height:50px;
	  right:-70px;
	  position:absolute;
	  width:50px;
	  background:url('img/default_avatar.gif') no-repeat #fcfcfc;
	  top:0;
	  -moz-box-shadow:1px 1px 0 #c2c2c2;
	  -webkit-box-shadow:1px 1px 0 #c2c2c2;
	  box-shadow:1px 1px 0 #c2c2c2;
  }
  
  .comment .avatar img{   display:block;}
  .comment .name{
	  font-size:16px;
	  padding-bottom:10px;
	  color:#848484;
	  font-weight:bold;
	  margin-bottom: 5px;
	  width:200px;
	  float:right;
  }
  .comment .date{
			 left: 238px;
			  top: 10px;
			  color: #2C97B6;
			  width: 201px;
			  float: right;
			  margin-left:40px;
  
  }
  .give_border{	border-bottom: 2px dashed #d9d9d9;
				  margin-top: 25px;}
  .comment p,
  #addCommentContainer p{
	  font-size:18px;
	  line-height:1.5;
	  overflow-x:hidden;
  }
  .guest_bg{width: 630px;
		  height: auto;
		  background-color: #e3e3e3;
		  border: 5px solid #b7b7b7;
		  margin-right: 22px;
		  margin-top: 20px;}
  /************************End Guest Page **************/
  
  /*********************************how support page**************************************/
  
  
  .guest_bg p{color: #2e3b5b;
  font-size: 18px;
  margin-top: 3px;
  padding-right: 20px;
  padding-left: 30px;
  line-height: 22px;}
  
  .rule{ background: #fff;
		  padding: 20px;
		  padding-top:10px !important;
		  padding-bottom:10px !important;
		  width: 546px;
		  margin-right: 10px;
		  margin-top: 10px;
		  font-size: 16px;
		  color: #464646;
		  line-height: 17px;
		  -webkit-box-shadow: #666 0px 2px 3px;
		  -moz-box-shadow: #666 0px 2px 3px;
		  box-shadow: #666 0px 2px 3px;
		  margin-bottom:10px;}
		  
  
  .rule div{ margin-right:50px; }
  
  .rule div p{color:#6b6b6b; font-size:16px; margin-top:0px; padding-right:0px;}
  .number{
		   float:right;
		   margin-left:10px;
		   margin-right:10px;
		  -webkit-border-radius: 8px;
		  -moz-border-radius: 8px;
		  border-radius: 8px;
		  -webkit-box-shadow: #666 0px 2px 3px;
		  -moz-box-shadow: #666 0px 2px 3px;
		  box-shadow: #666 0px 2px 3px;
		  background: #D23B09;
		  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D23B09), to(#a11704));
		  background: -webkit-linear-gradient(#D23B09, #a11704);
		  background: -moz-linear-gradient(#D23B09, #a11704);
		  background: -ms-linear-gradient(#D23B09, #a11704);
		  background: -o-linear-gradient(#D23B09, #a11704);
		  background: linear-gradient(#D23B09, #a11704);
		  -pie-background: linear-gradient(#D23B09, #a11704);
		  color: #fff;
		  width: 30px;
		  height: 24px;
		  padding-top: 6px;}
  /************************/
  
  .inner_l_div{}
  .inner_l_div, .inner_l_div p,  .inner_l_div span
  				{/*width: 250px;
				  float: right;*/
				  margin-top:20px;
				  line-height:28px;
				  color:#4d4d4d;
				  font-size:16px}
  .inner_l_div h2{color:#305679;; margin-top:10px; margin-bottom:10px}
  
  .details{ margin-top:10px; border-bottom:1px solid #ddd; height:25px;}
  .details p{width: 500px;
			float: right;
			margin-top:0px !important;
		  }
  .details small{color:#305679; font-size:13px;}
  .detail_social{width:400px;
				 float: left;
				 height:20px;
				 }
				 
  .detail_social p {font-size: 9px;
				  float: right;
				  width: 166px;
				  margin-top: 0px;
				  text-align: left;}
  .detail_social img{float:left;
					 margin-left:3px;}
  
  .detail_pic{
			  width: 386px;
			  float: left;
			  margin-top: 20px;
			  background-repeat: no-repeat;
			  height: auto;
			  margin-bottom:15px;}
  .detail_pic img{margin-top: 4px;
				padding-right: 15px;
				 }
				
  #sec_p{width: 100%;
		 margin-top: 10px;}
		 
  #third_ads_pic{border: 1px solid #f6a339;
				  float: left;
				  margin-top: 15px;
				  width: 300px;
				  height: 250px;
				  margin-right:10px;}
				  
 #third_ads_pic img{
	 			width:100%;
				height:100%;
	 }
				  
  #third_p { width:406px; line-height:23px}
  
  
  .related_news{ height:160px; 
				 margin-top:10px;
				 }
				 
  .related_news_div{width:120px;
					 margin:15px 4px 15px 4px;
					 float:right;
					 }
					 
  .related_news_div_header{height:34px;
						background-color:#c93900;
						border-bottom:4px solid #f26c4f;}
					 
  .related_news_div p{
				  font-size:13px;
				  font-weight:bold;
				  color:#215194;
				  margin-top:5px;}
					 
  .related_news_header{ height:28px;
						background-color:#e2e2e2;
						border-bottom:4px solid #f26c4f;}
						
						
  .related_news_header h2{
						  width: 125px;
						  padding-top: 5px;
						  padding-left: 20px;
						  padding-right: 20px;
						  padding-bottom: 5px;
						  background-color: #fff;
  
  }
  
  .related_news_header a{
						  float: left;
						  margin-top: -21px;
						  margin-left: 10px;
  }
  
  
  
  /***************************/
  .comments{ background:#f1f1f1; 
  margin-top: 15px;}
  
  .comments_header{ background-color:#c93900;
					height:34px;}
					
					
  .comments_header h2{
						  width: 125px;
						  padding-top: 10px;
						  padding-left: 20px;
						  padding-right: 20px;
						  padding-bottom: 5px;
						  color: #fff;
  
  }
  
  .comments_header a{
						  float: left;
						  margin-top: -25px;
						  font-size:16px;
						  margin-left: 10px;
						  color:#fff;
  }
  
  #facebook{ color:#215194;
			 font-size: 20px;
			 font-weight:bold;
			 border-bottom:3px solid #ef553e;
			 padding-bottom:5px;
			 margin-top:20px;
			 float:right;
			 padding-left:20px;
			 padding-right:20px;}
  
  #islammemo{padding: 5px 45px 5px 45px;
			  background: #c1c1c1;
			  color: #fff;
			  font-size: 20px;
			  font-weight: bold;
			  position: relative;
			  top: 21px;
			  right: 10px; }
			  
			  
  .user_comments{ width:589px;
				   height:80px;
				   background-color:#efeeed;}
				   
  .user_comments img{ float: right;
					  margin-right: -252px;
					  margin-top: 10px;
					  margin-left: 12px;}
  
  .user_comments textarea{width: 492px;
						  margin-top: 9px;
						  height: 36px;
						  margin-right: 0px;}
						  
  .user_comments button	{float: left;
						  font-weight: bold;
						  font-size: 14px;
						  margin-top: 5px;}
						  
						  /***************************/
						  
  #video_center{ margin-top:-80px; margin-right:5px; margin-left:auto}
 /* #video_center img{
	    width: 620px !important;
		height: 378px !important;
	  
	  }*/
  #play_video{position: relative;
  top: 194px;
  right: 267px;}
  .video_ads{ margin-top:10px;}
  
  .video_container{ height:580px !important;}
  
  .video_cat{ margin-top:10px;
			  margin-right:10px;}
  /*********************************************************************/
  /***************vertical gallery**********/
  
  
  /******************/
  .video_cat p{ color:#11467c;
				 font-size:15;
				 font-weight:bold;}
				 
				 
  .video_date{}
  .video_date a{ background-image:url(../images/comments.png);
				 width:22px;
				 height:21px;
				 background-repeat:no-repeat;
				 color:#fff;
				 float:right;
				 margin-top: 13px;
				 margin-right: 10px;}
				 
  .video_date p{ float:left;
				  border-bottom:none;
				  color:#d2d2d2;
				  font-size:12px;}
				  
				  /************************************************************************/
				  
  #slides2 .slides_container .slides_control .slide .slide_img a p{width:70px;}
  
  
  /********************************************************/
  .city_weather{
			  background: #ececec;
			  border: 1px solid #b5b5b5;
			  border-radius: 3px;
			  -webkit-border-radius: 3px;
			  -moz-border-radius: 3px;
			  width: 197px;
			  padding-right: 6px;
			  margin-right: 15px;
			  margin-top: 8px;}
			  
			  /********************************/
			  
  .enter_weather{ 
				  border: 1px solid #b5b5b5;
				  color:#fff;
				  text-align: center; width: 200px;
				  -webkit-border-radius: 5px;
				  -moz-border-radius: 5px;
				  border-radius: 5px;
				  -webkit-box-shadow: #666 0px 2px 3px;
				  -moz-box-shadow: #666 0px 2px 3px;
				  box-shadow: #666 0px 2px 3px;
				  background: #959688;
				  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#959688), to(#3B3F3B));
				  background: -webkit-linear-gradient(#959688, #3B3F3B);
				  background: -moz-linear-gradient(#959688, #3B3F3B);
				  background: -ms-linear-gradient(#959688, #3B3F3B);
				  background: -o-linear-gradient(#959688, #3B3F3B);
				  background: linear-gradient(#959688, #3B3F3B);
				  -pie-background: linear-gradient(#959688, #3B3F3B);
				  width: 41px;
				  font-size: 15px;
				  cursor: pointer;
				  }
  .weather_number{
	  float: left;
	  margin-left: 26px;
	  margin-top: 5px;
	  color: #797979;}
	  
  .weather_text{
	  float: right;
	  margin-right: 26px;
	  margin-top: 5px;
	  color: #797979;
	  font-size:17px;
	  }
	  
	  /***************************/
	  
  .weather_cs{ width:210px;
			   height:62px;
			   background:#1180b1;
			   border-radius:4px;
			   -webkit-border-radius:4px;
			   -moz-border-radius:4px;
			   margin-top:5px;
			   color:#fff;}
			   
  .weather_cs p{   float: right;
				  font-size: 31px;
				  font-weight: bold;
				  margin-top: 22px;
				  margin-right: 45px;}
				  
  .weather_cs img{position: relative;
				  top: 6px;
				  left: 19px;}
				  
				  
				  /*********************/
				  
  .currency table{
	  color: #666666;
	  font-weight: bold;
	  margin-top:10px;
	  margin-right:10px;
	  margin-left:10px;}
	  
  .currency table td{ border-left:1px solid #e2e2e2;
					   height:27px;
					   width:75px;
					   padding-right:5px;}	
  
   
  #currancy_name{
				 width:200px;
	   }
	   
  .td_bg{ background:#f2f2f2}
  
  /****************************************/
  .comment_header{
		  background: #f7f7f7;
		  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f7f7f7), to(#dbdbdb));
		  background: -webkit-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -moz-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -ms-linear-gradient(#f7f7f7, #dbdbdb);
		  background: -o-linear-gradient(#f7f7f7, #dbdbdb);
		  background: linear-gradient(#f7f7f7, #dbdbdb);
		  width: 212px;
		  height: 33px;
		  color: #555555;
		  margin-top: 30px;
		  margin-right: 50px;
		  padding-top: 20px;
		  border: 1px solid #dbdbdb;
		  border-radius: 5px;
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;}
		  
		  /*****************************************************/
		  
  .desgined_by a{
				  color: #999;
				  font-size: 17px;
				  font-weight: bold;
				  margin-right: 55px;
				  cursor:pointer}
				  
  .desgined_by img{ position:relative;
					top:5px;}
					
					/************************************/
					
					
  .copyrigth{
			  float: left;
			  margin-left: 150px;
			  margin-top: 24px;
			  font-size: 16px;
			  font-weight: bold;
			  color: #999;}
			  /***************************************************/
			  
			  
  .goto_islammemo{
				  position: relative;
				  right: 1px;
				  float: right;
				  width: 213px;
				  height: 80px;
				  top: 34px;
	  }
	  
  .no_border_bottom{ border-bottom:none !important;}
  
  
  /**********************/
  .last_poll_time{float: left;
				  width: 104px;
				  direction: rtl;
				  color:#F60;}
  
  /**********************/
  
  .last_poll{ 
		  float: right;
		  width: 344px;
		  padding-left: 1px !important;
		  margin-right:-40px;}
		  
		  /**********************************/
		  
  .admin_art_tabs{}
  .tabs_container .admin_art_tabs  .tab_nav1 li{width:63px; border-left:1px solid #999;margin-right:0px; height:27px;}
  .tabs_container .admin_art_tabs  .tab_nav1 li a{ width:63px}
  
  .tabs_container .admin_art_tabs .tab_nav1 a.selected{border-left:1px solid #999;}
  
  /**********amn art page***************/
  
  .indentmenu_main {
  color: #333;
  font-weight: bold;
  font-size: 13px;
  padding-top: 0px;
  padding-right: 11px;
  padding-left: 11px;
  float: right;
  margin-top: 5px;
  }
  
  .indentmenu_main a{ color:#D33E15}
  
  #admin_art{color: #999;
  font-size: 18px;
  line-height: 30px;}
  
  .content_sections_text {
			  font-weight: bold;
			  font-size: 14px;
			  float: left;
			  width: 200px;
			  padding-left: 5px;
			  text-align: justify;
			  direction: rtl;
			  margin-top: 5px;
			  color: #646464;
			  margin-top: 10px;
			  margin-bottom:15px;
  }
  
  .content_sections_pic {
			  height: 66px;
			  width: 96px;
			  float: right;
			  margin-top: 10px;
			  margin-bottom: 5px;
  }
  
  .content_sections2 {
			  background-color: #f0f0f0;
			  border-bottom-width: thin;
			  border-bottom-style: solid;
			  border-bottom-color: #CCC;
			  min-height: 110px;
  }
  
  .sections1_2 {
			  width: 685px;
			  margin-bottom: 10px;
			  margin-top: 10px;
			  min-height: 380px;
  }
  .section1 {
			  width: 323px;
			  float: right;
			  margin-right: 5px;
			  background-color: #F0F0F0;
  }
  .indentmenu3 {
			  font: bold 13px Arial;
			  width: 100%;
			  height: 28px;
			  background-color: #dddcdc;
			  border-bottom: 3px solid #D33E15;
  }
  
  .section2 {
			  width: 323px;
			  float: left;
			  margin-left: 27px;
			  background-color: #F0F0F0;
  }
  
  .indentmenu4 {
			  font: bold 13px Arial;
			  width: 100%;
			  height: 28px;
			  background-color: #dddcdc;
			  border-bottom: 3px solid #D33E15;
  }
  
  .content_section {
			  border: thin solid #CCC;
			  overflow-y: Scroll;
			  height: 335px;
			  direction: ltr;
  }
  
  .sections_more2 {
			  font-family: Arial, Helvetica, sans-serif;
			  font-size: 14px;
			  font-weight: bold;
			  color: #D33E15 !important;
			  padding-bottom: 2px;
			  padding-left: 10px;
			  padding-top: 1px;
			  text-align: left;
			  border-bottom-width: 2px;
			  border-bottom-style: solid;
		  /*	border-bottom-color: #AB1E2E;*/
			  background-color: #CCC;
  }
  
 .admin_more{  font-family: Arial, Helvetica, sans-serif;
				padding-bottom: 2px;
				padding-left: 10px;
				padding-top: 1px;
				text-align: left;
				border-bottom-width: 2px;
				border-bottom-style: solid;
				background-color: #CCC;
				position: relative !important;
				top: 513px !important;
				border-bottom: 2px solid #D33E15;
				height: 20px;
				font-size: 16px;
				font-weight: bold;
				left:0px !important;}
				
 .admin_more a,  .sections_more2 a, .sections_more a{color: #D33E15 !important;}
  .sections_more {
			  font-family: Arial, Helvetica, sans-serif;
			  font-size: 14px;
			  font-weight: bold;
			  color: #D33E15 !important;
			  padding-bottom: 2px;
			  padding-left: 10px;
			  padding-top: 1px;
			  text-align: left;
			  border-bottom-width: 2px;
			  border-bottom-style: solid;
  /*			border-bottom-color: #255AB1;*/
			  background-color: #CCC;
  }
  
  /*****************search result page*********************/
  .page2_block2 {
			  height: 120px;
			  margin-top: 10px;
			  background-image: url(images/border1.jpg);
			  background-repeat: no-repeat;
			  background-position: center bottom;
  }
  .page2_icon_title {
			  height: 20px;
  }
  
  .page2_block2_title {
  font-size: 16px;
  font-weight: bold;
  color: #333 !important;
  text-align: right;
  }
  
  .page2_block2_title a {
  
  color: #333 !important;
  }
  
  .page2_block2_icon {
			  float: right;
			  padding-right: 20px;
			  width: 40px;		
  }
  
  .page2_block2_date {
			  color: #949494;
			  padding-right: 50px;
			  text-align: right;
			  font-weight: bold;
			  direction: rtl;
  }
  
  .page2_block2_content {
			  font-family: Arial, Helvetica, sans-serif;
			  font-size: 14px;
			  font-weight: bold;
			  color: #666;
			  direction: rtl;
			  padding-right: 50px;
			  padding-left: 10px;
			  text-align: right;
  }
  .page2_block2_more a {
			  color: #990000;
			  font-weight: bold;
			  padding-left: 20px;
			  text-align: left;
			  float: left;
  }
  
  
  .date_no{
	  position: relative;
	  top: -102px;
	  left: 75px;
	  font-size: 29px;
	  color: #fff;}
	  
  .contact_header small{position: relative;
						  top: -91px;
						  left: 49px;
						  font-weight: bold;
						  font-size: 10px;
						  color: #fff;}
						  
						  /************************************************************************/
						  
						  
  .imp_news{
	  height: 31px;
	  background-color:#d33e15;
	  color:#fff;
	  margin-top:5px;
	  margin-bottom:5px;
	  }
	  
  .imp_news marquee{ color:#fff; font-size:17px; line-height:30px}
  
  /******************************************************************/
  
  .comments_tabs{ margin-top:12px;}
			   
  .comments_tabs .tab_nav1 	{
				  background: #c1c1c1;
				  border-bottom:none;
				  color: #fff;
				  font-size: 20px;
				  font-weight: bold;
				  height:29px;}
  
  .comments_tabs .tab_nav1 li a{ background:none; color:#fff ;}
  
  .comments_tabs .tab_nav1 li a.selected{  
			 color:#215194 !important;
			 font-size: 20px;
			 font-weight:bold;
			 border-bottom:3px solid #ef553e !important;
			 padding-bottom:0px;}
  .comments_tabs .right_tabs_style .local_content{ border:none !important;
													box-shadow:none;
													height:auto !important;}
													
													
  .comments_tabs .right_tabs_style{ height:auto !important;}
  
  .content_sections_text a { color:#f26c4f ;
					font-size:16px;
					font-weight: bold;}
					
					
 .admin_art_tabs .local_content.selected{overflow-y:scroll!important; }
 
 
 .news_nw_bg{
	 
	 width: 630px;
	margin-top: 20px;
	 
	 }
	 
.article {
		background-repeat: no-repeat;
		height: 20px;
		background-image: url(../images/article.jpg);
		width: 100%;
		background-position: 90%;
		padding-bottom: 4px;
		padding-top: 10px;
}

.align_ul {
		padding-right: 70px;
		background-image: url(../images/border4.jpg);
		background-repeat: no-repeat;
		background-position: 85% top;
		text-align: right;
		padding-top: 5px;
}
.linkred a {
		color: #ff6600;
		text-decoration: none;
		font-size:16px;
}   
.article_point {
		list-style-image: url(../images/point_black.jpg);
		list-style-position: outside;
		list-style-type: square;
		text-align: right;
		direction: rtl;
		display: inline;
		font-weight: bold;
}

.cat_more{
		float: left;
		font-size: 18px;
		text-decoration: underline !important;
		color: #ff6600;
	}
	
	
.hadath_arch_pic{ border:3px solid #d33e15;
                  margin-top:10px;
				  margin-bottom:10px;}
				  
				  
				  /***************************poll inner**********************/
				  
		.poll_text{
					color: #333;
					font-size: 18px;
					width: 569px;
					float: right;
					text-align: right;
					font-weight: bold;
					direction: rtl;
					padding-right: 5px;
					margin-right: 10px;
					margin-top: 20px;
					margin-bottom: 20px;
					
					}
			.vote_border {
					width: 267px;
					margin-left: 5px;
					margin-right:50px;
					}
			.body_vote {
			font-family: Arabic Transparent , Arial, Helvetica, sans-serif;
			font-size: 15px;
			color: #666;
			direction: rtl;
			margin-right: 2px;
}

			.vote_count {
				border-bottom: 1px solid #A4A4A4;
				float: left;
				font-size: 17px;
				font-weight: bold;
				margin-right: 5px;
				padding-bottom: 30px;
				padding-right: 20px;
				padding-top: 5px;
				text-align: right;
				width: 127px;
				color:#333;
							}
			
			.poll_bar {
				margin-top: 3px;
				height: 12px;
				background-color: #d33e15;
				margin-right: 45px;
				}
			