﻿@model memov5entity.Models.ajaxpollviewmodel
@using memov5entity.Models
  
@{
    tblPoll poll = Model.getpoll();
  //  string pid = Model.get_poll_id().ToString();
    
}

 <div id="tryhide" class="vote_header"><h2>استطلاع</h2></div>
           <div id="tryhide2" class="poll_space"><h3 id="tryhide3">@poll.Question </h3>
               <form method="post" id="f" name="f" action="/polls/ajaxpollresult?bab=@Model.Bab "  >
           
            <ul>
                @if (!string.IsNullOrEmpty(poll.Selection_1))
                { 
                           <li>
						@Html.RadioButton("choice", "Votes_1") 
                        <label>@poll.Selection_1 </label> 
					</li>
                } 
                					

                 @if (!string.IsNullOrEmpty(poll.Selection_2))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_2") 
                        <label>@poll.Selection_2 </label> 
					</li>
                 } 
                 @if (!string.IsNullOrEmpty(poll.Selection_3))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_3") 
                        <label>@poll.Selection_3 </label> 
					</li>
                 } 
                 @if (!string.IsNullOrEmpty(poll.Selection_4))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_4") 
                        <label>@poll.Selection_4 </label> 
					</li>
                 } 
                 @if (!string.IsNullOrEmpty(poll.Selection_5))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_5") 
                        <label>@poll.Selection_5 </label> 
					</li>
                 } 
                 @if (!string.IsNullOrEmpty(poll.Selection_6))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_6") 
                        <label>@poll.Selection_6 </label> 
					</li>
                 } 
                 @if (!string.IsNullOrEmpty(poll.Selection_7))
                 { 
                           <li>
						@Html.RadioButton("choice", "Votes_7") 
                        <label>@poll.Selection_7 </label> 
					</li>
                 } 
                    				</ul>
                    <center>
                    <input  type="button" onclick="vote_poll()" value="تصويت" name="vote" id="vote2">
                    <input  type="button" onclick="explore_polls_result()"  value="النتيجة" name="result" id="result">
                   
                        <a href="/polls">أرشيف الاستطلاعات</a>
                    </center>
                   </form>
              </div>
