﻿@model memov5entity.Models.ajaxpollviewmodel
@using memov5entity.Models;
@{tblPoll poll = Model.getpoll(); 
  int total_votes =Convert.ToInt32(poll.Votes_1 + poll.Votes_2 + poll.Votes_3 + poll.Votes_4 + poll.Votes_5 + poll.Votes_6 + poll.Votes_7);
 // ajaxpollviewmodel p = new ajaxpollviewmodel(bab);

  string pid = Model.get_poll_id().ToString();
  }
  
  <script type="text/javascript">
      $("#tryhide").hide();
      $("#tryhide2").removeClass('poll_space');
      $("#tryhide3").hide();
  </script>

                          @if (Request.Cookies["c" + pid] != null)
                          {
                          <div class="vote_header"><h2>استطلاع</h2></div>
                           
                         <h3 style="margin-top:10px;margin-bottom:5px">@poll.Question </h3>          
                          }
  

                        	<div class="vote_border">
                                                   
                        	@if (!string.IsNullOrEmpty(poll.Selection_1))
                         { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_1</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_1) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_1) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                         } 
                                              	@if (!string.IsNullOrEmpty(poll.Selection_2))
                                               { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_2</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_2) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_2) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                                               }
                                              	@if (!string.IsNullOrEmpty(poll.Selection_3))
                                               { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_3</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_3) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_3) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                                               }
                                             	@if (!string.IsNullOrEmpty(poll.Selection_4))
                                              { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_4</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_4) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_4) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                                              }
                                                   	@if (!string.IsNullOrEmpty(poll.Selection_5))
                                                    { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_5</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_5) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_5) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                                                    }
                                                   	@if (!string.IsNullOrEmpty(poll.Selection_6))
                                                    { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_6</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_6) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_6) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                                                    }
                                                   	@if (!string.IsNullOrEmpty(poll.Selection_7))
                                                    { 
                            
                            
                             <div class="body_vote clearfix">
                        <div class="latest_poll_block1 clearfix">
  <div class="latest_poll_choice">@poll.Selection_7</div>
  <div>
  <div class="latest_poll_no">@(Math.Round(Convert.ToDecimal(poll.Votes_7) / Convert.ToDecimal(total_votes) * 100, 2) + "%") </div>
 
  <div class="latest_poll_bar">
  <div class="poll_bar" style="width:@(Convert.ToInt32(Convert.ToDecimal(poll.Votes_7) / Convert.ToDecimal(total_votes) * 100) + "%"); " ></div>
  </div>
  </div>
  </div>      </div>  
  
  
          
                           }
                                              

                          
                           <div>
                        <div style="padding-bottom:3px;color:Red;font-weight:bold;padding-top:3px;">
                           <a href="/polls">أرشيف الاستطلاعات</a></div></div>
                      
       </div>