﻿@model memov5entity.Models.pollsviewmodel

@{
    ViewBag.Title = "مفكرة الإسلام : استطلاعات سابقة";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
    Culture = "ar-eg";
}

  <div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/polls">أرشيف الأستطلاعات</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <center><h2>استطلاعات سابقة</h2></center>
           
            </div>
             @{
                 string polls_details = Model.get_37_polls();
                 string[] polls_array = polls_details.Split('|');                
              }
                @for (int i = 0; i < polls_array.Count()-1; i++)
			{
                    string[]one_poll_array=polls_array[i].Split('*');
                    DateTime dt = Convert.ToDateTime(one_poll_array[2]);
          <a  href="javascript:void" class="last_poll2" onclick="window.open('/polls/popup_poll_result?poll_id=@one_poll_array[0]','voting','left=300,top=350, width=350px,height=350,location=0,status=1,scrollbars=0,menubar=0,resizable =no');">          
                    <div class="rule2">
                    <div class="clearfix">@one_poll_array[1]     
                    <div class="last_poll_time2">@dt.ToString("dd MMMM,yyyy")</div></div>
                    </div> 
              </a>
			        <div class="clear">
                        </div>
			}     
         </div>
  
                 
                 <div class="clear"></div>
         <div class="green-black">
    @{
        // *****************paging*******************************************
     }        
             @{
                 int pages_count = Model.get_pages_count();
                 string cat_url = "/polls";
                 System.Collections.ArrayList viewdata_array = new System.Collections.ArrayList();
                 viewdata_array.Add(pages_count);
                 viewdata_array.Add(cat_url);
                 ViewData["model"] = viewdata_array;}
                 @Html.Partial("pagination", ViewData["model"])          		
                </div>
@{
    string pageno = Model.getpageno.ToString();
if(pageno == "0"){
    pageno = "";
 
   } 
}