﻿@{
    Layout = null;
}
@{
    memov5entity.Models.tblPoll poll = (memov5entity.Models.tblPoll)ViewData["poll"];
    int total_votes = Convert.ToInt32(poll.Votes_1 + poll.Votes_2 + poll.Votes_3 + poll.Votes_4 + poll.Votes_5 + poll.Votes_6 + poll.Votes_7);
}
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<div class="guest_bg clearfix">
            <div class="contact_header">
              <center><h2>استطلاعات</h2></center></div>
     
             <div class="poll_text" id="p1">@poll.Question</div>
             <div class="clear"></div>
            <div class="vote_border" style="float:right;">

 @if (string.IsNullOrEmpty(poll.Selection_1) == false)
        {
          <div class="body_vote clearfix">
          <div class="latest_poll_block1 clearfix">
          <div class="latest_poll_choice">@poll.Selection_1</div>
          <div>
                <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_1)/Convert.ToDecimal( total_votes)*100,2)% </div>
                <div class="latest_poll_bar">
                <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_1)/Convert.ToDecimal( total_votes)*100)%"></div>

                </div>
          </div>
          </div>      
          </div>  
        }
                                       
    @if(string.IsNullOrEmpty(poll.Selection_2) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_2</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_2)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_2)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
                 @if(string.IsNullOrEmpty(poll.Selection_3) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_3</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_3)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_3)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
 @if(string.IsNullOrEmpty(poll.Selection_4) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_4</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_4)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_4)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
                 @if(string.IsNullOrEmpty(poll.Selection_5) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_5</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_5)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_5)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
                 @if(string.IsNullOrEmpty(poll.Selection_6) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_6</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_6)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_6)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
                 @if(string.IsNullOrEmpty(poll.Selection_7) == false)
    {
        <div class="body_vote clearfix">
        <div class="latest_poll_choice">@poll.Selection_7</div>
           <div class="latest_poll_block2 clearfix">
                              
       <div>
            <div class="latest_poll_no">@Math.Round( Convert.ToDecimal( poll.Votes_7)/Convert.ToDecimal( total_votes)*100,2)%</div>
                             
            <div class="latest_poll_bar">
            <div class="poll_bar" style="width:@Convert.ToInt32( Convert.ToDecimal( poll.Votes_7)/Convert.ToDecimal( total_votes)*100)% "></div>
           </div>
      </div>
          </div>                        
                                                  
      </div>        
    }
                     
  <div class="vote_count" style=" border-bottom:none;">عدد الأصوات=@total_votes </div>
                        
                      
       </div>
       
       
         </div> 
