﻿@model memov5entity.Models.Homeviewmodel
@{
    string character = (string)ViewData["autocomplete"];
    string[] suggests = Model.get_country(character);
    
    
}
<style>
#sameh:hover
{
background-color:Silver;
}
</style>
 <script>
        $(function () {
        @{}
     
            var availableTags = [
         
            @for (int i = 0; i <  suggests.Length; i++)
               {

                   Response.Write("<p id='sameh'><a  onclick='select_city(this);'>" + suggests[i] + "</a></p>");
                  
               } 
        
     
    ];
            $("#auto").html('');
            $("#location").autocomplete({
                source: availableTags
            });
        });
    </script>
    <script>
        function select_city(city) {
            // alert($(city).html());
            var ss = $(city).html();
            //alert(ss);
            $("#location").val(ss);
            $("#auto").hide();
        }

        //        $('#sameh').click(function () {
        //            var ss = $('#sameh').html();
        //            alert(ss);
        //            $("#location").val(ss);
        //            $("#auto").hide();

        //        }); 
     </script>
    
