﻿@model memov5entity.Models.Homeviewmodel
@using memov5entity.Models
@{
    int mynindex = Convert.ToInt32(ViewData["myno"]);
    string title1 = "منوعات";
    string title2 = "مباشر";
    string url1 = "akhbar-monawaa";
    string url2 = "/hadath-el-saa";
    int id1 = 797;
    int id2=625;
    List<Article> arts1 = new List<Article>();
    List<Article> arts2 = new List<Article>();
    switch(mynindex){
        case 1:
                          //اؤاء اقلام القراء

            title1="اراء";
            title2="اقلام القراء";
            url1 = "";
            url2 = "";
             
              arts1 = Model.explorenews_without_ajax_v5(608, 4, "aaraa");//aaraa
            arts2 = Model.explorenews_without_ajax_v5(607, 4, "koraa");//koraa
            break; 
        case 2:
                        //  المستشار فن الادارة 

             title1="المستشار";
            title2="فن الإدارة";
            url1 = "";
            url2 = "";
           
            arts1 = Model.explore_hour_events_v5(4);
            arts2 = Model.explorenews_without_ajax_v5(605, 4, "edara");//edara
            break;
        case 3:
                          //نحن والغرب ذاكرة الامة

            title1 = "نحن والغرب";
            title2 = "ذاكرة الأمة";
            url1 = "";
            url2 = "";
          
     arts2 = Model.explorenews_without_ajax_v5(300, 4, "zakera");//zakera
            arts1 = Model.explorenews_without_ajax_v5(796, 4, "west");
            break;
        default:
            arts2 = Model.explore_hour_events_v5(4);//hadath
            arts1 = Model.explorenews_without_ajax_v5(797, 4, "mon");//mon
            break;
            
              
    }
}
  <div class="right_tabs_style">
         
			<ul class="tab_nav1">
				<li><a href="#1">@title1</a></li>
			  <li><a onclick="load();" href="#2">@title2</a></li>
			</ul>
		<div name="#1" class="local_content">
            @if(arts1.Count>0){
           <div class="collection">
          <a href="@arts1[0].url"><img   src="/img/loading.gif" data-original="@images_server.updateimg(arts1[0].image_url, "")" width="287" height="165" /></a>
          <a  href="@arts1[0].url"><h3>@arts1[0].Title</h3></a>
          <p>@arts1[0].Apprev ......</p>
          @if(arts1.Count>1){
          <ul>
              @for(int a=1;a<arts1.Count;a++){
            <li><a href="@arts1[a].url">@arts1[a].Title
 </a></li>
              }   
          </ul>
          }
          </div>
      <a href="#" class="orange_more">مزيد</a>            
            }
           
		</div>
		<div name="#2" class="local_content">
            @if(arts2.Count>0){
                     <div class="collection">
          <a href="@arts2[0].url"><img id="nn" src="/img/loading.gif" data-original="@images_server.updateimg(arts2[0].image_url, "")" width="287" height="165" /></a>
          <a  href="@arts2[0].url"><h3>@arts2[0].Title</h3></a>
          <p>@arts2[0].Apprev ......</p>
          
          @if(arts2.Count>1){
          <ul>
              @for(int a=1;a<arts2.Count;a++){
            <li><a href="@arts2[a].url">@arts2[a].Title
 </a></li>
              }   
          </ul>
          }
          </div>
           <a href="#" class="orange_more">مزيد</a>        
            }
            

                </div>

			
	  </div>
     
