﻿@model memov5entity.Models.Homeviewmodel
@using  memov5entity.Models
@using System.Collections
@using System.Globalization
@{
   
 //  string country_ip = Request.UserHostAddress;
  // Response.Write(country_ip);
    string country_ip = "5.82.1.0";
 //  int tab_select = Model.select_tab(country_ip);
   //2c0f:ffd0:ffff:ffff:ffff:ffff:ffff:ffff
   int tab_select = Model.get_country_no(country_ip);
 //  long tab_select = Model.IP2Long(country_ip);
  
    ViewBag.Title = "مفكرة الإسلام : الصفحة الرئيسية";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
    List<Article>channels_list=Model.getmemochannels();
    partialsviewmodel partialview = new partialsviewmodel();
	 string location = "";
    if(Request.Cookies["final"] != null)
    {
        location = Request.Cookies["final"].Value;
    }else{

       location = "Mecca,SaudiArabia";
        
    }
}
@section myhead
{

  <script type="text/javascript" >
      $(document).ready(function () {

          $('#weather').load('/home/weather?location=@(location)');

          alert(@country_ip);
      });

     
</script>
}
<!-- facebook recommendation  -->
<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ar_AR/all.js#xfbml=1&appId=148708292956";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
 <!--imp news-->
 @{string aagel = Model.get_khabar_aagel(); List<Article> hourevents = Model.explore_hour_events(); }
          @if (!string.IsNullOrEmpty(aagel))
            { 
         <div class="imp_news" style="font-size:17px; line-height:30px;">
             <center>   <b> @Html.Raw( Model.get_khabar_aagel()) </b>
           </center>
         </div>
          }
         <!--imp news-->
         <!--right column start here-->
         <div class="right">
           <!--main gallery start-->
           <div class="corner_div">
            <div id="feature_list">
			<ul id="output">
                                     @{  
  

    ArrayList arts = Model.explorenews_without_ajax(623, 5,"recent");
    ArrayList arrids = (ArrayList)arts[0];
    ArrayList arrimgurl = (ArrayList)arts[4];
    ArrayList arrapprevs = (ArrayList)arts[2];
    ArrayList arrtitle = (ArrayList)arts[1];
    ArrayList arrurl = (ArrayList)arts[3];
    ArrayList arrdate = (ArrayList)arts[5];
   
    }
                @for (int b = 0; b < arrids.Count ; b++){
                    string listitem = "none";
                    if (b == 0) { listitem = "list-item"; }
    				<li style="display: @listitem ">
					<a href="#"><img src="@images_server.updateimg(arrimgurl[b].ToString(), "_340_309_")" width="376" height="268" alt="1.jpg" id="li"></a>
                    <div class="tab_brief">
                    <span>
                    <a href="@arrurl[b].ToString()"><h3> @arrtitle[b].ToString() </h3></a> @arrapprevs[b].ToString()
                    <a href="@arrurl[b].ToString()"><img src="/images/more.png" class="gallery_more"></a>
</span>
                    </div>
					
				</li>
				}
				
						
               			
                </ul>
			<div class="output_scroll">
                <ul id="tabs">
                 @for (int b = 0; b < arrids.Count ; b++){
                    string listitem = "";
                    if (b == 0) { listitem = "class='current'"; }
				<li>
					<a href="javascript:;" @listitem >                    	
                        <h3> @arrtitle[b].ToString() </h3>
                        <img src="@images_server.updateimg(arrimgurl[b].ToString(), "_340_309_")" width="82" height="56">
					</a>
				</li>
                 }
               		</ul></div>
		</div>
           </div>
            
           <!--main gallery end-->
           
           <!--tab1 start mahaliat-->
             <div class="right_tabs_style_locals">
             <a href="/akhbar/Locals" id="tab_more"><img src="/images/black_more.png" /></a>
			<ul class="tab_nav1">
				<li><a href="#1">محليات سعودية </a></li>
			  <li><a href="#2"> محليات مصرية </a></li>
				<li><a href="#3">محليات عربية  </a></li>
			</ul>
		<div name="#1" class="local_content" id="content">
        
			@{  Html.RenderPartial("locals", Model, new ViewDataDictionary { { "myno", "0" } }); }
		</div>
		<div name="#2" class="local_content">
             	@{  Html.RenderPartial("locals", Model, new ViewDataDictionary { { "myno", "1" } }); }
	    </div>
        <div name="#3" class="local_content">
	    	@{  Html.RenderPartial("locals", Model, new ViewDataDictionary { { "myno", "2" } }); }
             
		  
	    </div>
			
	  </div>
           <!--tab1 end-->
         </div> <!--right colmn end-->
         
         <!--left column start-->
         <div class="left">
          @{Html.RenderPartial("reports_search_socialicons", partialview);}
          <div class="clear"></div>
          <!--second left block-->
      @{Html.RenderPartial("syrua_thawra",partialview);}
          <!--second left block end-->
          <div class="clear"></div>
          <!--ad-->
      <div  style="float:inherit;margin-left:-3px;">
             <script type="text/javascript"><!--
                 google_ad_client = "ca-pub-4264562862176288";
                 /* islammemo_mediumRec */
                 google_ad_slot = "8818291245";
                 google_ad_width = 300;
                 google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
          <!---->
         </div>
         <!--left column end-->
         <div class="clear"></div>
         <!--Middle section-->
         <div id="slides">
     <div class="gallery_title"><a href="/vedio-images/vedio">مرئيات</a>
                                 <a href="/vedio-images/vedio" id="gallery_more"><img src="/images/more.png" /></a>
                                 </div> 
	 <div class="slides_container">
             @{ArrayList arr = Model.explorenews_without_ajax(846,12, "vdio");
    arrimgurl = (ArrayList)arr[4];
    arrtitle = (ArrayList)arr[1];
    arrurl = (ArrayList)arr[3];
  
    }
         @for (int a =0; a < arrtitle.Count; a++){
             @(a%6==0?Html.Raw("<div class='slide'>"):Html.Raw(""))
             
        <div class="slide_img">
        <a rel="example_group" href="@arrurl[a].ToString()" title="@arrtitle[a].ToString() "><img src="#" data-original='@images_server.updateimg(arrimgurl[a].ToString(), "_340_309_")' width="146" height="109" /></a>
       <a href="#"> <a href="@arrurl[a].ToString() "> <p> @arrtitle[a].ToString() </p> </a> </a>
        </div>
             @((a>0 && (a+1)%6==0)|| a==arrtitle.Count-1?Html.Raw("</div>"):Html.Raw(""))
       
         }
		
     
       		
	</div>
	<a href="#" class="prev"><img src="/images/gallery_left.jpg" width="23" height="109"></a>
	<a href="#" class="next_gal"><img src="/images/next_middle.jpg" width="23" height="109"></a>
			</div>
         <!--Middle section end-->
         <div class="clear"></div>
         <!--seccond right section start-->
         <div class="right">
          <center>
               <script type="text/javascript"><!--
                   google_ad_client = "ca-pub-4264562862176288";
                   /* islammemo_banner */
                   google_ad_slot = "3521063131";
                   google_ad_width = 468;
                   google_ad_height = 60;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
          </center>
          
          <div class="tabs_container"><!--container for 2 tabs-->
          @{
              //ViewData["catindex"] = "0";
             // ViewData["myno"]="0";
              Html.RenderPartial("double_tabs_cats", Model, new ViewDataDictionary { { "myno", "0" } });
              
              //اؤاء اقلام القراء
              Html.RenderPartial("double_tabs_cats", Model, new ViewDataDictionary { { "myno", "1" } });
              }
      
          </div><!--container for 2 tabs-->
       
              <div class="tabs_container"><!--container for 2 tabs-->
           @{ 
            //  المستشار فن الادارة 
               Html.RenderPartial("double_tabs_cats", Model, new ViewDataDictionary { { "myno", "2" } });
              
              //نحن والغرب ذاكرة الامة
               Html.RenderPartial("double_tabs_cats", Model, new ViewDataDictionary { { "myno", "3" } });
              }
      
          </div><!--container for 2 tabs-->
         <div class="clear"></div>
        @Html.Partial("join_us")
         </div><!--seccond right section end here-->
         
         <div class="left"><!--second left column-->
          @{Html.RenderPartial("top_articles",partialview);}
              <!--first section end-->
           
           <div class="freinds_fav"><!--second section-->
        <div class="fb-recommendations" data-site="islammemo.cc" data-app-id="148708292956" data-width="289" data-height="275" data-header="true"></div>
           </div><!--second sec end-->
           
             <div id="weather">

            </div>
           
           <div class="currency">
           <div class="currency_header"><h2>سعر عملات الصرف</h2></div>
           <table><tbody>
               @{Dictionary<string, string> currency_list = Model.get_curruncy();}
               @for(int i=0;i<currency_list.Count;i++){
                   string style="";
                   if(i%2==1){style=" class='td_bg'";}
                   
           <tr @style>
             <td id="currancy_name">@currency_list.Keys.ElementAt(i)</td>
             <td> @currency_list.Values.ElementAt(i)$</td>
           </tr>
               }
           </tbody></table>
           </div>
           <div class="vote"  id="poll">

          
           </div>
         </div><!--end second left column -->
        <div class="clear"></div>
        <div class="last_middle_sec"><!--last middle gallery-->
            <div class="gallery_title"><a href="#"><img src="/images/lower_gall_title.png" /></a>
                                 </div> 
           <div id="slides2">
	 <div class="slides_container">
		  @for(int a=0;a<channels_list.Count;a++){
            @(a%11==0?Html.Raw("<div class='slide'>"):Html.Raw(""))
		
        <div class="slide_img">
        <a rel="example_group" href="@channels_list[a].url" title="@channels_list[a].Title"><img src="#" data-original="@channels_list[a].image_url" width="70" height="104" />
        <p>@channels_list[a].Title</p>
        </a>
        </div>
    //  bool chk=(a>0 && a+1 %11==0)|| a==channels_list.Count-1;
		 @((a>0 && (a+1) %11==0)|| a==channels_list.Count-1?Html.Raw("</div>"):Html.Raw(""))
       
    }
       		
	</div>
	<a href="#" class="prev"><img src="/images/lower_left.jpg"  width="14" height="41"></a>
	<a href="#" class="next_gal"><img src="/images/lower_right.png" width="18" height="41"></a>
			</div>
        </div>
<script>
    $(document).ready(function () {
        //   alert('ttt');
        $('#poll').load('/polls/ajaxpoll?bab=main');

    });
    function explore_polls_result() {
        // new Ajax.Updater('f', '/polls/ajaxpollresult?bab=main&choice=result<%=pollreslng.Replace("us","US")%>', { method: 'get' });
        $('#f').load('/polls/ajaxpollresult?bab=main&choice=result');
    }
    function weather() {
        var ff = $('#location').val();
        ff = ff.toString().replace(/ /g, "+");
        $('#weather').load('/home/weather?location=' + ff);
    }
    function call_me() {
        $("#auto").show();
        var query = $("#location").val();
        $("#auto").load('/home/autocomplete?country=' + query);
    }

    function vote_poll() {
        if (navigator.appName != 'Microsoft Internet Explorer') {
            var vote = "";
            for (i = 0; i < document.f.choice.length; i++) {
                if (document.f.choice[i].checked == true) {
                    vote = document.f.choice[i].value
                }
            }
            if (vote != "") {
                $('#f').load('/polls/ajaxpollresult?bab=main&choice=' + vote);
            }
        }
        else {
            var vote = "";
            var collection = document.getElementsByName('choice');
            for (var i = 0; i < collection.length; i++) {
                if (collection[i].checked == true) {
                    vote = collection[i].value
                }
            }
            if (vote != "") {
                $('#f').load('/polls/ajaxpollresult?bab=main&choice=' + vote);
            }
        }
    }
    </script>
	<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundle/lazylooding")"></script>
<script>
    $("img").lazyload({ threshold: 200 });
</script>
  <script>
   $('.right_tabs_style_locals').liteTabs({ fadeIn: false, selectedTab:@tab_select, right_tabs_style_locals: true });
  
</script>
   