﻿@model memov5entity.Models.Homeviewmodel
@using memov5entity.Models;
@{
    List<Article> arts1 = new List<Article>();
    arts1 = Model.explorenews_without_ajax_v5(300, 1, "zakera");
    
    
}
 
  @if (arts1.Count > 0)
  {
  <div class="join_us"><!--join us start-->
          	<div class="join_us_header"><a href="/sharek-braek">شارك برأيك</a></div>
            <div class="large_div"><!--large block-->
          <a href="@arts1[0].url"> <img src="/images/join_us.jpg" width="161" height="85"></a>
          <div>
            <a href="@arts1[0].url"><h3>@arts1[0].Title</h3></a>
            <a href="@arts1[0].url">@arts1[0].Apprev</a>
          </div>
        </div>
          </div><!--join us end-->                
  
  }