﻿@model memov5entity.Models.Homeviewmodel
@using memov5entity.Models
@{
    int mynindex = Convert.ToInt32(ViewData["myno"]);
   
    List<Article> arts = new List<Article>();
  
    switch(mynindex){
        case 1:
                          //اؤاء اقلام القراء

           
              arts = Model.explorenews_without_ajax_v5(922, 11, "local_ksa");
           
            break; 
        case 2:
                        //  المستشار فن الادارة 


            arts = Model.explorenews_without_ajax_v5(923, 11, "local_egypt");
         
            break;
              default:
    
            arts = Model.explorenews_without_ajax_v5(921, 11, "local_arab");
            break;
            
              
    }
}
@if(arts.Count>0){
  <div class="column1">
         <center> <img class="lazy" src="/img/loading.gif" data-original="@images_server.updateimg(arts[0].image_url, "")" width="294" height="178" /></center>
        <a href="@arts[0].url"> <p id="column_title">@arts[0].Title</p></a>
         
         <p>@arts[0].Apprev </p>
          </div>

 if(arts.Count>1){
          <div class="column2">
     
          <ul>
              @for(int a=0;a<arts.Count;a++){
            <li><a href="@arts[a].url">@arts[a].Title</a></li>
              }

          </ul>
        
          </div>
 }
}