﻿@model memov5entity.Models.Homeviewmodel
@using memov5entity.Models
@{
   // string[] get_weather = new string[6];

 // ViewData["getweatrher"] = new SelectList(get_weather);
   // string[] get_weather = (string[])ViewData["getweatrher"];
//string location =ViewData["location"].ToString();
    //string v = @ViewBag.city;
    string location = Request["location"];
    string result_location_ = location.Replace(" ","");
    string[] result_weather = Model.get_weather(result_location_);
string date = @Convert.ToDateTime(DateTime.Now).ToString("H:m tt");
}


   
  <div class="weather">
             <div class="weather_header"><h2>حالة الطقس</h2></div>
             <div>
            @* @using (Ajax.BeginForm("weather", "home", new AjaxOptions { HttpMethod = "post"}))
             {*@
           
               <form action="/home/weather?location=@location" method="post" name="weatherform" id="weatherform">
                 <input type="text" style="text-align:left" onkeyup="call_me()" id="location" name="location" placeholder="أكتب المدينة او الرقم الكودي لها "  class="city_weather"/>
                 <button type="button" id="ok" onclick="weather()" class="enter_weather">ادخل</button>
                   <div id ="auto" style="width:220px; direction:ltr;line-height:23px;position:absolute;z-index:10; background-color:White">
        </div>
               </form>
               
             @*}*@
                <div>
                   <p class="weather_text">@result_weather[0]</p>
                   <p class="weather_number">@date</p>
                </div>
                <div class="clear"></div>
                <center>
                  <div class="weather_cs">
                     <p>@result_weather[2]°C</p>
                     <img src="@result_weather[3]" height="52px" />
                  </div>
                </center>
                 <div>  <p class="weather_text">نسبة الرطوبة </p>
                   <p class="weather_number">@result_weather[4]%</p></div>
                   <div class="clear"></div>
                   
                   <div><p class="weather_text">سرعة الرياح</p>
                   <p class="weather_number">km/h  @result_weather[5]</p></div>
                   <div class="clear"></div>
              
             </div>
           </div>
          <div class="currency">
           <div class="currency_header"><h2>سعر عملات الصرف مقابل الدولار</h2></div>
           <table><tbody>
               @{Dictionary<string, string> currency_list = Model.get_curruncy();}
               @for(int i=0;i<currency_list.Count;i++){
                   string style="";
                   if(i%2==1){style=" class='td_bg'";}
                   
           <tr @style>
             <td id="currancy_name">@currency_list.Keys.ElementAt(i)</td>
             <td> @currency_list.Values.ElementAt(i)$</td>
           </tr>
               }
           </tbody></table>
           </div>