﻿@{
    ViewBag.Title = "مفكرة الإسلام : شريط اخبار مفكرة الاسلام";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}
@section myhead
{
<script type="text/javascript">

    $(document).ready(function () {
        $("#barq").addClass("selected");

    });
    $(document).ready(function () {
        $("#barq2").addClass("selected");

    });
</script>
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#ff_div').hide();
    });

    function show() {
        $('#ff_div').show();
    }
</script>

<div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/barq.aspx">شريط اخبار مفكرة الاسلام</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <h2> شريط اخبار مفكرة الاسلام</h2>
              <img src="/images/support.png"/>
            </div>
                	<div class="browswer_container">
            	<a href="/toolbar/chrom/toolbar_chrome.exe"><img src="images/ch.png" width="118" height="115" /></a>
                	<a href="javascript:void" onclick="show(); "><img src="images/ff.ico" width="112" height="115" /></a>
                    	<a href="/toolbar/IE/atbpi-u3aoBm-1.0.exe"><img src="images/iee.png" width="116" height="121"></a>
                
            </div><!--broser container end-->
             <div id="ff_div">
                 <div class="rule">
                 <p><a  style="margin-right: -36px; font-size: 17px;" href="https://s3.amazonaws.com/com.alexa.toolbar/atbp/u3Zpp9/download/index.htm">https://s3.amazonaws.com/com.alexa.toolbar/atbp/u3Zpp9/download/index.htm</a>  </p>
                 <p style="color: red;width: 550px;padding: 0;margin: 0;">  ملحوظة : يجب فتح الرابط على  متصفح الفاير فوكس لتتمكن من تحميل شريط عنوان مفكرة الإسلام الخاص بمتصفح الفاير فوكس بشكل صحيح.   </p>
                 </div>
                 </div>
              <p class="barq_title">التعريف بعمل الشريط  و أهم مميزاته::</p>
                <br />
                <p>يقوم الشريط بالتكامل مع المتصفح ويصبح أحد الأشرطة الأساسية فى مجموعة أشرطة المتصفح ويظهر أسفل شريط العناوين(Address Bar) كما يتضح من الصورة التالية</p>
            <center><img src="~/Images/tolbar_img.png" style="width:630px;height:67px;margin-top: 10px;" />

            </center>
           
            <p class="barq_title">مميزات الشريط::</p>
            <div class="clear"></div>
            

                 <div class="rule">
            <center><b class="star">*</b></center>
            <div><p>متابعة الأخبار العالمية لحظة بلحظة بصورة طبيعية أثناء تصفح المواقع الأخرى دون الحاجة إلى الدخول الموقع.</p></div>
            </div>  
            <div class="clear"></div>
            
            <div class="rule">
            <center><b class="star">*</b></center>
            <div><p>مشاهدة الأخبار قبل نزولها في الصفحة الرئيسة للموقع .</p></div>
            </div>
             
              <div class="clear"></div>
            
            <div class="rule">
          <center><b class="star">*</b></center>
            <div><p>يـبلغ عدد الأخبار خمسة عشر خبرا وهى أحدث الأخبار بالموقع. </p></div>
            </div>
             
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="star">*</b></center>
            <div><p>الالدخول السريع إلى أبواب الموقع المختلفة (أسرة - سياسة - دين - منوعات ) بضغطة واحدة. </p></div>
            </div>
            
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="star">*</b></center>
            <div><p>سرعة البحث فى الموقع أو فى الإنترنت عن طريق محرك البحث..</p></div>
            </div>
            
    </div>
           
        