﻿@{
    ViewBag.Title = "مفكرة الإسلام : شروط الإستخدام";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}

 <div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/using.aspx">شروط الأستخدام</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <h2>شروط الإستخدام</h2>
              <img src="/images/terms_of_use.png"/>
            </div>
             
            <div class="rule">
            <center><b class="number">1</b></center>
            <div><p>لا يسمح لكم بنسخ محتوى ISLAMMEMO.CC أو إعادة نشره أو تحميله أو بثه أو نشره أو إتاحته للجماهير أو تعديله أو تغييره أو تبديله أو إنتاج أعمال مبنية على فكرة محتوى ISLAMMEMO.CC أو استخدام محتواه بأي صورة أخرى إلا في حالة الاستخدام الشخصي غير التجاري، وأي استخدام يخالف ذلك فإنه يحتاج إلى تصريح كتابي مسبق من ISLAMMEMO.CC وهذا ينطبق على الصور والمواد المكتوبة.</p></div>
            </div>  
            <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">2</b></center>
            <div><p>لا يجوز استخدام ISLAMMEMO.CC لأغراض لا يسمح بها القانون كالتعدي على حقوق الآخرين بمنعهم أو حدّهم أو محاولة الإساءة إليهم.</p></div>
            </div>
             
              <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">3</b></center>
            <div><p>الدعاء ثم الدعاء ثم الدعاء، ومثل هذا العمل يجب أن لا نغفل عن تسديد الله له بفضل دعاء إخوتنا وأخواتنا، ونحن دائمًا في حاجة إليه كحاجة العطشان إلى الماء، والله ثم والله إنا لنرى بركة دعائكم لنا في مسيرة المفكرة. </p></div>
            </div>
             
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">4</b></center>
            <div><p>يتعهد ISLAMMEMO.CC بتقديم معلومات دقيقة وواضحة، وأي استخدام من الآخرين غير صحيح أو ترتب أثر على استخدام غير صحيح فإن ISLAMMEMO.CC غير مسئول عن ذلك. </p></div>
            </div>
            
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">5</b></center>
            <div><p>كل ما يقدمه الزوار لـ ISLAMMEMO.CC من معلومات خبرية أو تقارير صحفية أو مقالات أو فتاوى أو تحليلات أو تحقيقات أو حوارات أو دروس دينية أو ملفات صحفية ونحوها وذلك من الراغبين في المشاركة فإن هذا يعد إذنا لـ ISLAMMEMO.CC بأحقية إعادة نشرها من غير أن يكون عليها تبعات حقوقية ومن غير أن يكون لمقدم تلك المعلومات أي حق بمطالبة ISLAMMEMO.CC بحقوق مالية بشرط أن تنسب إليه.</p></div>
            </div>
            
              <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">6</b></center>
            <div><p>ليس كل الآراء المنشورة في ISLAMMEMO.CC تعبر عن وجهة نظر الموقع وإنما هي تعبر عن وجهة نظر المشاركين بها. </p></div>
            </div>
            
                 <div class="clear"></div>
            
            
         </div>
