﻿@{
    ViewBag.Title = "مفكرة الإسلام : كيف تدعمنا";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}
@section myhead
{
<script type="text/javascript">

    $(document).ready(function () {
        $("#donate").addClass("selected");

    });
    $(document).ready(function () {
        $("#donate2").addClass("selected");

    });
</script>
}
<div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/donate.aspx">كيف تدعمنا</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <h2>كيف تدعمنا</h2>
              <img src="/images/support.png"/>
            </div>
              <p>مفكرة الإسلام عمل إعلامي إسلامي نهدف من خلاله إلى تقديم الحدث كما هو من غير زيادة ولا نقصان؛ حتى تكون الصورة واضحة لدى المسلمين لما يدور من حولهم أو يُدار عليهم، ولا شك أن مثل هذا العمل يحتاج إلى التضحية من الجميع، فكما أنه يحتاج إلى المال والجهد منا فهو يحتاج أيضًا إلى تضحيتكم ودعمكم ونستطيع أن نوضح مجالات دعم مفكرتكم الحبيبة:</p>
            <div class="rule">
            <center><b class="number">1</b></center>
            <div><p>مفكرة الإسلام عمل إعلامي إسلامي نهدف من خلاله إلى تقديم الحدث كما هو من غير زيادة ولا نقصان؛ حتى تكون الصورة واضحة لدى المسلمين لما يدور من حولهم أو يُدار عليهم، ولا شك أن مثل هذا العمل يحتاج إلى التضحية من الجميع، فكما أنه يحتاج إلى المال والجهد منا فهو يحتاج أيضًا إلى تضحيتكم ودعمكم ونستطيع أن نوضح مجالات دعم مفكرتكم الحبيبة:</p></div>
            </div>  
            <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">2</b></center>
            <div><p>الذب عن عرض المفكرة هو ذب عن قضاياها المصيرية والتي تعرضت للأذى لأجلها، خاطرنا في حرب أفغانستان وحرب العراق ومجازر أهل السنة في العراق وفي حرب لبنان وفي التعدي على جناب النبي صلى الله عليه وسلم، وفي كل مرة ولله الحمد كان خطنا واضحًا وأصيلاً ، ولابد لهذا الخط من عدو عامد أو صديق جاهل يحاول النيل منه ولا نلومه في ذلك، فقد فضحت المفكرة العدو الظاهر أو العميل المستتر، ونتيجة لذلك تعرضت مفكرة الإسلام لحملة منظمة من الصهاينة والنصارى والرافضة وللأسف أيضاً حتى من التنويريين الإسلاميين، وقد حبانا الله بإخوة دافعوا عن مفكرتهم الغالية دفاع المستميت حتى ظهرت الأمور على حقيقتها وأصبحت الأرض مكشوفة للجميع.</p></div>
            </div>
             
              <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">3</b></center>
            <div><p>الدعاء ثم الدعاء ثم الدعاء، ومثل هذا العمل يجب أن لا نغفل عن تسديد الله له بفضل دعاء إخوتنا وأخواتنا، ونحن دائمًا في حاجة إليه كحاجة العطشان إلى الماء، والله ثم والله إنا لنرى بركة دعائكم لنا في مسيرة المفكرة. </p></div>
            </div>
             
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">4</b></center>
            <div><p>الموقع موقعكم، والمفكرة هي حلمكم، فالله الله، قدموها للناس، وعرّفوها وبيّنوا حقيقتها لهم، وحثوهم على الدخول عليها والنهل من مادتها الشرعية والسياسية؛ حتى لا يذهب مثل هذا المجهود الكبير هباءً منثورًا خاصة، وإنا في وقت تنكّر الكثير لهذا الدين وأصبح المستمسك به كما قال النبي صلى الله عليه وسلم كالقابض على الجمرة، بل وغُلِّف الدين بلباس ظاهره الرحمة وباطنه العذاب فأصبح الناس في حيرة وشتات. </p></div>
            </div>
            
               <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">5</b></center>
            <div><p>أخبار مفكرة الإسلام هي أخبار تنقل الواقع كصورة متكاملة، نحن لا نخجل من ذكر الحقيقة مادام أنها حقيقة، نحن نثق بالله ونثق أن الله لا يضيع أجر المخلصين والمضحين، نحن نثق أن من دافع عن دين الله أن الله ناصره ولو بعد حين، ولهذا مهما كانت صور الانتصار لإخوانكم في فلسطين أو العراق أو أفغانستان أو الشيشان فنحن على استعداد تام لنقلها ولو أغضبت البعض بحجة أن الوكالات الصليبية لم تذكرها، نحن لا نمانع أن نسير لوحدنا ولو استوحشنا الطريق مادام أننا نرجو طلوع شمسه ولو بعد حين، ولهذا نرجو من الجميع نشر أخبار إخوانهم في الدفاع عن بلاد المسلمين ولا يصيبهم الخجل أو الحياء ، فالصليبيون لا يستحون من زعمهم بقتلهم المئات في اليوم الواحد، بينما يستحي البعض منا أن يذكر جزءًا من انتصارات إخوانه المسلمين في قتال.
 المحتلين.</p></div>
            </div>
            
              <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">6</b></center>
            <div><p>نتمنى من الجميع أن يقوموا بتوزيع (نشرة أخبار المفكرة المختصرة) في المساجد والجامعات والمنازل والأسواق حتى يعرف الناس حقيقة أوضاع إخوانهم المسلمين، واعلموا أن دعم الموقع بمثل هذا هو مما يساعد في إفشال حملة المحتلين على بلاد المسلمين.</p></div>
            </div>
            
                 <div class="clear"></div>
            
            <div class="rule">
            <center><b class="number">7</b></center>
            <div><p>كلنا أمل ورجاء أن يقوم محبونا بالمشاركة في نشرات مفكرة الإسلام المالية والتي ستكون من أهم روافد الموقع المالية بإذن الله، والتي ستسد بابًا قد عجزنا عن سده في الفترات الماضية، ونتمنى من إخوتنا وأخواتنا الكرام أن يقوموا بحث الناس على الاشتراك بها حتى يتحقق المقصود منها. </p></div>
            </div>
         </div>