﻿@{
    ViewBag.Title = "مفكرة الإسلام : رابط غير سليم";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}

<center style="margin-top:120px;">
  <div><br /> <script type="text/javascript"><!--
                  google_ad_client = "ca-pub-4264562862176288";
                  /* islammemo_mediumRec */
                  google_ad_slot = "8818291245";
                  google_ad_width = 300;
                  google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
 <h1 style="color:Red;">
 رابط الصفحة غير سليم 
 <br />
 <br />
 رجاء تاكد من صحة الرابط واعد المحاولة
 </h1>
 </center>
