﻿@using memov5entity.Models
@{
    ViewBag.Title = images_server.mytitle + "جوال المفكرة";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}
@section myhead
{
<script type="text/javascript">

    $(document).ready(function () {
        $("#jawal").addClass("selected");

    });
    $(document).ready(function () {
        $("#jawal2").addClass("selected");

    });
</script>
}
            <div>
            <div class="jawal_header">
              <center><h2>جوال المفكرة</h2></center>
            </div>
            <div class="jawal"><img height="373" width="240" src="/images/jawal.jpg"></div>
           <div class="jawal_text">مفكرة الإسلام: في خطوة رائدة وكما عودتكم المفكرة .. تطلق خدمتها الجديدة للمستخدم العربي [جوال المفكرة] والتي تتيح لمستخدميها التواصل الدائم مع الأحداث 
لحظة بلحظة.<br> فيمكنك الآن وأنت في بيتك، في سفرك، في عملك أن تعرف ما في العالم من تطورات وأحداث وذلك مع جوال مفكرة الإسلام، وأصبح في مقدروك أن تجعل صورة العالم بين يديك بيسر وسهولة، ولن تكون معزولاً بعد اليوم – بإذن الله – عما يحيط بك من وقائع وأحداث. ولقد اتخذت المفكرة هذه الخطوة في إطار ما تقوم به ليسهل على المستخدم الاطلاع على الأخبار دون عناء، فبعد إطلاقها لخدمة شريط الأخبار (برق) والذي يستعرض الأخبار دون حاجة للدخول إلى الموقع رأت أن هناك المزيد لتقدمه فكانت هذه الخدمة الجديدة. فقط كل ما يلزمك هو هاتف جوال يدعم خدمة التصفح للإنترنت لتكون فى قلب الحدث على مستوى اللحظة وكل ما عليك هو كتابة عنوان المفكرة

<div class="jawal_link_align linkred"><a href="http://mobile.islammemo.cc/">http://mobile.islammemo.cc</a></div>
 
في متصفح هاتفك الجوال لتدخل إلى الموقع الذي أعد خصيصًا لهذا النوع من الأجهزة والذي يراعى فيه بساطة العرض لتتناسب مع إمكانيات كل الأجهزة والتقليل بقدر كبير من تكاليف التصفح.
<br><br>
متطلبات التصفح :
<br>• جهاز جوال يدعم تصفح الإنترنت بأي من الطرق الآتية: [HTML,XHTML,WAP]. 
<br>• أن يكون مقدم الخدمة يوفر الاتصال. 
<br>• الخدمة مقدمة من المفكرة بدون أي مقابل مادي. 
 </div><!--jawal text end-->
         </div>

