﻿@model memov5entity.Models.categoryviewmodel
@using memov5entity.Models
@using System.Collections
@{
    ViewBag.Title = images_server.mytitle+Model.Cat_name;
    Layout = "~/Views/Shared/SiteMaster_Category.cshtml";

    List<temp_art> cat_articles = Model.getcategory_articles();
    List<Category> parents = Model.parentcategories();
    string desc = Model.cat_desc;
    string notes = Model.cat_notes;
   
}
@section myhead{

<meta  name="keywords" content="@desc" />
  <meta  name="description" content="@notes" />

}

         <div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                   <p> >> </p>
               @{
                   if (parents.Count > 1)
                   {
                 <a href="@parents[1].url_full_path">@parents[1].Name</a>
                  <p> >> </p>
                   }
                   
                     <a href="@parents[0].url_full_path">@parents[0].Name</a>
                   }
                    </div>
           <div class="clear"></div>
           
       <!--second right section-->
       <div class="sec_inner_right">
          <!--first tab start-->
          <div class="syria_reports">
          @{
             
              for(int i=0 ; i<cat_articles.Count ; i++)
                  
              {
                  if(i==5)
                  {
                      break;
                  }
                  string style_id = "";
                  if (i == 1 || i == 3)
                  {
                      style_id = "latest_news";
                  }
                 <div class="latest_news" id="@style_id"><!--large div-->
             <a href="@cat_articles[i].url"><img src="@images_server.updateimg(cat_articles[i].img, "_340_309_")" width="155" height="113" /></a>
             <div class="inner_large_div">
               <a href="@cat_articles[i].url">  <h2>@cat_articles[i].title</h2></a>
               <p>@cat_articles[i].apprev</p>
             </div>
             
             <div class="footnotes inner_large_div">
               <div class="comments_no"><center><small>@cat_articles[i].readers</small></center></div>
               <small>@Convert.ToDateTime(cat_articles[i].date).ToString("d MMMM yyyy")</small>
               <a href="@cat_articles[i].url" class="cat_more">مزيد</a>
             </div>
             
           </div><!--large div end-->
              }
              }
          
             </div>    
                                
               
          <div class="clear"></div>
           <!--first tab end-->
         </div>
  
          <div class="cat_ads">
       <script type="text/javascript"><!--
           google_ad_client = "ca-pub-4264562862176288";
           /* islammemo_banner */
           google_ad_slot = "3521063131";
           google_ad_width = 468;
           google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
           
       </div>
        
         <!--news without picture-->
         <ul class="news_withoutPic">
         @for (int i = 5; i <cat_articles.Count; i++)
         {
             if (i == 30)
             {
                 break;
             }
        <li> <a href="@cat_articles[i].url">@cat_articles[i].title</a></li>
         }
         	
         </ul>
         <!--news without picture end-->

             <div class="clear"></div>
           <div class="green-black inner_archive">
                   @{int pages_count = Model.getcategoriescount();
                          string cat_url = Model.C_url;
                          ArrayList viewdata_array = new ArrayList();
                          viewdata_array.Add(pages_count);
                          viewdata_array.Add(cat_url);
                          ViewData["model"] = viewdata_array; }
                        @Html.Partial("pagination", ViewData["model"])
	
                </div>