﻿@model memov5entity.Models.contactviewmodel
@using memov5entity.Models;
@{
    string titlename = Model.titlename();
     ViewBag.Title =images_server.mytitle+@titlename;
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}

<!--right column start here-->
        
            <div class="contact_bg">
            <div class="contact_header">
              <h2>اتصل بنا الآن</h2>
              <img src="/images/contact.png"/>
            </div>
            
              <form class="form" method="post">
			<p>
				<input type="text" id="SName" name="SName" value="" placeholder="الاسم" /><span id="v_name"></span>
			</p>
            <p>
				<input type="text" id="Country" name="Country" placeholder="البلد" value="" /><span id="v_country"></span>
			</p>
			<p>
				<input type="text" id="SEmail" name="SEmail" placeholder="البريد الالكتروني" value="" /><span id="v_email"></span>
			</p>
            <p>
				
                <select id="CatID" value="سبب الاتصال" name="CatID">
               @Html.Raw(@Model.get_browsable_contacts())
                    </select>
			</p>
            <p>
				<input type="text" id="Title" name="Title"  placeholder="عنوان الرسالة" value="" /><span id="v_title"></span>
			</p>
			<p>
				<textarea name="Body" id="Body" placeholder="موضوع الرسالة"></textarea><span id="v_body"></span>
			</p>
             <p class="confirm_img">
				<input type="text" id="image_writing" name="image_writing" placeholder="التحقق من الصورة" value="" /><span id="v_image"></span>
                @{ Random r = new Random();
                   int aynon = r.Next(0, 2000);
                    }
                
                <img src="/confirm_img.jpg?id=@aynon" width="81" height="28" />
			</p> 
			<div class="clear"></div>
			<br> 
               @if (ViewData["thanks"].ToString().Trim().Length == 0)
               {                          
             <p class="submit"><input type="submit" name="sendMSG" onclick="return validate();" value="ارسل البيانات" id="submit" />
			
			</p>
               }<center style="color:Red"><h3><pre>@ViewData["thanks"]</pre></h3></center>

            <p id="send_cv">إذا كنت تريد ارسال ملف مرفق أو مقال منسق أو صورة نرجو ارسالها عالبريد التالى <img src="http://islammemo.cc/images/mailus.jpg"></p>
			</form>
           
                   </div>
                   <br />
   <div ><h4><ul class="form_warn" id="sum_valid">    
                                    </ul></h4></div>

                                            <!--right colmn end-->
          @{string cap = ViewData["captcha"].ToString();}
  
 <script type="text/javascript" language="javascript">

     function validate() {
         document.getElementById('sum_valid').innerHTML = '';

         if (document.getElementById('SName').value == "") {
             document.getElementById('v_name').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_name').innerHTML = '';
             //$('name_li').remove();
         }


         if (document.getElementById('Country').value == "") {
             document.getElementById('v_country').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البلد';
             newLI.id = "country_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_country').innerHTML = '';
             //$('country_li').remove();
         }
         if (document.getElementById('SEmail').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         if (document.getElementById('SEmail').value != "" && document.getElementById('SEmail').value != "البريد الالكتروني" && filter.test(document.getElementById('SEmail').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }



         if (document.getElementById('Title').value == "") {
             document.getElementById('v_title').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل عنوان الرسالة';
             newLI.id = "title_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_title').innerHTML = '';
         }

         if (document.getElementById('Body').value == "") {
             document.getElementById('v_body').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الرسالة';
             newLI.id = "body_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_body').innerHTML = '';
         }

         if (document.getElementById('image_writing').value != '@cap') {
             document.getElementById('v_image').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الصورة';
             newLI.id = "image_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_image').innerHTML = '';
         }


         //alert(document.getElementById('Body').value);
         if (document.getElementById('SName').value == "" || document.getElementById('Country').value == "" || document.getElementById('SEmail').value == "" || document.getElementById('Title').value == "" || document.getElementById('Body').value == "" || document.getElementById('image_writing').value != '@cap')
             return false;

         if (document.getElementById('SEmail').value != "" && filter.test(document.getElementById('SEmail').value) == false)
             return false;

         return true;
     }
                
                
                </script>

                <script type="text/javascript">

                   var ff = $('#CatID option:selected').text();
                 //   alert(ff);
                    if (ff == 'استفسار') {

                        $(document).ready(function () {
                            $("#contact").addClass("selected");

                        });
                        $(document).ready(function () {
                            $("#contact4").addClass("selected");

                        });
                      
                    }
                    if (ff == 'أرسل مشاركتك') {

                        $(document).ready(function () {
                            $("#contact2").addClass("selected");

                        });
                        $(document).ready(function () {
                            $("#contact5").addClass("selected");

                        });
                    }
                    if (ff == 'أعلن معنا') {
                        $(document).ready(function () {
                            $("#contact3").addClass("selected");

                        });
                        $(document).ready(function () {
                            $("#contact6").addClass("selected");

                        });
                        
                    }

</script> 