﻿@model memov5entity.Models.partialsviewmodel
@using memov5entity.Models;
@{
    Article[] akhbar = Model.get_cat_articles(623, 6);
    Article[] tkareer = Model.get_cat_articles(718, 6);
    
}
 <div class="right_tabs_style liteTabs" style="height:610px !important">
             <a href="#" id="tab_more"><img src="/images/black_more.png"></a>
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">أخبار</a></li>
			  <li><a href="#2">تقارير </a></li>
			</ul>

		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
       @foreach(Article art in akhbar){
             <div class="large_contact clearfix"><!--large block-->
          <img src="@(images_server.updateimg(art.image_url,""))" width="96px" height="68px">
          <div>
              <a href="@art.url"> <h3>@art.Title</h3></a>
            <p>@art.Apprev
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>@(Convert.ToDateTime(art.Date).ToString("dd MMMM yyyy hh:mm:ss "))</p>
          </div>
        </div> 
       }
            <!--large block-->
        
		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
            @foreach(Article art in tkareer){
             <div class="large_contact clearfix"><!--large block-->
          <img src="@(images_server.updateimg(art.image_url,""))" width="96px" height="68px">
          <div>
              <a href="@art.url"> <h3>@art.Title</h3></a>
            <p>@art.Apprev
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>@(Convert.ToDateTime(art.Date).ToString("dd MMMM yyyy hh:mm:ss "))</p>
          </div>
        </div> 
       }
         
            <!--large block-->
           
	    </div>
			
	  </div>