﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<%@ Import Namespace="memov5entity.Models" %>
<%ArrayList arr = (ArrayList)ViewData["model"];
 %>

<%int pages_count = Convert.ToInt32(arr[0]); 
string c_url = arr[1].ToString(); 

int maxno = 4; int minno = 1;
    string lang = "";
                              try { if (string.IsNullOrEmpty(Request["lang"]) == false || Request["lang"].StartsWith("ar") == false)lang = "?lang=" + Request["lang"]; }
                              catch { }%>
     





                        <%if (pages_count > 0)
                          {
                              
                              try { if (string.IsNullOrEmpty(Request["lang"]) == false || Request["lang"].StartsWith("ar") == false)lang = "?lang=" + Request["lang"]; }
                              catch { }%>	
                          
                          
                          <%if(pages_count>maxno){ %> 
                            <a  onclick="first();">الأقدم</a>
                            <a  onmousedown="rabidpaging('-');" onmouseup="stopinterval();" onmousemove="stopinterval();">&lt;السابق</a>
                            <%for (int a = maxno+1; a >= 1; a--)
                              { %>
                        	<a id="a<%=a.ToString() %>" href="<%=Html.Encode(c_url+"/page/"+a.ToString()+lang) %>"><%=a.ToString() %></a>
                            <%} %>
                            <a onmousedown="rabidpaging('+');" onmouseup="stopinterval();" onmousemove="stopinterval();" >التالى &gt;</a>
                            <a  onclick="last();">الأحدث</a>
                            
                            <%}
                            
                            
                            else{ %>
                            <%for (int a = pages_count; a >= 1; a--)
                              { %>
                        	<a id="a<%=Html.Encode(a.ToString()) %>" href="<%=Html.Encode(c_url+"/page/"+a.ToString()+lang) %>"><%=a.ToString() %></a>
                            <%}} %>
                            
                            
                            <%} %>
                            
         <script type="text/javascript" language="javascript">
var no=0;
var minno=<%=Html.Encode(minno) %>;
var maxno=<%=Html.Encode(maxno) %>;
var pgs_count=<%=pages_count %>;




function pages_moving(type)
{
if(type=='+')
{
//no++;
//alert(document.getElementById('23').id);
var d=0;
for( d=maxno+1;d>=minno;d--)
{


if(document.getElementById('a1').innerHTML=='1')
{
//no--;
break;
}
var html=document.getElementById('a'+d).innerHTML*1
document.getElementById('a'+d).innerHTML=html-1;
//alert(document.getElementById('a'+d).href.split('page=')[0]+'page='+(d-no));
var arr=document.getElementById('a'+d).href.split('/page/');
document.getElementById('a'+d).href=arr[0]+'/page/'+(html-1)+'<%=lang %>';

}
}
else if(type=='-')
{
no--;

var d=0;
for( d=maxno+1;d>=minno;d--)
{


if(document.getElementById('a1').innerHTML==pgs_count-<%=maxno %>)
{
//no=0;
break;
}
var html=document.getElementById('a'+d).innerHTML*1
document.getElementById('a'+d).innerHTML=html+1;
var arr=document.getElementById('a'+d).href.split('/page/');
document.getElementById('a'+d).href=arr[0]+'/page/'+(html+1)+'<%=lang %>';
//alert(arr[0]+'.........'+d-no);
}

}

}





function last()
{
no=minno-1;
var f_no=0;
for( d=maxno+1;d>=minno;d--)
{

f_no++;

document.getElementById('a'+d).innerHTML=d;
var arr=document.getElementById('a'+d).href.split('/page/');
document.getElementById('a'+d).href=arr[0]+'/page/'+d+'<%=lang %>';

}

}
function first()
{
no=pgs_count+1;
//var f_no=0;
for( d=maxno+1;d>=minno;d--)
{
no--;
document.getElementById('a'+d).innerHTML=no;
var arr=document.getElementById('a'+d).href.split('/page/');
document.getElementById('a'+d).href =arr[0]+'/page/'+no+'<%=lang %>';
}

}
var intervar_object;
function rabidpaging(type)
{
if(type=='-')
{
intervar_object= setInterval("pages_moving('-')",30);
}
else if(type=='+')
{
intervar_object= setInterval("pages_moving('+')",30);
}
}
function stopinterval()
        {
        clearInterval(intervar_object);
       
        }

</script>   