﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
               <div class="f_s_left tab_stye"><!--first section-->
              <div class="right_tabs_style liteTabs">
             <a href="#" id="A1"><img src="/images/black_more.png"></a>
			<ul class="tab_nav1">
				<li><a href="#1" class="">الأكثر قراة</a></li>
			  <li><a href="#2" class="selected">الأكثر تعليقاَ </a></li>
               <li><a href="#2">الأكثر نشراَ </a></li>
			</ul>
		<div name="#1" class="local_content" style="height: auto; position: absolute; left: -9999px;">
        <div id="most_read">
        <ul>
         <li><a href="#">هجوم بالقرب من  البريطانية في اليمن</a></li>
         <li><a href="#"> النار منظمة حلف شمال مصادر : زعيم وراء </a></li>
         <li><a href="#"> واتهم زعيم ميليشيا الاغتصاب القبض</a></li>
         <li><a href="#">انفجارات في قندهار قتل 9 أطفال</a></li>
         <li><a href="#">تمديد حالة الطوارئ إكوادور</a></li>
         <li><a href="#">الملفوف نقص يضرب الكيمتشي الكورية</a></li>
         <li><a href="#"> 'لا السياسة' في شيلي الانقاذ الألغام</a></li>
        <li><a href="#">تمديد حالة الطوارئ إكوادور</a></li>
        <li><a href="#">تمديد حالة الطوارئ إكوادور</a></li>

        </ul>
        </div>
		</div>
		<div name="#2" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
        <div name="#3" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
			
	  </div>
      
           </div>
        

