﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>

                          
               <div class="right_tabs_style liteTabs" style="height:610px !important">
             <a href="#" id="tab_more"><img src="/images/black_more.png"></a>
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">أخبار</a></li>
			  <li><a href="#2">تقارير </a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
        <div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg">
          <div>
           <a href="#"> <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div> <!--large block-->
        <div class="clear"></div>
			<div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg" width="96" height="68">
          <div>
            <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div>
        <div class="clear"></div>
       <div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg" width="96" height="68">
          <div>
            <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div>
        <div class="clear"></div>
        <div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg" width="96" height="68">
          <div>
            <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div>
        <div class="clear"></div>
        <div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg" width="96" height="68">
          <div>
            <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div><div class="large_contact clearfix"><!--large block-->
          <img src="/images/inner_left_spic.jpg" width="96" height="68">
          <div>
            <a href="#"> <h3>توتر حاد بلبنان و الجيش الحر استثنائي للحكومة</h3></a>
            <p>أثار القرار الذي اتخذه التحالف الوطني الشيعي نوري المالكي لدعم لولاية ثانية كرئيس للوزراء الأمل إلى وضع  لرحلة  ......
  </p>
          </div>
          <div class="clock">
            <img src="/images/tb_clock.png" width="12" height="12" />
            <p>12 ديسمبر , 18 2012 , 11:30</p>
          </div>
        </div>
		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
			
	  </div><!--first section end-->
           
            <!--second left block-->
            
            <!--second section end-->
            
          