﻿@model memov5entity.Models.partialsviewmodel

  <div class="wrong_ad"><center>
            إذا وجدت إعلانا مخالفا <a href="javascript:void"  onclick="window.open('/badads2.aspx','bdads','left=300,top=400, width=500px,height=260,location=0,status=1,scrollbars=0,menubar=0,resizable =no');" >اضغط هنا</a>
           </center>
          </div>
          
          <div><!--search and icon-->
              <script>

                  function changeaction() {

                      document.getElementById('fsearch').action = document.getElementById('fsearch').action + '/' + document.getElementById('aaa').value;
                      document.getElementById('fsearch').submit();
                      }
              </script>
           <div class="search_box"> 
                <form id="fsearch" method="post" action="/search.aspx" class="search_field">
             <input  type="text" class="search" name="aaa" id="aaa" placeholder="بحث">
             	  <div class="clear"></div>
              <button type="button" onclick="changeaction();" class="search_btn"><img src="/images/search_icon.png" title="Search"></button>
          </form>
                     </div>
           <div class="search_icons">
          <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="none"></div>


           <a target="_blank" href="http://www.facebook.com/islammemo.cc"><img src="/images/facebook.png"  width="21px" height="22px" ></a>
           <a target="_blank" href="https://twitter.com/islammemo_cc"><img src="/images/twitter.png" width="20px" height="22px" /></a>
           <a target="_blank" href="http://feeds.feedburner.com/islammemo/WMNM"><img src="/images/rss.png" width="20px" height="22px" /></a>
           </div>
          </div><!--search and icon end-->
          <br />