﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
 <div class="search_box"> 
             <input type="text" class="search" name="search" placeholder="بحث">
              <button type="submit" class="search_btn"><img src="/images/search_icon.png" title="Search"></button>
           </div>