﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
   <div class="services">
                 <div class="services_header"><h2>خدمات</h2></div>
                 <div id="slides3">
     <div class="gallery_title"></div> 
	 <div class="slides_container">
		<div class="slide">
        <div class="slide_img">
        <a rel="example_group" href="#" title="القائمة البريدية"><img src="/images/ie.png" width="75" height="81" /></a>
       <a href="/mailingllist.aspx"> <p>القائمة البريدية</p></a>
        </div>
        <div class="slide_img">
        <a rel="example_group" href="#" title="أصحاب المواقع"><img src="/images/sms.png" width="75" height="81" /></a>
  <a href="/shreetlogin.aspx"><p>أصحاب المواقع</p> </a>         </div>
      
		</div>
        <div class="slide">
        <div class="slide_img">
        <a rel="example_group" href="#" title="الجوال"><img src="/images/ie.png" width="75" height="81" /></a>
        <a href="/jawal.aspx"> <p>القائمة البريدية</p></a>
        </div>
      
		</div>
		
	</div>
	<a href="#" class="next_gal"><img src="/images/lower_right.png" width="18" height="41"></a>
	<a href="#" class="prev"><img src="/images/left_inner_prev.png" width="18" height="41"></a>
			</div>
                 
           </div>