﻿@using memov5entity.Models
@{
    
    Layout = "~/Views/Shared/SiteMaster.cshtml";
    partialsviewmodel partialview = new partialsviewmodel();
    }
     @section myhead{

     @RenderSection("myhead", false)

 }
    
   
    <title>@ViewBag.Title</title>
     <div class="right">
        @RenderBody()
        </div>

    <!--left column start-->
         <div class="left">
           @{Html.RenderPartial("reports_search_socialicons", partialview);}
          <!--search and icon end-->
          <div class="clear"></div>
           @{Html.RenderPartial("akhbar_tkareer", partialview);}
           <!--first section end-->
           
            <!--second left block-->
             <div class="inne_left_ads">
              <script type="text/javascript"><!--
                  google_ad_client = "ca-pub-4264562862176288";
                  /* islammemo_mediumRec */
                  google_ad_slot = "8818291245";
                  google_ad_width = 300;
                  google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
             </div>
            <!--second section end-->
            <!-- begin donate ad (appear only in donate) -->
            @if(Request.Url.AbsoluteUri.Contains("donate.aspx")){
              <div class="inne_left_ads">
            <script type="text/javascript"><!--
                google_ad_client = "ca-pub-4264562862176288";
                /* islammemo_mediumRec */
                google_ad_slot = "8818291245";
                google_ad_width = 300;
                google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
             </div>
            }
            
            <!--- end donate ad -->


            <div class="clear"></div>
           
         </div>
         <!--left column end-->