﻿@using memov5entity.Models
@{
     
    Layout = "~/Views/Shared/SiteMaster.cshtml";
    partialsviewmodel partialview = new partialsviewmodel();
    }
      @section vediostyle
   {
@RenderSection("vediostyle", false)
}
@section scriptvedio
{
@RenderSection("scriptvedio", false)

}
   

 @section myhead{

     @RenderSection("myhead", false)

 }
 @section service
{

//خدمات
  $('#slides3').slides({
          preload: true,
          preloadImage: 'img/loading.gif',
          generatePagination: true,
          play: 5000000,
          pause: 2500,
          hoverPause: true,
          // Get the starting slide
          start: startSlide,
          animationComplete: function (current) {
              // Set the slide number as a hash
              window.location.hash = '#' + current;
          }
      });
  }
     <div class="right">
        @RenderBody()
        </div>
            <!--left column start-->
            <div class="left">
            @{Html.RenderPartial("reports_search_socialicons", partialview);}
                   <!--search and icon end-->
        <div class="clear"></div>

         @if (!Request.Url.AbsoluteUri.Contains("/vedio-images/vedio/"))
          {
      Html.RenderPartial("akhbar_tkareer", partialview);
              <!--first section end-->
          }
          else
          {
           <!--second left block-->
              Html.RenderPartial("top_video", partialview);
         }
   
  @{Html.RenderPartial("top_articles_inner", partialview);}
           <!--second section end-->         
              <div class="freinds_fav"><!--third section-->
           <div class="fb-recommendations" data-site="islammemo.cc" data-app-id="148708292956" data-width="289" data-height="275" data-header="true"></div>
       
           </div><!--end third section-->
               @if (!Request.Url.AbsoluteUri.Contains("/vedio-images/vedio/"))
               {
           <!--forth sec start-->
                   @Html.Partial("mosaly");
            <!--forth section end-->
               }
             
              <div class="clear"></div>
                @if (!(Request.Url.AbsoluteUri.Contains("/hadath-el-saa") || Request.Url.AbsoluteUri.Contains("/vedio-images/images/")))
                {
         @Html.Partial("services2")
                }
            <!--third section end-->
   @if (Request.Url.AbsoluteUri.Contains("akhbar/") || Request.Url.AbsoluteUri.Contains("/vedio-images/vedio/") || Request.Url.AbsoluteUri.Contains("/Tahkikat") || Request.Url.AbsoluteUri.Contains("/monawaat") || Request.Url.AbsoluteUri.Contains("mostashar/") || Request.Url.AbsoluteUri.Contains("fan-el-edara/") || Request.Url.AbsoluteUri.Contains("zakera/") || Request.Url.AbsoluteUri.Contains("nahn-we-el-gharb/") || Request.Url.AbsoluteUri.Contains("mokhtasr-el-dros/") || Request.Url.AbsoluteUri.Contains("Aklam-el-koraa/") || Request.Url.AbsoluteUri.Contains("nawafez-siasia/"))
   {
           @Html.Partial("president")
   }
            <!--forth section end-->
         </div>
         <!--left column end-->
          @section vedioscript
         {
@RenderSection("vedioscript",false)
         }
     