﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--refresh page per second-->
<meta http-equiv="refresh" content="600">
<link rel="stylesheet" type="text/css" href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundle/css")"/>
<link type="text/css" href="/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
@RenderSection("vediostyle",false)
<title>@ViewBag.title</title>
 <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundlejs/js")"></script>
  @RenderSection("scriptvedio",false)



<!---->
<!--main menu-->

<script type="text/javascript">
    //SYNTAX: ddtabmenu.definemenu("tab_menu_id", integer OR "auto")
    ddtabmenu.definemenu("ddtabs1", 0) //initialize Tab Menu #1 with 1st tab selected
</script>

<!-- news slider  -->
<!--middle gallery-->
<script>
    $(function () {
        // Set starting slide to 1
        var startSlide = 1;
        // Get slide number if it exists
        if (window.location.hash) {
            startSlide = window.location.hash.replace('#', '');
        }
        // Initialize Slides
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 5000000,
            pause: 2500,
            hoverPause: true,
            // Get the starting slide
            start: startSlide,
            animationComplete: function (current) {
                // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });

        $('#slides2').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 5000000,
            pause: 2500,
            hoverPause: true,
            // Get the starting slide
            start: startSlide,
            animationComplete: function (current) {
                // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });

        @RenderSection("service",false)

     });    
	</script>  
    
<!---->
<!--menu-->

<script>

    function load() {
        $(function () {
            $('.content-area').jScrollPane();
        });

        $('.content-area').jScrollPane({

            horizontalGutter: 5,
            verticalGutter: 5,
            'showArrows': false
        });

        $('.jspDrag').hide();
        $('.jspScrollable').mouseenter(function () {
            $(this).find('.jspDrag').stop(true, true).fadeIn('slow');
        });
        $('.jspScrollable').mouseleave(function () {
            $(this).find('.jspDrag').stop(true, true).fadeOut('slow');
        });
    }
    // اجعلنا البداية
    function check() {
        var dummystyle = document.createElement("footer_Style");
        var behaviortest = (dummystyle.addBehavior) ? true : false;
        if (behaviortest == false) {
            alert("عفواً ... المتصفح الحالي لا يدعم هذه الخاصية");
        }
    }

</script>
    <!--news ticker-->

    @RenderSection("myhead", false)
</head>

<body onload="load()">
    <div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ar_AR/all.js#xfbml=1&appId=148708292956";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
 
<a name="pagetop" ></a>
 <div class="container clearfix">
   <div class="wrapper">
     <div class="wrap clearfix">
       <div class="upper_section">
         <div class="header" style="direction:ltr;"><a href="/" class="goto_islammemo"></a>
           <div class="upper_menu"  style="margin-bottom:6px">
           <a href="javascript:void" onclick="check();
          		   this.style.behavior='url(#default#homepage)';
                   this.setHomePage('http://islammemo.cc');" >اجعلنا البداية</a>
           <a href="/barq.aspx" id="barq">شريط برق</a>
           <a href="/jawal.aspx" id="jawal">جوال المفكرة</a>
           <a href="/contact.aspx/1" id="contact2">ارسل مشاركتك</a>
           <a href="/contact.aspx" id="contact">اتصل بنا</a>
           <a href="/donate.aspx" id="donate">كيف تدعمنا</a>
           <a href="/guest.aspx" id="guest">سجل الزوار</a>
           <a href="/contact.aspx/2" id="contact3">اعلن معنا</a>
          </div><!--upper menue-->
          <div class="ads_header">
           <script type='text/javascript'><!--
               // comment google admanager
               // GA_googleFillSlot("Islammemo_Main_Top_Banner");

               google_ad_client = "ca-pub-4264562862176288";
               /* Full_Banner */
               google_ad_slot = "6725832258";
               google_ad_width = 728;
               google_ad_height = 90;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
          </div><!--header ads-->
         </div><!--header-->

           <!--start drop down menu-->
                     <div class="drop_list_menu">
                     
                     <div id="ddtabs1" class="basictab">
            <ul>
            <li><a href="/" rel="sc1"><div class="sd"></div></a></li>
             <li><a href="/akhbar/aame">أخبار اليوم</a></li>
            <li><a href="/akhbar/locals-ksa">محليات السعودية</a></li>
            <li><a href="/akhbar/locals-egypt">محليات مصر</a></li>
            <li><a href="/syria_thawra">سوريا الثورة</a></li>
            <li><a href="/akhbar/locals-arab">محليات عربية</a></li>
            <li><a href="/hadath-el-saa" id="hadth">مباشر</a></li>
            <li><a href="/akhbar-monawaa">منوعات</a></li>
            <li><a href="/vedio-images/vedio">مرئيات</a></li>
            <li><a href="/Tahkikat">آراء</a></li>
            </ul>
            </div>
            
            <DIV class="tabcontainer">
            
            <div id="sc1" class="tabcontent background1">
            <div class="sub_dropdown_list">
                <ul>
                <li><a href="http://www.islammemo.tv">فضائيات</a></li>
                <li><a href="/mostashar">المستشار</a></li>
                <li><a href="/fan-el-edara">فن الإدارة</a></li>
                <li><a href="/zakera">ذاكرة الأمة</a></li>
                <li><a href="/nahn-we-el-gharb">نحن والغرب</a></li>
                <li><a href="/mokhtasr-el-dros">مختصر الدروس </a></li>
                 <li><a href="/Aklam-el-koraa">أقلام القراء </a></li>
                </ul>
                </div></div>
            
            </DIV>
                     </div>
         <!--end drop down menu-->

           <!--news ticker-->
      <div  class="news_ticker" id="imp_news">
       
          <ul class="news"></ul>
            </div><!--newsticker end-->
           
            <div class="clear"></div>
             </div>
              <div class="clear"></div>
       <!--main page start here-->
         @RenderBody()

        <!--main page start here-->
        <div class="clear"></div>
        
        <div class="footer"><!--footer section-->
           <div class="footer_menu1">
              <a href="/akhbar/aame">  أخبار اليوم </a>
              <a href="/akhbar/locals-ksa"> السعودية</a>
              <a href="/akhbar/locals-egypt">  مصر</a>
              <a href="/hadath-el-saa"> مباشر</a>
              <a href="/akhbar-monawaa">منوعات</a>
              <a href="/vedio-images/vedio">  فيديوهات</a>
              <a href="/Tkarer"> تقارير</a>
           </div>
           <div class="clear"></div>
           <div class="footer_menu2">
              <div class="menu_container">
              <a href="javascript:void" onclick="check();
          		   this.style.behavior='url(#default#homepage)';
                   this.setHomePage('http://islammemo.cc');">اجعلنا البداية</a>
               <a href="/ienewsbar/download.asp" id="barq2"> شريط برق</a>
                <a href="/jawal.aspx" id="jawal2"> جوال المفكرة</a>
                 <a href="/contact.aspx/1"id="contact5" >ارسل مشاركتك</a>
                  <a href="/contact.aspx" id="contact4">  اتصل بنا </a>
                   <a href="/donate.aspx" id="donate2">  كيف تدعمنا</a>
                    <a href="/guest.aspx" id="guest2"> سجل الزوار</a>
                     <a href="/contact.aspx/2" id="contact6"> اعلن معنا</a>
                      <a href="http://islammemo.cc" id="site">ISLAMMEMO.CC</a>
              </div>
              <div class="desgined_by">
                 <a href="http://madarsoft.com/">تصميم وبرمجة
                 <img src="/images/madar-logo-animation.png"></a>
                </div>
                <div class="copyrigth">
                    جميع حقوق النشر محفوظة لشركة مفكرة الإسلام 1434 هـ 2013 م
                </div>
           </div>
        </div><!--footer section end-->
       <!--main page en1d here-->
     </div><!--wrap-->
   </div><!--wrapper-->
               <div id="social_bar" style="height:220px"><!--social bar side-->
                 <div class="fb-like" data-href="@(Request.Url.ToString())" data-send="true" data-layout="box_count" data-width="73" data-show-faces="true"></div>  
                 <br />
                    <center> <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" >Tweet</a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
                        </center>
                   <center>
                    <g:plusone size="tall" ></g:plusone>
                   <!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
    window.___gcfg = { lang: 'ar' };

    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script> 
              </center>     
                   
               </div><!--sode social bar-->
              <a href="#pagetop" id="goto_top" ><img src="/images/up.jpg" /></a>
 </div><!--container-->
    
    @RenderSection("vedioscript",false)   
    @{int d = 1;
        }  
</body>
</html>


<!--tabs-->
   

<script>
    $('.right_tabs_style').liteTabs({ fadeIn: false, selectedTab: 1, right_tabs_style: true });
   // $('.right_tabs_style_locals').liteTabs({ fadeIn: false, selectedTab: @d, right_tabs_style_locals: true });
    $('.sidebar_tabs').liteTabs({ fadeIn: false, selectedTab: 1, sidebar_tabs: true });

    $('#imp_news').load('/partials/imp_news');
</script>