﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link type="text/css" href="/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
@RenderSection("vediostyle",false)
<title>@ViewBag.title</title>
<script type="text/javascript" src="/widget/lib/jquery-1.7.1.js"></script>
 @RenderSection("scriptvedio",false)
<script src="/js/placeholder.js"></script>
<!--news ticker-->
<script type="text/javascript" src="/js/jquery.newsTicker-2.2.js"></script>
<script>

$(document).ready(function() {
	var options = {
  		newsList: "ul.news",
 		startDelay: 10,
 		tickerRate: 80,
 		controls: true,
 		ownControls: false,
 		stopOnHover: true,
 		resumeOffHover: true,
	}
	$().newsTicker(options);
});


</script>
<!---->
<!--main menu-->
<script type="text/javascript" src="/js/ddtabmenu.js"></script>
<script type="text/javascript">
    //SYNTAX: ddtabmenu.definemenu("tab_menu_id", integer OR "auto")
    ddtabmenu.definemenu("ddtabs1", 0) //initialize Tab Menu #1 with 1st tab selected
</script>

<!-- news slider  -->
<script type="text/javascript" src="/js/jquery.featureList-1.0.0.js"></script>
<!--middle gallery-->
<script src="/js/gallery_home.js"></script>
<script>
    $(function () {
        // Set starting slide to 1
        var startSlide = 1;
        // Get slide number if it exists
        if (window.location.hash) {
            startSlide = window.location.hash.replace('#', '');
        }
        // Initialize Slides
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 5000000,
            pause: 2500,
            hoverPause: true,
            // Get the starting slide
            start: startSlide,
            animationComplete: function (current) {
                // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });

        $('#slides2').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            generatePagination: true,
            play: 5000000,
            pause: 2500,
            hoverPause: true,
            // Get the starting slide
            start: startSlide,
            animationComplete: function (current) {
                // Set the slide number as a hash
                window.location.hash = '#' + current;
            }
        });
        
     @RenderSection("service",false)
       
    });
	</script>  
    
<!---->
<!--menu-->
<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
<script>

    function load() {
        $(function () {
            $('.content-area').jScrollPane();
        });

        $('.content-area').jScrollPane({

            horizontalGutter: 5,
            verticalGutter: 5,
            'showArrows': false
        });

        $('.jspDrag').hide();
        $('.jspScrollable').mouseenter(function () {
            $(this).find('.jspDrag').stop(true, true).fadeIn('slow');
        });
        $('.jspScrollable').mouseleave(function () {
            $(this).find('.jspDrag').stop(true, true).fadeOut('slow');
        });
    }
    // اجعلنا البداية
    function check() {
        var dummystyle = document.createElement("footer_Style");
        var behaviortest = (dummystyle.addBehavior) ? true : false;
        if (behaviortest == false) {
            alert("عفواً ... المتصفح الحالي لا يدعم هذه الخاصية");
        }
    }

</script>

    @RenderSection("myhead", false)
</head>

<body onload="load()">
<a name="pagetop" ></a>
 <div class="container clearfix">
   <div class="wrapper">
     <div class="wrap clearfix">
       <div class="upper_section">
         <div class="header"><a href="/" class="goto_islammemo"></a>
          <div class="upper_menu">
           <a href="javascript:void" onclick="check();
          		   this.style.behavior='url(#default#homepage)';
                   this.setHomePage('http://islammemo.cc');" class="selected">اجعلنا البداية</a>
           <a href="/ienewsbar/download.asp">شريط برق</a>
           <a href="/jawal.aspx">جوال المفكرة</a>
           <a href="/contact.aspx/1">ارسل مشاركتك</a>
           <a href="/contact.aspx">اتصل بنا</a>
           <a href="/donate.aspx">كيف تدعمنا</a>
           <a href="/guest.aspx">سجل الزوار</a>
           <a href="/contact.aspx/2">اعلن معنا</a>
          </div><!--upper menue-->
          <div class="ads_header">
           <script type='text/javascript'><!--
    // comment google admanager
    // GA_googleFillSlot("Islammemo_Main_Top_Banner");

    google_ad_client = "ca-pub-4264562862176288";
    /* Full_Banner */
    google_ad_slot = "6725832258";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

          </div><!--header ads-->
         </div><!--header-->

           <!--start drop down menu-->
                     <div class="drop_list_menu">
                     
                     <div id="ddtabs1" class="basictab">
            <ul>
            <li><a href="#" rel="sc1"><div class="sd"></div></a></li>
            <li><a href="/akhbar/aame">أخبار اليوم</a></li>
            <li><a href="/akhbar/Locals">محليات السعودية</a></li>
            <li><a href="/akhbar/Locals">محليات مصر</a></li>
            <li><a href="/syria_thawra">سوريا الثورة</a></li>
            <li><a href="/akhbar/Locals">محليات عربية</a></li>
            <li><a href="/hadath-el-saa">مباشر</a></li>
            <li><a href="/akhbar-monawaa">منوعات</a></li>
            <li><a href="/vedio-images/vedio">مرئيات</a></li>
            <li><a href="/Tahkikat">آراء</a></li>
            </ul>
            </div>
            
            <DIV class="tabcontainer">
            
            <div id="sc1" class="tabcontent background1">
            <div class="sub_dropdown_list">
                <ul>
                <li><a href="http://www.islammemo.tv">فضائيات</a></li>
                <li><a href="/mostashar">المستشار</a></li>
                <li><a href="/fan-el-edara">فن الإدارة</a></li>
                <li><a href="/zakera">ذاكرة الأمة</a></li>
                <li><a href="/nahn-we-el-gharb">نحن والغرب</a></li>
                <li><a href="/mokhtasr-el-dros">مختصر الدروس </a></li>
                 <li><a href="/Aklam-el-koraa">أقلام القراء </a></li>
                </ul>
                </div></div>
            
            </DIV>
                     </div>
         <!--end drop down menu-->

           <!--news ticker-->
      <div  class="news_ticker" id="imp_news">
         
         
            </div><!--newsticker end-->
           
            <div class="clear"></div>
             </div>
              <div class="clear"></div>
       <!--main page start here-->
         @RenderBody()

        <!--main page start here-->
        <div class="clear"></div>
        
        <div class="footer"><!--footer section-->
           <div class="footer_menu1">
              <a href="#">  أخبار اليوم </a>
              <a href="#"> السعودية</a>
              <a href="#">  مصر</a>
              <a href="#"> مباشر</a>
              <a href="#">منوعات</a>
              <a href="#">  فيديوهات</a>
              <a href="#"> سياسات</a>
           </div>
           <div class="clear"></div>
           <div class="footer_menu2">
              <div class="menu_container">
              <a href="#">اجعلنا البداية  </a>
               <a href="#"> شريط برق</a>
                <a href="#"> جوال المفكرة</a>
                 <a href="#">ارسل مشاركتك</a>
                  <a href="#">  اتصل بنا </a>
                   <a href="#">  كيف تدعمنا</a>
                    <a href="#"> سجل الزوار</a>
                     <a href="#"> اعلن معنا</a>
                      <a href="#" id="site">ISLAMMEMO.CC</a>
              </div>
              <div class="desgined_by">
                 <a>تصميم وبرمجة
                 <img src="/images/madar-logo-animation.png"></a>
                </div>
                <div class="copyrigth">
                    جميع حقوق النشر محفوظة لشركة مفكرة الإسلام 1434 هـ 2013 م
                </div>
           </div>
        </div><!--footer section end-->
       <!--main page en1d here-->
     </div><!--wrap-->
   </div><!--wrapper-->
               <div id="social_bar"><!--social bar side-->
                 <div class="fb-like" data-href="http://islammemo.cc/@(Request.Url.ToString())" data-send="true" data-layout="box_count" data-width="73" data-show-faces="true"></div>  
                   <center> <a href="#"><img src="/images/tweets_no.jpg" /></a></center>
                  <center><a href="#"><img src="/images/tweets.jpg" /></a></center>
                  <center><a href="#"><img src="/images/google_likes.jpg" /></a></center>
                 <center> <a href="#"><img src="/images/google+.jpg" /></a></center>
                 <center> <a href="#"><img src="/images/likedin_likes.jpg" /></a></center>
                  <center><a href="#"><img src="/images/linked_share.jpg" /></a></center>
                 
               </div><!--sode social bar-->
              <a href="#pagetop" id="goto_top" ><img src="/images/up.jpg" /></a>
 </div><!--container-->
    
         
</body>
</html>


<!--tabs-->
   
<script src="/js/litetabs.jquery.js"></script>
<script>
    $('.right_tabs_style').liteTabs({ fadeIn: false, selectedTab: 1, right_tabs_style: true });
    $('.sidebar_tabs').liteTabs({ fadeIn: false, selectedTab: 1, sidebar_tabs: true });
   // $('#imp_news').load('partials/imp_news');
</script>