﻿@using memov5entity.Models
@{
     
    Layout = "~/Views/Shared/SiteMaster.cshtml";
    partialsviewmodel partialview = new partialsviewmodel();
    }

    @section myhead{

     @RenderSection("myhead", false)

 }
  @section service
{


  $('#slides3').slides({
          preload: true,
          preloadImage: 'img/loading.gif',
          generatePagination: true,
          play: 5000000,
          pause: 2500,
          hoverPause: true,
          // Get the starting slide
          start: startSlide,
          animationComplete: function (current) {
              // Set the slide number as a hash
              window.location.hash = '#' + current;
          }
      });
  }


   <div class="right">
        @RenderBody()
        </div>

   <!--left column start-->
         <div class="left">
         
        
       @{Html.RenderPartial("reports_search_socialicons", partialview);}
       <div class="clear"></div>
        <!--search and icon end-->
          <div class="clear"></div>
           <center>
             <script type="text/javascript"><!--
                 google_ad_client = "ca-pub-4264562862176288";
                 /* islammemo_mediumRec */
                 google_ad_slot = "8818291245";
                 google_ad_width = 300;
                 google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>
 <div class="clear"></div>
        <!--second left block-->
           @{Html.RenderPartial("top_articles_inner", partialview);}<!--first section end-->
            <!--second section end-->
            <div class="clear"></div>
           @Html.Partial("mosaly")
            <div class="clear"></div>
            <!--third section start-->
     @{Html.RenderPartial("services2");}

      <div class="clear"></div>
       @Html.Partial("president") @Html.Partial("president")
            <!--third section end-->
         </div>
         <!--left column end-->
         