﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ar">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<!-- Bootstrap -->

<link href="/css_mobil/bootstrap.css" rel="stylesheet">
<link href="/css_mobil/bootstrap-responsive.css" rel="stylesheet">
<link href="/css_mobil/style.css" rel="stylesheet">

<script src="/mobilscript/jquery.js"></script>

<!--menu-->
   <script>       document.documentElement.className = "js";</script>

    <script src="/mobilscript/json2.js"></script>
    <script src="/mobilscript/jquery.collapse.js"></script>
    <script src="/mobilscript/jquery.collapse_storage.js"></script>
    <script src="/mobilscript/jquery.collapse_cookie_storage.js"></script>
 <!--menu end-->
 
 <script type="text/javascript">
     $(document).ready(function () {
         $("#button").click(function () {
             $("#dim").toggle();
         });
         $("#button").click(function () {
             if ($("#button").hasClass('move-down')) {
                 $('#button').removeClass('move-down');
             }
             else {
                 $('#button').addClass('move-down');
             }


         });

     });
 </script>
    <title>@ViewBag.Title</title>
</head>
<body>
<span>master page for mobile</span>
    <div>
        @RenderBody()
        <div class="dim" id="dim"></div>
<header class="new_header">
   @{
       string m = ViewContext.RouteData.Values["controller"].ToString(); 
       if (!(m=="akhbar" | m=="image" | m=="vedio"))
       {
   
   <aside>  
              	<a href="#"><img src="/img/menu.png" /></a>
				<a href="index.html"><img src="/img/refresh.png" /></a>
            	<a href="search.html"><img src="/img/search.png" /></a>
                <a href="poll.html"><img src="/img/vote.png" /></a>
			</aside>
       }else
       {
           <aside>
              	<div class="drop_list_menu give_menu_pos">
                     
                     <div id="ddtabs1" class="basictab">
            <ul>
            <li><a href="#" rel="sc1" class="current"><img src="/img/share.png" /></a></li>
            <li><a href="#" class=""><img src="/img/font.png" /></a></li>
            <li><a href="#" class=""><img src="/img/menu_fav.png" /></a></li>
            <li><a href="search.html" class=""><img src="/img/search.png" /></a></li>
            <li><a href="#" class=""><img src="/img/back.png" /></a></li>
            
            </ul>
            </div>
            
            <div class="tabcontainer">
            
            <div id="sc1" class="tabcontent background1" style="display: block;">
            <div class="sub_dropdown_list">
                <ul>
                <li><a href="#"><img src="/img/g+.png" /></a></li>
                <li><a href="#"><img src="/img/rss.png" /></a></li>
                <li><a href="#"><img src="/img/twitter.png" /></a></li>
                <li><a href="#"><img src="/img/facebook.png" /></a></li>
                <li><a href="#"><img src="/img/sms.png" /></a></li>
                </ul>
                </div></div>
            </div>
          </div>
			</aside>
       }
       
       }
		</header>

<<!--end cont -->
<!--menu start down-->
  <div id="custom-show-hide-example" class="logo_puller">
        <h3><a href="#" id="button"><img src="/img/logo.png" /></a></h3>
        <div class="dropped">
         <h5>خدمات المفكرة</h5>
          <div ><a href="index.html" class="menu_home">الرئيسة</a></div>
          <div ><a href="search.html" class="menu_search">بحث</a></div>
          <div ><a href="#" class="menu_fav">المفضلة</a></div>
          <div ><a href="contact.html" class="menu_support">كيف تدعمنا</a></div>
          <div ><a href="#" class="menu_contact">اتصل بنا</a></div>
          <h5>أقسام الموقع</h5>
          <div><a href="#" class="square_anc">أخبار اليوم</a></div>
           <div><a href="#" class="square_anc">محليات</a></div>
            <div><a href="#" class="square_anc">السعودية</a></div>
             <div><a href="#" class="square_anc">محليات مصر</a></div>
              <div><a href="#" class="square_anc">سوريا الثورة</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
               <div><a href="#" class="square_anc">محليات عربية</a></div>
        </div>
      </div>
      <script>
          new jQueryCollapse($("#custom-show-hide-example"), {
              open: function () {
                  this.slideDown(150);
              },
              close: function () {
                  this.slideUp(150);
              }
          });
      </script>
    </div>
</body>
 @RenderSection("myhead", false)
</html>
