﻿@model memov5entity.Models.partialsviewmodel

@using memov5entity.Models;
@{
    
    int top = 0;
   
    List<temp_art> tkareer = Model.get_syria_tkarer(10);
}
@if (tkareer.Count > 0)
{
                    int firstcount = 2;
                    if (tkareer.Count == 1) { firstcount = 1; }
 for (int a = 0; a < firstcount; a++)
 {
     string apprev = tkareer[a].apprev.Length > 110 ? tkareer[a].apprev.Substring(0, 110) : tkareer[a].apprev;
             <div class="large_div clearfix"><!--large block-->
          <img  src="@(images_server.updateimg(tkareer[a].img, ""))" width="97" height="97" />
          <div>
            <a href="@tkareer[a].url"><h3>@tkareer[a].title</h3></a>
            <p>@apprev ... </p>
          </div>
        </div> <!--large block-->
			
 }
            if (tkareer.Count > 2)
            {
                
             <ul id="left_news">
               
                   @for (int a = 2; a < tkareer.Count; a++)
                 {

                     int length = tkareer[a].title.Length;
              if (length > 40)
              {
                  top = top + 2;
              }
              else
              {
                  top = top + 1;
              }
              if (top <=11)
              {
             <li><a href="@tkareer[a].url">@tkareer[a].title</a></li>
              }
                   
                 }


 

        </ul>	
            }	
 }