﻿@model memov5entity.Models.partialsviewmodel
@using memov5entity.Models;
 
@{
    int top = 0;
    
    List<temp_art> akhbar = Model.get_syria_akhbar(10);
   // List<temp_art> tkareer = Model.get_syria_tkarer(10);
}
    <div class="sec_left">
            <div class="left_tab_header">
              <h2>سوريا الثورة</h2>
            </div>
            <div class="right_tabs_style">
             <a href="#" id="tab_more"><img src="/images/black_more.png" /></a>
			<ul class="tab_nav1">
				<li><a href="#1">أخبار</a></li>
			  <li><a href="#2">تقارير </a></li>
			</ul>
	 @if (akhbar.Count >= 2)
  {
		<div name="#1" class="local_content">
            @for(int a=0;a<2;a++){
                string apprev = akhbar[a].apprev.Length > 110 ? akhbar[a].apprev.Substring(0, 110) : akhbar[a].apprev;
             <div class="large_div clearfix"><!--large block-->
          <img src="@(images_server.updateimg(akhbar[a].img,""))" width="97" height="97" />
          <div>
            <a href="@akhbar[a].url"><h3>@akhbar[a].title</h3></a>
            <p>@apprev ... </p>
          </div>
        </div> <!--large block-->
			
            }
            @if (akhbar.Count > 2)
            {
                
             <ul id="left_news">
              @*   @for (int a = 2; a < akhbar.Count; a++)
                 {
                     
         <li><a href="@akhbar[a].url">@akhbar[a].title</a></li>
                     
        }*@
                @for (int a = 2; a < akhbar.Count; a++)
                 {

               int length = akhbar[a].title.Length;
              if (length > 40)
              {
                  top = top + 2;
              }
              else
              {
                  top = top + 1;
              }
              if (top <=11)
              {
              <li><a href="@akhbar[a].url">@akhbar[a].title</a></li>
              }
                   
                 }

 

        </ul>	
            }	   
	    </div>
                }
               
		<div name="#2" class="local_content" id="syria_tkareer">
              
	    </div>
               
	  </div>
          </div>
          <script>
              $("#syria_tkareer").load("/partials/syria_tyhawra_tkareer");
          </script>