﻿@using memov5entity.Models;
@using System.Data;
@{
    List<temp_art> topreading = Model.topreadingarticle(9);
    DataTable topcomments = Model.topcommentarticles(9);
    List<temp_art> topsent = Model.topsentarticle(9);
    int top = 0;
    int comment = 0;
    int sent = 0;
}
<div class="f_s_left inner_most_read"><!--first section-->
              <div class="right_tabs_style">
             <a href="#" id="tab_more"><img src="/images/black_more.png" /></a>
			<ul class="tab_nav1">
				<li><a href="#1">الأكثر قراة</a></li>
			  <li><a href="#2">الأكثر تعليقاَ </a></li>
               <li><a href="#3">الأكثر نشراَ </a></li>
			</ul>
		<div name="#1" class="local_content">
        <div id="most_read">
        <ul>
          @for (int a = 0; a < topreading.Count; a++)
          {
                  
       <li><a href="@topreading[a].url">@topreading[a].title</a></li>
              }
            
          

        </ul>
        </div>
		</div>
		<div name="#2" class="local_content">
           <div id="most_read">
        <ul>
        
 @for (int a = 0; a < topcomments.Rows.Count; a++)
 {

 <li><a href="@topcomments.Rows[a]["url"]">@topcomments.Rows[a]["title"]</a></li>
    
 }    
        </ul>
        </div>		   
	    </div>
        <div name="#3" class="local_content">
           <div id="most_read">
        <ul>
      @for (int i = 0; i < topsent.Count ; i++)
      {
              
    <li><a href="@topsent[i].url">@topsent[i].title</a></li>
          }
    
        </ul>
        </div>		   
	    </div>
			
	  </div>
      
           </div>