﻿@model memov5entity.Models.partialsviewmodel
@using memov5entity.Models;
@{
    Article[] arts = Model.get_cat_articles(846, 10);
}

<!--second left block-->
             <div class="inne_left_ads">
              
              
              <div id="container">
				<div id="carousel">
					@foreach(Article art in arts){
					<div><img width="134px" height="90px" src='@(images_server.updateimg(art.image_url,""))' />   <a href="@art.url"><p>@art.Title</p></a></div>
     }
				</div>
				<a href="#" id="ui-carousel-next"><span>next</span></a>
				<a href="#" id="ui-carousel-prev"><span>prev</span></a>
			</div>
              
              
             </div>
            
