﻿@model memov5entity.Models.singlearticle
@using  memov5entity.Models
@using Recaptcha


@{
    Article art = Model.getarticle();
    if(art.stat!=8)
    {
        Response.Redirect("/");
    }
    ViewBag.Title = images_server.mytitle + art.Title.Trim();
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";
}
@section myhead{

    <meta name="description"  content="@art.Apprev"  id="metadisc" />
    <meta name="keywords" content="@art.Apprev"   id="metakey" />
   
    <meta property="fb:admins" content="100000364737779"/>
    <meta property="fb:app_id" content="148708292956"/>
     
     <meta property="og:image" content="@(images_server.name+art.image_url)" />
    <meta property="og:title" content="@art.Title.Replace("\"", " ").Replace("'","").Trim()"/>
	<meta property="og:description" content="@art.Apprev "/>

   

	<meta property="og:url" content= "http://islammemo.cc@(art.url) >"/>
    <meta property="og:type" content="article" />
}

 @{
      // Article art = Model.getarticle();
  List<Article> related = Model.getrelatedarticles();
  List<comment> comments=Model.getcomments();
    List<Category> parentcat=Model.parentcategories();
    
   
        
   
     
     
 }

@if(parentcat.Count>0){
 <div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> >> </p>
     @if(parentcat.Count>1){ <a href="@parentcat[1].url_full_path">@parentcat[1].Name </a>  
    <p> >> </p>
        <a href="@parentcat[0].url_full_path">@parentcat[0].Name</a>
     }else{ <a href="@parentcat[0].url_full_path">@parentcat[0].Name</a>
     }
                 </div>
    }
        <div class="clear"></div>
        <div class="inner_l_div"><!--large div start-->
              <center><h2> @art.Title</h2></center>
              <div class="details"><p>نشرت: <small>@Convert.ToDateTime(art.Date).ToString("dddd dd MMMM yyyy") </small> @if(!string.IsNullOrWhiteSpace(art.author_name)){ بواسطة : <small>@(art.author_name)</small>} </p>
             <button onclick="sendpopup();" class="share"></button>
              </div>
          <div class="clear"></div>
          <div class="detail_pic">
                 <a href="javascript:void"><img  style="max-width:375px;" src='@images_server.updateimg(art.image_url, "")' /></a>
                 
               </div>
               
                 <div class="detail_social" style="width:365px">
                     <style>
                         .detail_social span
                         {
                             margin-top:0px;
                         }

                     </style>
                     <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                   <div class="fb-like" data-href="http://islammemo.cc/@(art.url)" data-send="true" style="float:right;width:250px" data-width="250px" data-show-faces="false"></div>
       
                 </div>
                 

             <div  id="third_ads_pic">
                  

                  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-4264562862176288";
    /* islammemo_mediumRec */
    google_ad_slot = "8818291245";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
                   </div>



              <p> @Html.Raw(art.Body.Replace("مفكرة الإسلام:", "<a href='http://www.islammemo.cc 'style='text-decoration:none;'>" + images_server.mytitle + "</a>"))</p>
        </div><!--large div end-->
        
        <div class="clear"></div>
        
        <div class="related_news"><!--related news-->
           <div class="related_news_header"><h2>أخبار ذات صلة</h2> <a href="javascript:void"><img src="/images/more.png" /></a></div>
            
            @for(int a=0;a<related.Count;a++){
            <div class="related_news_div">
              <a href="@related[a].url"><img src="@images_server.updateimg(related[a].image_url,"")" width="119" height="82" /></a>
             <a href="@related[a].url"> <p>@related[a].Title</p></a>
            </div>
            }
           
            
        </div><!--related news end-->
        <div class="clear"></div>
           <div class="cat_ads">
       <script type="text/javascript"><!--
           google_ad_client = "ca-pub-4264562862176288";
           /* islammemo_banner */
           google_ad_slot = "3521063131";
           google_ad_width = 468;
           google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
           
       </div>
        <!--add comments-->
         <div class="comments clearfix">
           <div class="comments_header"><h2>التعليقات</h2><a href="#">@comments.Count تعليق <img src="/images/white_more.png" /></a></div>
           <div class="clear"></div>
         
           <div class="comments_tabs">
           <div class="right_tabs_style liteTabs">
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">facebook</a></li>
			  <li><a href="#2" class="">مفكرة الإسلام</a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
         <div class="fb-comments" data-href="http://islammemo.cc/@(art.url)" data-width="641" data-num-posts="6"></div>
         
              <div class="clear"></div>
       
           
        
		</div>
		
            
          <div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           <div id="comments">
                
                        </div>
           	  <form name="#2" class="form" method="post">
                
                <center><div class="comment_header"><h2>أضف تعليق</h2></div>
			<p>
				<input type="text" id="username" name="username" title="الاسم" >
                <span id="v_name"></span>
			</p>
            <p>
				<input type="text" id="url" name="url" title="البريد الالكترونى">
			</p>
			<p>
				<input type="hidden" id="article_id" name="article_id" value="@(Model.Id)" /><input type="text"id="title" name="title" title="العنوان">
			<span id="v_title"></span> 
            </p>
            <p>
			
			</p><p>
				<textarea id="body" name="body" cols="10" rows="2" title="التعليق"></textarea>
			<span id="v_body"></span>
            </p>
             <div class="confirm_img" style="direction:ltr;">
				@Html.Raw(Html.GenerateCaptcha("captcha", "white"))
                 @Html.ValidationMessage("captcha")
			</div> 
			<div class="clear"></div>
			<br> 
			<p class="submit"><input type="submit" onclick="return validate();" name="sendMSG" value="اضافة تعليق" id="submit">
			
			</p>
                     @if(ViewData["end"]=="1"){ 
                                            <font style="color:Red;">تم استقبال التعليق بنجاح وسوف يتم السماح له بعد المراجعة
                                            </font>
                                            } 
                 <ul id="sum_valid"></ul>
                          @Html.ValidationSummary() 
           </center>
			</form>	   
	    </div>
			
	  </div>
     </div>
    </div>
         <!--add comments end-->
<script type="text/javascript">
    function validate() {
        document.getElementById('sum_valid').innerHTML = '';
        if (document.getElementById('username').value == "") {

            document.getElementById('v_name').innerHTML = '*';

            var newLI = document.createElement('LI');
            newLI.innerHTML = 'اكتب الاسم';
            newLI.id = "name_li";
            var gl = document.getElementById("sum_valid");
            gl.appendChild(newLI)
        }
        else {
            document.getElementById('v_name').innerHTML = '';
            //$('name_li').remove();
        }
        if (document.getElementById('body').value == "") {
            document.getElementById('v_body').innerHTML = '*';
            var newLI = document.createElement('LI');
            newLI.innerHTML = 'اكتب التعليق';
            newLI.id = "body_li";
            var gl = document.getElementById("sum_valid");
            gl.appendChild(newLI)
        }
        else {
            document.getElementById('v_body').innerHTML = '';
        }
        if (document.getElementById('title').value == "") {
            document.getElementById('v_title').innerHTML = '*';
            //alert('hhhhh');
            document.getElementById('v_title').innerHTML = '*';

            // req_ajax();
            var newLI = document.createElement('LI');
            newLI.innerHTML = 'اكتب عنوان التعليق';
            newLI.id = "title_li";
            var gl = document.getElementById("sum_valid");
            gl.appendChild(newLI)
        }
        else {
            document.getElementById('v_title').innerHTML = '';
        }
        //               
        if (document.getElementById('username').value == "" || document.getElementById('title').value == "" || document.getElementById('body').value == "") {

            return false;
        }
        else {

           // document.comment.submit();
            return true;
        }
    }
    $(document).ready(function () {
       // alert('ttt');
        $('#comments').load('/khabar/comments/' + '@(Model.Id)');

    });
    function sendpopup() {
        window.open('/sendto.aspx?id=@Html.Encode(Model.Id)', 'sendart', 'width=400,height=400,toolbar=0,location=0,directories=0,status=yes,menubar=0,scrollbars=0,copyhistory=0,resizable=yes');
    }
</script>