﻿@model memov5entity.Models.singlearticle
@using  memov5entity.Models
@{
    
    List<comment> comments =( List<comment>) ViewData["comments"];

   for(int count = 0; count < comments.Count(); count++)
       {
 <div class="comment">
		<div class="name">@comments[count].username</div>
		<div class="date"><b>التاريخ: @Convert.ToDateTime(comments[count].cdate).ToString("dd-MMMM-yyyy")</b></div>
        <div></div>
        <div class="give_border"></div>
        <div class="clear"></div>
		<strong>@comments[count].title</strong>
		<p> @comments[count].body</p>
	</div>
    }
    }
