﻿@model memov5entity.Models.searchviewmodel

@{
    ViewBag.Title = "مفكرة الإسلام : بحث ";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}
@{
    System.Data.DataTable dt=Model.Ds; 
    }

<div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/search.aspx">نتائج البحث</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <center><h2>نتائج البحث</h2></center>
           
            </div>
             
             @for (int i = 0; i < dt.Rows.Count; i++)
               {
                            <div class="page2_block2">
<div class="page2_icon_title">
<div class="page2_block2_icon"><img height="15" width="17" src="/images/page2_block2_icon.jpg"></div>
<div class="page2_block2_title"><a href="@dt.Rows[i][6]">@dt.Rows[i][1]</a></div>
</div>
<div class="page2_block2_date" _date="">@Model.tempfunc2(dt.Rows[i][3].ToString())</div>
<div class="page2_block2_content">@dt.Rows[i][2] </div>                 
 <div class="page2_block2_more"><a href="@dt.Rows[i][6]">المزيد</a></div>             
  </div>               
  <div class="clear"></div>                                
               }
</div> 
      
         <div class="clear"></div>
         
