﻿@model memov5entity.Models.edaraviewmodel

@{
    ViewBag.Title = "مفكرة الإسلام : فن الإدارة";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
}

<div class="tabs_container">
  <!--container for 2 tabs-->
            <div class="right_tabs_style liteTabs admin_art_tabs">
             <div class="admin_more"><a href="#">مزيد</a></div>
			<ul class="tab_nav1">
                <li id="admin_art"><p>فن الإدارة</p></li>
				<li><a href="#1" class="selected">الأفراد</a></li>
			  <li><a href="#2">التمويل</a></li>
               <li><a href="#3">التسويق</a></li>
                <li><a href="#4">الإنتاج</a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
           <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
			<div name="#3" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           003		   
	    </div>
        <div name="#4" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           004		   
	    </div>
	  </div>
      <div class="right_tabs_style liteTabs admin_art_tabs">
               <div class="admin_more"><a href="#">مزيد</a></div>
			<ul class="tab_nav1">
                <li id="admin_art"><p>فن الإدارة</p></li>
				<li><a href="#1" class="selected">الأفراد</a></li>
			  <li><a href="#2">التمويل</a></li>
               <li><a href="#3">التسويق</a></li>
                <li><a href="#4">الإنتاج</a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
           <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br />أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
             
             <div style="background-color: rgb(255, 255, 255);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                ا </div>
             </div>
    
		</div>
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           002		   
	    </div>
			<div name="#3" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           003		   
	    </div>
        <div name="#4" class="local_content" style="height: auto; position: absolute; left: -9999px;">
           004		   
	    </div>
	  </div>
          </div><!--end of two tabs container-->
          
          <div class="clear"></div>
          <div class="sections1_2">
<div class="section1">
           <div class="indentmenu3">

<div class="indentmenu_main linkwhite"><a href="#">وظائف ادارية </a></div>
</div>
           <div class="content_section" style="direction: rtl;">
             <div style="background-color: rgb(240, 240, 240);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                 مفكرة الإسلام: أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها </div>
             </div>
             <div style="background-color: rgb(240, 240, 240);" class="content_sections2 clearfix " onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت ا</div>
             </div>
             <div class="content_sections1 clearfix " onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لها
                 وزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لهاوزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لهاوزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لها</div>
             </div>
           </div>
           <div class="sections_more "><a href="#">المزيد</a></div>
  

</div>
<div class="section2">
           <div class="indentmenu4">

<div class="indentmenu_main linkwhite"><a href="#">وظائف ادارية </a></div>
</div>
           <div class="content_section" style="direction: rtl;">
             <div style="background-color: rgb(240, 240, 240);" class="content_sections1 clearfix" onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها 
                 مفكرة الإسلام: أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحاالاتلاتلاتلاتلانناتناتناتناتتية عوزى لندادائم لها في مقر الوكالة الدولية للطاقة التي تتخذ منبو ظبي مقرًا لها </div>
             </div>
             <div style="background-color: rgb(240, 240, 240);" class="content_sections2 clearfix " onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت ا</div>
             </div>
             <div class="content_sections1 clearfix " onmouseover="this.style.backgroundColor='#FFF';" onmouseout="this.style.backgroundColor='#f0f0f0';" style="background-color: rgb(240, 240, 240);">
               <div class="content_sections_pic"><a href="#"><img height="66" border="0" width="96" src="/images/morsy_inner.jpg" alt=""></a></div>
               <div class="content_sections_text"><a href="#">مفكرة الإسلام:</a><br /> أماطت صحيفة يديعوت أحرونوت اللثام عن أن الحكومة "الإسرائيلية" قد صادقت مؤخرًا على طلب وزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لها
                 وزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لهاوزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لهاوزير البنية التحتية عوزى لنداو بتعيين ممثل دائم لها في مقر الوكالة الدولية للطاقة التي تتخذ من أبو ظبي مقرًا لها</div>
             </div>
           </div>
           <div class="sections_more2"><a href="#">المزيد</a></div>
  

</div>
                                  </div>
