﻿@model memov5entity.Models.partialsviewmodel
@using memov5entity.Models
@{
    List<temp_art> arts = Model.get_important_news();
    DateTime lastdate = Model.get_last_article_date();
}
 <div class="news_title"><center>أهم الأخبار: </center></div>
        <ul class="news">
            @foreach(temp_art art in arts){
            <li><a href="@art.url">@art.title </a> </li>
            }
            </ul>
              
            <div class="news_last_update"style="direction:rtl"> اخر تحديث  @lastdate.ToString("d MMMM yyyy hh:mm:ss tt") بتوقيت مكة المكرمة </div>
          <script type="text/javascript" src="/js/jquery.newsTicker-2.2.js"></script>
<script>

$(document).ready(function() {
	var options = {
  		newsList: "ul.news",
 		startDelay: 10,
 		tickerRate: 80,
 		controls: true,
 		ownControls: false,
 		stopOnHover: true,
 		resumeOffHover: true,
	}
	$().newsTicker(options);
});


</script>