﻿@model memov5entity.Models.vedioviewmodel
@using memov5entity.Models
@using System.Text.RegularExpressions
@{
    string cap = ViewData["captcha"].ToString();

    Article art = Model.A;
     if(art.stat!=8)
    {
        Response.Redirect("/");
    }
    List<comment> comments = Model.getcomments();
    ViewBag.Title = images_server.mytitle + art.Title.Trim();
    Layout = "~/Views/Shared/SiteMaster_articles.cshtml";

}
  @section vediostyle
  {  <link type="text/css" rel="stylesheet" href="/widget/css/rcarousel.css" />
		<style type="text/css">
			#container {
				width: 100px;
				height: 400px;
				position: relative;
			}
			
			#carousel {
				position: absolute;
				top: 35px;
				width:293px !important;
			}

			#carousel img {
				border: 3px solid #404040;
				width:134px !important;
				height:90px !important;
				margin-bottom:10px !important;
				float:left;
			}
			
			#carousel p{
						color: #363c3e;
						font-size:16px;
						font-weight:bold;
						height:70px;
						margin-top:10px}
						
			#carousel div small{color:#dadada;
			                   margin-right:45px;}
			#carousel div{ width:293px !important;
			 border-bottom:2px dashed #dcdcdc;
			  margin-bottom:5px !important}

			#ui-carousel-next, #ui-carousel-prev {
				width: 292px;
				height: 22px;
				background: url(/images/lower.jpg) no-repeat;
				display: block;
				position: absolute;
				left: 0
				z-index: 100;
			}

			#ui-carousel-next {
				top: 0;
				background-image: url(/images/upper.jpg) !important;
			}

			#ui-carousel-prev {
				bottom: 0;
			}
			
			#ui-carousel-next > span, #ui-carousel-prev > span {
				display: none;
			}	
		</style>
  }
  @section scriptvedio
  { 
		<script type="text/javascript" src="/widget/lib/jquery.ui.core.js"></script>
		<script type="text/javascript" src="/widget/lib/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="/widget/lib/jquery.ui.rcarousel.js"></script>
          }
          @section vedioscript
          {
          <script type="text/javascript">
              jQuery(function ($) {
                  $("#carousel").rcarousel({
                      orientation: "vertical"
                  });

                  $("#ui-carousel-next")
					.add("#ui-carousel-prev")
					.hover(
						function () {
						    $(this).css("opacity", 0.7);
						},
						function () {
						    $(this).css("opacity", 1.0);
						}
					);
              });
		</script>

          }
           
           @section myhead{
 <meta name="description"  content="@art.Apprev"  id="metadisc" />
    <meta name="keywords" content="@art.Apprev"   id="metakey" />
   
    <meta property="fb:admins" content="100000364737779,100000686899395"/>
    <meta property="fb:app_id" content="148708292956"/>
     <meta property="og:image" content="@images_server.name @art.image_url" />
    <meta property="og:title" content="@art.Title.Replace("\"", " ").Replace("'","").Trim()"/>
	<meta property="og:description" content="@art.Apprev "/>

   

	<meta property="og:url" content= "http://islammemo.cc@(art.url) >"/>
    <meta property="og:type" content="article" />

      <script>          (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=148708292956";
              fjs.parentNode.insertBefore(js, fjs);
          } (document, 'script', 'facebook-jssdk'));</script>
    }
         
         @{
      string titleforsocial = art.Title.Replace("\"", " ").Replace("'","").Trim();
    
    string bod = art.Body;
    string bod2 = Regex.Split(bod, "------------ ")[0];    
}
  <div class="contact_bg">
          <div class="contact_header">
            <h2>@art.Title </h2>

           <img src="/images/one_pic.png" width="49" height="67" />
            <h2 class="date_no">@Convert.ToDateTime(Model.A.Date).Day</h2>
           <small>@Convert.ToDateTime(Model.A.Date).ToString("MMM")</small>
           </div>
         <div class="inner_social">
   <div class="fb-like" data-href="http://islammemo.cc/@(art.url)" data-send="true" style="float:right;width:250px" data-width="250px" data-show-faces="false"></div>
    
  <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
    
           
            <button onclick="sendpopup();" class="share"></button>
         </div>
         <div class="clear"></div>

        <div id="video_center" align="center" style="margin-top:8px;">  
                           
  <div> @Html.Raw(Regex.Split(art.Body, "------------ ")[0]) </div>
        
                 </div>

        <center>
        <br />
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-4264562862176288";
            /* islammemo_banner */
            google_ad_slot = "3521063131";
            google_ad_width = 468;
            google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        </center>
         </div> <!--first section eng-->
           
           <div class="clear"></div>

          
           <div class="video_cat">
                       <ul class="cat ">
                       @{
                           
                           List<Article> related_arts = Model.getrelatedarticles();
                           int count_related_arts = related_arts.Count; 
                           }
                          
                                
                     @for (int i =0; i < count_related_arts; i++)
                     {
                         string style = "cat_border";
                         if (related_arts[i].image_url == null)
                         {
                             related_arts[i].image_url = "media/noimage.jpg";

                         }
                         
                         if (i ==0)
                         {
                             style = "cat_border clearfix";
                         }
                         if(i ==2 || i==5 || i==8)
                         {
                             style = "";
                         }
                         <li class="@style">
                                                
                          <center><a href="@related_arts[i].url" rel="0"><img height="131" width="196" src="@images_server.name@related_arts[i].image_url"></a></center>
              <a href="@related_arts[i].url"><p>@related_arts[i].Title 
            
            </p></a>
            <div class="video_date">
                        <p>@Convert.ToDateTime(related_arts[i].Date).ToString("d MMMM yyyy")</p><a href="javascript:void"><center>@related_arts[i].Readers</center></a>
                      </div>    </li>
                         
                         

                         }
                        
                    
                     
                                
            
                <div class="cat_border2"></div>  
                </ul>
           </div><!--video cat end-->
             <div class="clear"></div>
                  <!--add comments-->
         <div class="comments clearfix">
           <div class="comments_header"><h2>التعليقات</h2><a href="#">@comments.Count تعليق <img src="/images/white_more.png" /></a></div>
           <div class="clear"></div>
         
           <div class="comments_tabs">
           <div class="right_tabs_style liteTabs">
			<ul class="tab_nav1">
				<li><a href="#1" class="selected">facebook</a></li>
			  <li><a href="#2" class="">مفكرة الإسلام</a></li>
			</ul>
		<div name="#1" class="local_content selected" style="height: auto; position: absolute; left: -9999px;">
        
            <script src="http://connect.facebook.net/ar_AR/all.js#xfbml=1"></script><fb:comments href="islammemo.cc/@(art.url)" num_posts="6" width="660"></fb:comments>
              <div class="clear"></div>
         
			
           
        
		</div>
		
               
		<div name="#2" class="local_content" style="height: auto; position: absolute; left: -9999px;">
            
    
  
    <div id="comments">

		</div>
          <form name="#2" class="form" method="post">
                
                <center><div class="comment_header"><h2>أضف تعليق</h2></div>
				<p>
				<input type="text" id="SName" name="SName" placeholder="الاسم"  /><span id="v_name"></span>
			</p>
           	<p>
				<input type="text" id="SEmail" name="SEmail" placeholder="البريد الالكتروني" /><span id="v_email"></span>
			</p>
			 <p>
				<input type="text" id="Title" name="Title" placeholder="عنوان التعليق"  /><span id="v_title"></span>
			</p>
            <p>
			
			</p><p>
				<textarea name="Body" id="Body" placeholder="موضوع التعليق"></textarea><span id="v_body"></span>
			</p>
            <p> <input type="hidden" id="article_id" name="article_id" value="@Model.Id" /></p>
             <p class="confirm_img">
				<input type="text" id="image_writing" name="image_writing" placeholder="التحقق من الصورة" /><span id="v_image"></span>
                @{ Random r = new Random();
                   int aynon = r.Next(0, 2000);
                    }
                
                <img src="/confirm_img.jpg" width="81" height="28" />
			</p> 
			<div class="clear"></div>
			<br> 
               @if (ViewData["end"] == "1")
               { 
            <font style="color:Red;"><p><h3>تم استقبال تعليقك بنجاح وسيتم مراجعته من قبل الادارة والسماح له</h3></p></font>
                                            
               }
               else
               {
			<p class="submit"><input type="submit" name="sendMSG" value="اضافة تعليق" onclick="return validate();" id="submit">
			
			</p>
               }
           </center>
          
			</form>
             <div><ul class="form_warn" id="sum_valid">    
                                    </ul></div>
	    </div>
		
	  </div>
     </div>
     
    </div>
         <!--add comments end-->
        
 <script type="text/javascript" src="../../js/validation.js"></script>
 <script type="text/javascript" language="javascript">
     function validate() {
         document.getElementById('sum_valid').innerHTML = '';

         if ( document.getElementById('SName').value == "") {
             document.getElementById('v_name').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_name').innerHTML = '';
             //$('name_li').remove();
         }



         if ( document.getElementById('SEmail').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         if (document.getElementById('SEmail').value != "" && document.getElementById('SEmail').value != "البريد الالكتروني" && filter.test(document.getElementById('SEmail').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }



         if ( document.getElementById('Title').value == "") {
             document.getElementById('v_title').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل عنوان الرسالة';
             newLI.id = "title_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_title').innerHTML = '';
         }

         if (document.getElementById('Body').value == "") {
             document.getElementById('v_body').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الرسالة';
             newLI.id = "body_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_body').innerHTML = '';
         }

         if (document.getElementById('image_writing').value != '@cap') {
             document.getElementById('v_image').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الصورة';
             newLI.id = "image_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_image').innerHTML = '';
         }


         //alert(document.getElementById('Body').value);
         if (document.getElementById('SName').value == "" || document.getElementById('SEmail').value == "" || document.getElementById('Title').value == "" || document.getElementById('Body').value == "" || document.getElementById('image_writing').value != '@cap')
             return false;

         if (document.getElementById('SEmail').value != "" && filter.test(document.getElementById('SEmail').value) == false)
             return false;

         return true;
     }
                
                
                </script>
                <script type="text/javascript" >
                    $(document).ready(function () {

                        $('#comments').load('/khabar/comments/' + '@(Model.Id)');

                    });
                    function sendpopup() {
                        window.open('/sendto.aspx?id=@Html.Encode(Model.Id)', 'sendart', 'width=400,height=400,toolbar=0,location=0,directories=0,status=yes,menubar=0,scrollbars=0,copyhistory=0,resizable=yes');
                    }
</script>

