﻿@model memov5entity.Models.guestviewmodel
@using memov5entity.Models;
@using System.Collections;


@{
    ViewBag.Title = "مفكرة الإسلام : سجل الزوار";
    Layout = "~/Views/Shared/SiteMaster2.cshtml";
   
}

@section myhead
{

<script type="text/javascript">
    $(document).ready(function () {
    $("#guest").addClass("selected");
     });

$(document).ready(function () {
    $("#guest2").addClass("selected");
});


</script>
 <meta  name="keywords" content="سجل الزوار" />
  <meta  name="description" content="سجل الزوار" />
  


}
<div class="where">
                  <b>أين أنت الآن:</b> 
                 <a href="/">الرئيسية</a>
                 <p> &gt;&gt; </p>
                 <a href="/guest.aspx">سجل الزوار</a>
                 </div>
            <div class="guest_bg">
            <div class="contact_header">
              <h2>سجل الزوار</h2>
              <img src="/images/guest2.png"/>
            </div>
              @{
                
                  List<Guest> comments_list = Model.get7comments();
                  int comments_count = comments_list.Count;
              }
            @for (int i = 0; i < comments_count; i++)
            {
    <div class="comment">
		<div class="name">@comments_list[i].SName</div>
		<div class="date"><b>التاريخ : @Convert.ToDateTime( comments_list[i].Date).ToString("d MMMM yyyy")</b></div>
        <div><b>البلد:@comments_list[i].Country</b></div>
        <div class="give_border"></div>
        <div class="clear"></div>
		<strong>@comments_list[i].Title</strong>
		<p>@Html.Raw( @comments_list[i].Body)</p>
       
	</div>
 
            }
   
 
            </div>
            <div class="green-black">
                    @{int pages_count = Model.get_pages_count();
                          string cat_url = "/guest.aspx";
                          ArrayList viewdata_array = new ArrayList();
                          viewdata_array.Add(pages_count);
                          viewdata_array.Add(cat_url);
                          ViewData["model"] = viewdata_array; }
                        @Html.Partial("pagination", ViewData["model"])  		
                </div>
                <div class="clear"></div>
                <!--add comment-->
                
                <form class="form" method="post">
                
                <center><div class="comment_header"><h2>أضف تعليق</h2></div>
			<p>
				<input type="text" id="SName" name="SName" placeholder="الاسم" value="" /><span id="v_name"></span>
			</p>
            <p>
				<input type="text" id="Country" name="Country" placeholder="البلد" value="" /><span id="v_country"></span>
			</p>
			<p>
				<input type="text" id="SEmail" name="SEmail" placeholder="البريد الالكتروني" value="" /><span id="v_email"></span>
			</p>
			 <p>
				<input type="text" id="Title" name="Title"  placeholder="عنوان التعليق" value="" /><span id="v_title"></span>
			</p>
			<p>
				<textarea name="Body" id="Body" placeholder="موضوع التعليق"></textarea><span id="v_body"></span>
			</p>
             <p class="confirm_img">
				<input type="text" id="image_writing" name="image_writing" placeholder="التحقق من الصورة" value="" /><span id="v_image"></span>
                @{ Random r = new Random();
                   int aynon = r.Next(0, 2000);
                    }
                
                <img src="/confirm_img.jpg?id=@aynon" width="81" height="28" />
			</p> 
			<div class="clear"></div>
			<br> 
               @if (ViewData["thanks"].ToString().Trim().Length == 0)
               {          
			<p class="submit"><input type="submit" name="sendMSG" value="اضافة تعليق" onclick="return validate();" id="submit">
			
			</p>
               }<center style="color:Red"><h3><pre>@ViewData["thanks"]</pre></h3></center>
           </center>
			</form>
       <div ><h4><ul class="form_warn" id="sum_valid">    
                                    </ul></h4></div>
                <!--add comment end-->
                 @{string cap = ViewData["captcha"].ToString();}

 <script type="text/javascript" language="javascript">

     function validate() {
         document.getElementById('sum_valid').innerHTML = '';

         if (document.getElementById('SName').value == "") {
             document.getElementById('v_name').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = "من فضلك ادخل الاسم ";
             newLI.id = "name_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_name').innerHTML = '';
             //$('name_li').remove();
         }


         if (document.getElementById('Country').value == "") {
             document.getElementById('v_country').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البلد';
             newLI.id = "country_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_country').innerHTML = '';
             //$('country_li').remove();
         }
         if (document.getElementById('SEmail').value == "") {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'أدخل بريدك الإليكتروني';
             newLI.id = "email_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }
         var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         if (document.getElementById('SEmail').value != "" && document.getElementById('SEmail').value != "البريد الالكتروني" && filter.test(document.getElementById('SEmail').value) == false) {
             document.getElementById('v_email').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل البريد الاكترونى بصورة صحيحة';
             newLI.id = "temail_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_email').innerHTML = '';
         }



         if (document.getElementById('Title').value == "") {
             document.getElementById('v_title').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل عنوان الرسالة';
             newLI.id = "title_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_title').innerHTML = '';
         }

         if (document.getElementById('Body').value == "") {
             document.getElementById('v_body').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الرسالة';
             newLI.id = "body_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_body').innerHTML = '';
         }

         if (document.getElementById('image_writing').value != '@cap') {
             document.getElementById('v_image').innerHTML = '*';
             var newLI = document.createElement('LI');
             newLI.innerHTML = 'من فضلك ادخل الصورة';
             newLI.id = "image_li";
             var gl = document.getElementById("sum_valid");
             gl.appendChild(newLI)
         }
         else {
             document.getElementById('v_image').innerHTML = '';
         }


         //alert(document.getElementById('Body').value);
         if (document.getElementById('SName').value == "" || document.getElementById('Country').value == "" || document.getElementById('SEmail').value == "" || document.getElementById('Title').value == "" || document.getElementById('Body').value == "" || document.getElementById('image_writing').value != '@cap')
             return false;

         if (document.getElementById('SEmail').value != "" && filter.test(document.getElementById('SEmail').value) == false)
             return false;

         return true;
     }
                
                
                </script>
              